In [38]:
import pandas as pd
import re

import past_guest_module as pm

import sys
sys.path.append('../zoho_data_app/')

import main_module as m

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
cols = ['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office','KarmaClubProgram']

In [40]:
path = r'C:\Users\fajar\Documents\Python\Data\KCC cc-cl\2024\Sep\12 Sep - 23 Sep\KCE CC CL 12 Sep - 23 Sep.xlsx'
df_kce = pd.read_excel(path, dtype='string', sheet_name='Sheet1', usecols=cols)
count_data_awal = df_kce.shape[0]
df_kce

,Account ID,FirstName,lastname,Country,Email,Phone,AcStatus,Servicing Office,KarmaClubProgram
0,1204301,Aaron,Mccracken,Australia,aaron.mccracken@carlislehomes.com.au,61436285036,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1,1203360,Yuveersingh,Chuudunsing,Australia,adhir230287@gmail.com,61478182443,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1203592,Adrian,La Brooy,Australia,adrianlabrooy@gmail.com,61459389144,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1203632,Ameerun Nisha,Tahir,Australia,ameerun@hotmail.com,61423692454,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1203368,Thomas,French,Australia,annette.french6@bigpond.com,61408388335,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
1084,1204067,Michael,Kuntz,<NA>,kuntz.michael@gmail.com,15108479551,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1085,1204703,Michael,Winn,<NA>,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1086,1204664,Victor,Sydnor,<NA>,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1087,1203430,Hemendra,Vaghela,<NA>,vidhivaghela.2009@gmail.com,919624577755,ACTIVE,KC EXPERIENCE India,South Goa
1088,1204739,Vlad,Kontsevoi,<NA>,vkontsev@gmail.com,13122312884,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [41]:
df_kce.columns

Index(['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office', 'KarmaClubProgram'],
      dtype='object')

In [42]:
df_kce.rename(columns = {
    'Account ID':'number', 
    'AcStatus':'Account Status',
    'KarmaClubProgram':'Karma Club Program',
    }, inplace = True)

In [43]:
df_kce.fillna('empty', inplace=True)

In [44]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_phone_member_kce = pd.read_excel(path, dtype='string', sheet_name='Phone')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_email_member_kce = pd.read_excel(path, dtype='string', sheet_name='Email')

In [45]:
m.clean_number(df_kce, 'Phone')
m.replace_not_valid_to_empty(df_kce, 'Phone')
df_kce['Email'] = m.lowercase(df_kce, 'Email')
m.clean_space(df_kce, 'Email')

m.clean_number(df_phone_member_odd, 'Mobile')
df_email_member_odd['Email'] = m.lowercase(df_email_member_odd, 'Email')
m.clean_space(df_email_member_odd, 'Email')

m.clean_number(df_phone_member_kce, 'Phone')
df_email_member_kce['Email'] = m.lowercase(df_email_member_kce, 'Email')
m.clean_space(df_email_member_kce, 'Email')

0          aameercok@gmail.com.com
1              imerwan@hotmail.com
2              mkptech15@gmail.com
3        sovitmittal2000@yahoo.com
4          smritidas1431@gmail.com
                   ...
86788    devin.g.crowley@gmail.com
86789             herblif1@aol.com
86790             moodysix@aol.com
86791       tauhir.jones@gmail.com
86792       yacinthe1112@yahoo.com
Name: Email, Length: 86793, dtype: string

In [46]:
pm.email_correction(df_kce, 'Email')
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1204301,Aaron,Mccracken,Australia,aaron.mccracken@carlislehomes.com.au,61436285036,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1,1203360,Yuveersingh,Chuudunsing,Australia,adhir230287@gmail.com,61478182443,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1203592,Adrian,La Brooy,Australia,adrianlabrooy@gmail.com,61459389144,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1203632,Ameerun Nisha,Tahir,Australia,ameerun@hotmail.com,61423692454,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1203368,Thomas,French,Australia,annette.french6@bigpond.com,61408388335,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
1084,1204067,Michael,Kuntz,empty,kuntz.michael@gmail.com,15108479551,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1085,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1086,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1087,1203430,Hemendra,Vaghela,empty,vidhivaghela.2009@gmail.com,919624577755,ACTIVE,KC EXPERIENCE India,South Goa
1088,1204739,Vlad,Kontsevoi,empty,vkontsev@gmail.com,13122312884,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [47]:
count_email_phone_empty = df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].shape[0]

df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_email_phone_empty_kce.csv', index=False)

df_kce.drop(df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_email_phone_empty = df_kce.shape[0]

In [48]:
# Cek leads test
test_leads = df_kce.loc[
    
        df_kce['Email'].str.contains('^test@', flags=re.I, regex=True) |
        df_kce['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        df_kce['FirstName'].str.contains('^test$', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('^test$', flags=re.I, regex=True) |

        df_kce['FirstName'].str.contains('test 1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test 2', flags=re.I, regex=True)|
        df_kce['FirstName'].str.contains('test1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test2', flags=re.I, regex=True)|

        df_kce['FirstName'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test$', flags=re.I, regex=True)
    
    
    ]

count_leads_test = test_leads.shape[0]

test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [49]:
df_kce.drop(test_leads.index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_test = df_kce.shape[0]

In [50]:
# Cek Email Karma
email_karma = m.find_karma(df_kce, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [51]:
# delete email Karma
count_after_clean_karma = m.delete_karma(df_kce, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1204301,Aaron,Mccracken,Australia,aaron.mccracken@carlislehomes.com.au,61436285036,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1,1203360,Yuveersingh,Chuudunsing,Australia,adhir230287@gmail.com,61478182443,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1203592,Adrian,La Brooy,Australia,adrianlabrooy@gmail.com,61459389144,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1203632,Ameerun Nisha,Tahir,Australia,ameerun@hotmail.com,61423692454,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1203368,Thomas,French,Australia,annette.french6@bigpond.com,61408388335,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
1083,1204067,Michael,Kuntz,empty,kuntz.michael@gmail.com,15108479551,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1084,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1085,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1086,1203430,Hemendra,Vaghela,empty,vidhivaghela.2009@gmail.com,919624577755,ACTIVE,KC EXPERIENCE India,South Goa
1087,1204739,Vlad,Kontsevoi,empty,vkontsev@gmail.com,13122312884,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [52]:
find_member_oddysey = df_kce.copy()

find_member_oddysey.loc[find_member_oddysey['Phone'].isin(df_phone_member_odd['Mobile']), 'Same Value Find'] = 'Member-Mobile' 

find_member_oddysey.loc[find_member_oddysey['Email'].isin(df_email_member_odd['Email']), 'Same Value Find'] = 'Member-Email'
find_member_oddysey.drop(find_member_oddysey.loc[find_member_oddysey['Same Value Find'].isna()].index, inplace=True)

find_member_oddysey.replace('empty', '', inplace=True)

find_member_oddysey.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_odyssey.csv', index=False)

In [53]:
count_dedup_member_odd = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
86,1204454,Gary,Patience,Australia,money3@westnet.com.au,61429081137,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
252,1203810,AJAY JOE,CHINNAN,India,ammujalappatt@gmail.com,919916215661,ACTIVE,KC EXPERIENCE India,empty
257,1203508,Aneesh,George,India,aneeshgeorge1@gmail.com,919632766966,ACTIVE,KC EXPERIENCE India,empty
310,1204183,SHANTANU RAJENDRA BRAHME,BRAHME,India,brahmeshantanu@gmail.com,919096558250,ACTIVE,KC EXPERIENCE India,empty
597,1204570,PRASHANT KUMAR,PURWANT,India,pkpurwant@gmail.com,919538064643,ACTIVE,KC EXPERIENCE India,empty
680,1203442,Rohit,Trehan,India,rohit_trehan@rediffmail.com,918146882277,ACTIVE,KC EXPERIENCE India,South Goa
700,1203257,Rohit,Saini,India,sainibmw@gmail.com,919992447711,ACTIVE,KC EXPERIENCE India,South Goa
726,1203736,SEEMA,PATIL,India,seema.athani@gmail.com,919900022944,ACTIVE,KC EXPERIENCE India,empty
837,1204595,PUSHPA,KHAJINDAR,India,vedika8408@gmail.com,918408850805,ACTIVE,KARMA CONCIERGE INDIA,empty

In [54]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_odd = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1204301,Aaron,Mccracken,Australia,aaron.mccracken@carlislehomes.com.au,61436285036,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1,1203360,Yuveersingh,Chuudunsing,Australia,adhir230287@gmail.com,61478182443,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1203592,Adrian,La Brooy,Australia,adrianlabrooy@gmail.com,61459389144,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1203632,Ameerun Nisha,Tahir,Australia,ameerun@hotmail.com,61423692454,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1203368,Thomas,French,Australia,annette.french6@bigpond.com,61408388335,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
1074,1204067,Michael,Kuntz,empty,kuntz.michael@gmail.com,15108479551,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1075,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1076,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1077,1203430,Hemendra,Vaghela,empty,vidhivaghela.2009@gmail.com,919624577755,ACTIVE,KC EXPERIENCE India,South Goa
1078,1204739,Vlad,Kontsevoi,empty,vkontsev@gmail.com,13122312884,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [55]:
find_member_kce = df_kce.copy()

find_member_kce.loc[find_member_kce['Phone'].isin(df_phone_member_kce['Phone']), 'Same Value Find'] = 'Member-KCE-Mobile' 

find_member_kce.loc[find_member_kce['Email'].isin(df_email_member_kce['Email']), 'Same Value Find'] = 'Member-KCE-Email'
find_member_kce.drop(find_member_kce.loc[find_member_kce['Same Value Find'].isna()].index, inplace=True)

find_member_kce.replace('empty', '', inplace=True)

find_member_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_kce.csv', index=False)

In [56]:
count_dedup_member_kce = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])

].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
245,1204181,AMEY ASHOK,PHADNIS,India,ameyphadnis1990@gmail.com,918407932020,ACTIVE,KC EXPERIENCE India,empty
287,1197442,ASHISH,KANT,India,awesomeaarya89@gmail.com,917073670384,ACTIVE,KC EXPERIENCE India,empty
315,1203987,CHANDRASHEKAR,.P,India,chandu22091987@gmail.com,919901293937,ACTIVE,KC EXPERIENCE India,empty
319,1203739,CHIRAG,CHUGH,India,chiragchugh@hotmail.com,919820150749,ACTIVE,KARMA CONCIERGE INDIA,empty
335,1202421,DEEPAK,CHAUHAN,India,deepakchauhan3c@gmail.com,918810329394,ACTIVE,KC EXPERIENCE India,empty
385,1204271,GAURAV,VERMA,India,gverma16@gmail.com,917286896131,ACTIVE,KC EXPERIENCE India,empty
564,1201670,NITIN,KHULLER,India,nitin.khuller@gmail.com,919833983418,ACTIVE,KC EXPERIENCE India,empty
615,1203375,Prince,Billawrja,India,prifar1002@gmail.com,919682614774,ACTIVE,KC EXPERIENCE India,South Goa
646,1203606,Rajesh,Saini,India,rajeshsaini0209@gmail.com,919212528666,ACTIVE,KC EXPERIENCE India,North Goa
647,1204623,RAJ KUMAR,GC,India,rajk23in@yahoo.co.in,919845282113,ACTIVE,KC EXPERIENCE India,empty
680,1203504,DEEPAK,SHANMUGUM,India,rpdeep@gmail.com,919900092164,ACTIVE,KC EXPERIENCE India,empty
719,1204240,JYOTHI,KUMAR,India,send2jyotika@gmail.com,919866349750,ACTIVE,KC EXPERIENCE India,empty
811,1203278,Tousif,Ali,India,tousifali2kmx.tt@gmail.com,918123836689,ACTIVE,KC EXPERIENCE India,South Goa
1059,1145707,Gordon,Rowat,United Kingdom,rowatg@gmail.com,16048428414,ACTIVE,KC EXPERIENCE India,KARMA SONG HOAI

In [57]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_kce = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1204301,Aaron,Mccracken,Australia,aaron.mccracken@carlislehomes.com.au,61436285036,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1,1203360,Yuveersingh,Chuudunsing,Australia,adhir230287@gmail.com,61478182443,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1203592,Adrian,La Brooy,Australia,adrianlabrooy@gmail.com,61459389144,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1203632,Ameerun Nisha,Tahir,Australia,ameerun@hotmail.com,61423692454,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1203368,Thomas,French,Australia,annette.french6@bigpond.com,61408388335,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
1060,1204067,Michael,Kuntz,empty,kuntz.michael@gmail.com,15108479551,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1061,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1062,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1063,1203430,Hemendra,Vaghela,empty,vidhivaghela.2009@gmail.com,919624577755,ACTIVE,KC EXPERIENCE India,South Goa
1064,1204739,Vlad,Kontsevoi,empty,vkontsev@gmail.com,13122312884,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [58]:
# hitung jumlah duplicate
count_duplicate_general = df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])].shape[0]

df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])]

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [59]:
df_kce.drop_duplicates(subset=['Email','Phone'], inplace=True)
df_kce.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = df_kce.shape[0]

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1204301,Aaron,Mccracken,Australia,aaron.mccracken@carlislehomes.com.au,61436285036,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1,1203360,Yuveersingh,Chuudunsing,Australia,adhir230287@gmail.com,61478182443,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1203592,Adrian,La Brooy,Australia,adrianlabrooy@gmail.com,61459389144,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1203632,Ameerun Nisha,Tahir,Australia,ameerun@hotmail.com,61423692454,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1203368,Thomas,French,Australia,annette.french6@bigpond.com,61408388335,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
1060,1204067,Michael,Kuntz,empty,kuntz.michael@gmail.com,15108479551,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1061,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1062,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1063,1203430,Hemendra,Vaghela,empty,vidhivaghela.2009@gmail.com,919624577755,ACTIVE,KC EXPERIENCE India,South Goa
1064,1204739,Vlad,Kontsevoi,empty,vkontsev@gmail.com,13122312884,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [60]:
list_UK_EU = pm.get_list_UK_EU()
list_Others = pm.get_list_Others()

In [61]:
df_kce.loc[df_kce['Country'].isin(list_Others)]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1204301,Aaron,Mccracken,Australia,aaron.mccracken@carlislehomes.com.au,61436285036,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1,1203360,Yuveersingh,Chuudunsing,Australia,adhir230287@gmail.com,61478182443,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1203592,Adrian,La Brooy,Australia,adrianlabrooy@gmail.com,61459389144,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1203632,Ameerun Nisha,Tahir,Australia,ameerun@hotmail.com,61423692454,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1203368,Thomas,French,Australia,annette.french6@bigpond.com,61408388335,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
1051,1204813,Dawid,Bator,USA,batorentreprise@gmail.com,16462589774,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1052,1203848,William,Campbell,USA,lynne@gvtc.com,12103175319,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1053,1204310,Kilven,Wells,USA,wellschandra09@comcast.net,17138595803,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
1054,1203678,Dawid,Szpakiewicz,Vietnam,carlalaquijote@gmail.com,84327963907,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1055,1203845,Kim Il,Hong,Vietnam,katehuynh82@gmail.com,84909901149,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [62]:
df_kce.loc[df_kce['Country'].str.contains('India'), 'Area'] = 'India'
df_kce.loc[df_kce['Country'].isin(list_UK_EU), 'Area'] = 'UK EU'
df_kce.loc[df_kce['Country'].isin(list_Others), 'Area'] = 'Others'

In [63]:
df_kce.loc[df_kce['Area'] == 'India', 'Batch'] = 'INDIA'
df_kce.loc[df_kce['Area'] == 'UK EU', 'Batch'] = 'NONINDIA'
df_kce.loc[df_kce['Area'] == 'Others', 'Batch'] = 'NONINDIA'

In [64]:
df_kce.replace('empty', '', inplace=True)

In [65]:
df_kce.columns

Index(['number', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program', 'Area',
       'Batch'],
      dtype='object')

In [66]:
new_cols = ['number', 'FirstName', 'lastname', 'Country', 'Area', 'Batch', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program']

df_kce = df_kce.reindex(columns=new_cols)

In [67]:
count_data_akhir = df_kce.shape[0]

df_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\final_kce.csv', index=False)

In [68]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Data Awal KCE CC-CL : "+str(count_data_awal))
print("Jumlah Data Email dan Phone Kosong : "+str(count_email_phone_empty))
print("Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : "+str(count_after_email_phone_empty))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Data Yang Terkena Dedup Member Oddysey : "+str(count_dedup_member_odd))
print("Jumlah Data Setelah Dedup Member Oddysey : "+str(count_after_dedup_member_odd))
print("Jumlah Data Yang Terkena Dedup Past Guest KCE : "+str(count_dedup_member_kce))
print("Jumlah Data Setelah Dedup Past Guest KCE : "+str(count_after_dedup_member_kce))
print("Jumlah Data Yang Duplicate : "+str(count_duplicate_general))
print("Jumlah Data Setelah Hapus Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Data Akhir : "+str(count_data_akhir))

==========================================================
Summary
==========================================================
Jumlah Data Awal KCE CC-CL : 1089
Jumlah Data Email dan Phone Kosong : 1
Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : 1088
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 1088
Jumlah Email Karma : 0
Jumlah Setelah Clean Email Karma : 1088
Jumlah Data Yang Terkena Dedup Member Oddysey : 9
Jumlah Data Setelah Dedup Member Oddysey : 1079
Jumlah Data Yang Terkena Dedup Past Guest KCE : 14
Jumlah Data Setelah Dedup Past Guest KCE : 1065
Jumlah Data Yang Duplicate : 0
Jumlah Data Setelah Hapus Duplicate : 1065
Jumlah Data Akhir : 1065