In [4]:
import pandas as pd
import re

import past_guest_module as pm

import sys
sys.path.append('../zoho_data_app/')

import main_module as m

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
cols = ['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office','KarmaClubProgram']

In [6]:
path = r'C:\Users\fajar\Documents\Python\Data\KCC cc-cl\2024\Juli\14 July - 22 July\KCE CC CL 14 July - 22 July.xlsx'
df_kce = pd.read_excel(path, dtype='string', sheet_name='Sheet1', usecols=cols)
count_data_awal = df_kce.shape[0]
df_kce

,Account ID,FirstName,lastname,Country,Email,Phone,AcStatus,Servicing Office,KarmaClubProgram
0,1193515,Raghav,Shah,Australia,87pshah@gmail.com,61433360018,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1193765,Aaron,Hockey,Australia,aaronhockey83@hotmail.com,61424789954,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1193974,Chandraseknar,Etwari,Australia,aatish.etwari@gmail.com,61452582026,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1193489,Aijin,Mukkadakal,Australia,aijin007@gmail.com,61488395909,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
4,1193498,Ailen,Christie,Australia,alcat28@yahoo.com.au,61488078094,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
656,1193972,Gaurav,Paudel,<NA>,gauravpaudel@gmail.com,15129094562,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
657,1193973,Jeffrey,Bailey,<NA>,jeffrey.bailey95@gmail.com,13852869036,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
658,1193976,Daniel,Wojno,<NA>,lerma.gayle@gmail.com,19203069338,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
659,1193332,Isaac,Flores,<NA>,romerobenitezsusana@gmail.com,12027900261,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
660,1193343,Trevor,Olsen,<NA>,trevorolsen87@gmail.com,15414202928,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [7]:
df_kce.columns

Index(['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office', 'KarmaClubProgram'],
      dtype='object')

In [8]:
df_kce.rename(columns = {
    'Account ID':'number', 
    'AcStatus':'Account Status',
    'KarmaClubProgram':'Karma Club Program',
    }, inplace = True)

In [9]:
df_kce.fillna('empty', inplace=True)

In [10]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_phone_member_kce = pd.read_excel(path, dtype='string', sheet_name='Phone')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_email_member_kce = pd.read_excel(path, dtype='string', sheet_name='Email')

In [11]:
m.clean_number(df_kce, 'Phone')
m.replace_not_valid_to_empty(df_kce, 'Phone')
df_kce['Email'] = m.lowercase(df_kce, 'Email')
m.clean_space(df_kce, 'Email')

m.clean_number(df_phone_member_odd, 'Mobile')
df_email_member_odd['Email'] = m.lowercase(df_email_member_odd, 'Email')
m.clean_space(df_email_member_odd, 'Email')

m.clean_number(df_phone_member_kce, 'Phone')
df_email_member_kce['Email'] = m.lowercase(df_email_member_kce, 'Email')
m.clean_space(df_email_member_kce, 'Email')

0          aameercok@gmail.com.com
1              imerwan@hotmail.com
2              mkptech15@gmail.com
3        sovitmittal2000@yahoo.com
4          smritidas1431@gmail.com
                   ...
82327        leung.sweta@gmail.com
82328        malbashir06@gmail.com
82329          roksolidz@gmail.com
82330    stephaniebasca3@gmail.com
82331        yaseen91.ya@gmail.com
Name: Email, Length: 82332, dtype: string

In [12]:
pm.email_correction(df_kce, 'Email')
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1193515,Raghav,Shah,Australia,87pshah@gmail.com,61433360018,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1193765,Aaron,Hockey,Australia,aaronhockey83@hotmail.com,61424789954,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1193974,Chandraseknar,Etwari,Australia,aatish.etwari@gmail.com,61452582026,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1193489,Aijin,Mukkadakal,Australia,aijin007@gmail.com,61488395909,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
4,1193498,Ailen,Christie,Australia,alcat28@yahoo.com.au,61488078094,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
656,1193972,Gaurav,Paudel,empty,gauravpaudel@gmail.com,15129094562,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
657,1193973,Jeffrey,Bailey,empty,jeffrey.bailey95@gmail.com,13852869036,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
658,1193976,Daniel,Wojno,empty,lerma.gayle@gmail.com,19203069338,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
659,1193332,Isaac,Flores,empty,romerobenitezsusana@gmail.com,12027900261,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
660,1193343,Trevor,Olsen,empty,trevorolsen87@gmail.com,15414202928,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [13]:
count_email_phone_empty = df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].shape[0]

df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_email_phone_empty_kce.csv', index=False)

df_kce.drop(df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_email_phone_empty = df_kce.shape[0]

In [14]:
# Cek leads test
test_leads = df_kce.loc[
    
        df_kce['Email'].str.contains('^test@', flags=re.I, regex=True) |
        df_kce['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        df_kce['FirstName'].str.contains('^test$', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('^test$', flags=re.I, regex=True) |

        df_kce['FirstName'].str.contains('test 1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test 2', flags=re.I, regex=True)|
        df_kce['FirstName'].str.contains('test1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test2', flags=re.I, regex=True)|

        df_kce['FirstName'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test$', flags=re.I, regex=True)
    
    
    ]

count_leads_test = test_leads.shape[0]

test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [15]:
df_kce.drop(test_leads.index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_test = df_kce.shape[0]

In [16]:
# Cek Email Karma
email_karma = m.find_karma(df_kce, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [17]:
# delete email Karma
count_after_clean_karma = m.delete_karma(df_kce, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1193515,Raghav,Shah,Australia,87pshah@gmail.com,61433360018,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1193765,Aaron,Hockey,Australia,aaronhockey83@hotmail.com,61424789954,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1193974,Chandraseknar,Etwari,Australia,aatish.etwari@gmail.com,61452582026,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1193489,Aijin,Mukkadakal,Australia,aijin007@gmail.com,61488395909,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
4,1193498,Ailen,Christie,Australia,alcat28@yahoo.com.au,61488078094,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
653,1193972,Gaurav,Paudel,empty,gauravpaudel@gmail.com,15129094562,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
654,1193973,Jeffrey,Bailey,empty,jeffrey.bailey95@gmail.com,13852869036,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
655,1193976,Daniel,Wojno,empty,lerma.gayle@gmail.com,19203069338,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
656,1193332,Isaac,Flores,empty,romerobenitezsusana@gmail.com,12027900261,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
657,1193343,Trevor,Olsen,empty,trevorolsen87@gmail.com,15414202928,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [18]:
find_member_oddysey = df_kce.copy()

find_member_oddysey.loc[find_member_oddysey['Phone'].isin(df_phone_member_odd['Mobile']), 'Same Value Find'] = 'Member-Mobile' 

find_member_oddysey.loc[find_member_oddysey['Email'].isin(df_email_member_odd['Email']), 'Same Value Find'] = 'Member-Email'
find_member_oddysey.drop(find_member_oddysey.loc[find_member_oddysey['Same Value Find'].isna()].index, inplace=True)

find_member_oddysey.replace('empty', '', inplace=True)

find_member_oddysey.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_odyssey.csv', index=False)

In [19]:
count_dedup_member_odd = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
416,1193100,CHETAN,PANCHAL,India,panchalchetank@gmail.com,919979894054,ACTIVE,KARMA CLUB INDIA,empty
512,1192733,SONU,MUNDOTIA,India,sonumundotia@gmail.com,919501999104,ACTIVE,KC EXPERIENCE India,empty
515,1193398,SPOORTHI,S,India,spoorthi_sajjanapu@yahoo.co.in,918407999647,ACTIVE,KC EXPERIENCE India,empty
566,1193924,Vipul,.,India,vipul@gmail.com,919370678090,ACTIVE,KC EXPERIENCE India,South Goa

In [20]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_odd = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1193515,Raghav,Shah,Australia,87pshah@gmail.com,61433360018,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1193765,Aaron,Hockey,Australia,aaronhockey83@hotmail.com,61424789954,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1193974,Chandraseknar,Etwari,Australia,aatish.etwari@gmail.com,61452582026,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1193489,Aijin,Mukkadakal,Australia,aijin007@gmail.com,61488395909,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
4,1193498,Ailen,Christie,Australia,alcat28@yahoo.com.au,61488078094,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
649,1193972,Gaurav,Paudel,empty,gauravpaudel@gmail.com,15129094562,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
650,1193973,Jeffrey,Bailey,empty,jeffrey.bailey95@gmail.com,13852869036,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
651,1193976,Daniel,Wojno,empty,lerma.gayle@gmail.com,19203069338,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
652,1193332,Isaac,Flores,empty,romerobenitezsusana@gmail.com,12027900261,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
653,1193343,Trevor,Olsen,empty,trevorolsen87@gmail.com,15414202928,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [21]:
find_member_kce = df_kce.copy()

find_member_kce.loc[find_member_kce['Phone'].isin(df_phone_member_kce['Phone']), 'Same Value Find'] = 'Member-KCE-Mobile' 

find_member_kce.loc[find_member_kce['Email'].isin(df_email_member_kce['Email']), 'Same Value Find'] = 'Member-KCE-Email'
find_member_kce.drop(find_member_kce.loc[find_member_kce['Same Value Find'].isna()].index, inplace=True)

find_member_kce.replace('empty', '', inplace=True)

find_member_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_kce.csv', index=False)

In [22]:
count_dedup_member_kce = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])

].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
6,1192927,James,Oking,Australia,amileigh88@gmail.com,61411794917,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
17,1192923,Charles,La Rosa,Australia,chasfaye@hotmail.com,61409257226,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
41,1192920,Bradley,Apostle,Australia,hanns440@gmail.com,61401574220,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
43,1192942,Igor,Rosenfeld,Australia,igrrsn@gmail.com,61421610096,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
62,1192918,Ocean Tanmaletila,Maulo,Australia,kimi2nora@hotmail.com,61449640591,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
70,1192925,Peter,Purchas,Australia,lisa@dancescene.com.au,61410518401,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
83,1192922,Ovais,Tawa,Australia,ovaistawa@gmail.com,61416354007,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
103,1192932,Sandeep,Sekhon,Australia,sandeepsekhon@gmail.com,61451053336,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
105,1192924,Benno,Fenger,Australia,sasha-benno@outlook.com.au,61423989687,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
107,1192935,Dakota,Abberton,Australia,slcoop3@gmail.com,61434698652,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
110,1192931,Simon,Mccuskey,Australia,spmccuskey@gmail.com,61410291030,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
147,1192939,Sri,Iyer,England,iyersm@yahoo.com,447808391210,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
148,1192930,Lewis,Wood,England,lewo@live.co.uk,447527335977,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
151,1192948,SANDEEP,SIDANA,England,sakshamsidana@gmail.com,447765920321,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
156,1192928,Rabetokdany Lalaina,Toni,Germany,katzwinkelmanja@yahoo.fr,4915756165233,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
157,1192958,Syam,Sadasivan Pillai,Germany,spillaisyam@gmail.com,4915901534339,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
167,1192944,Siddhart,Jadhav,India,advsiddharth06@gmail.com,919011746666,ACTIVE,KC EXPERIENCE India,South Goa
177,1192950,Amit,Sharma,India,amitsharma.assam@gmail.com,919435015657,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
218,1192949,Ravikumar,.,India,bpr.oryza@gmail.com,919448457349,ACTIVE,KC EXPERIENCE India,South Goa
239,1193267,AVIJEET,DEB,India,debavijeet77@gmail.com,919748477107,ACTIVE,KC EXPERIENCE India,empty
247,1191445,DILEEP,C,India,draj450@outlook.com,919964171711,ACTIVE,KC EXPERIENCE India,empty
254,1192938,Satyendra,Prasad,India,er.sateyendra.prasad@gmail.com,919610942844,ACTIVE,KC EXPERIENCE India,South Goa
258,1192941,Farhan,Adeni,India,farhan.adeni@gmail.com,919677013949,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
261,1192961,Ganesh N,Nigade,India,ganesh.nigade@gmail.com,919908422284,ACTIVE,KC EXPERIENCE India,South Goa
283,1192947,Himanshu,Panwar,India,himanshu.pawar99@gmail.com,918949287323,ACTIVE,KC EXPERIENCE India,South Goa
290,1192921,Ishan,Garg,India,ishan.hr.garg@gmail.com,917988742668,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
291,1192960,Ishwar,V Vadoderia,India,ishwarvadodaxa@gmail.com,919924871070,ACTIVE,KC EXPERIENCE India,South Goa
309,1192933,Rohith,Totada Nagaraja,India,justcontactus.jcu@gmail.com,919886519170,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
315,1193028,KRISHNAMURTHY,RAO,India,kavithamdiabetes@gmail.com,919945693939,ACTIVE,KC EXPERIENCE India,empty
320,1192963,Kiran H,Pinge,India,khpinge@gmail.com,919136990377,ACTIVE,KC EXPERIENCE India,South Goa
322,1192962,Kiran,V,India,kiran7691@gmail.com,919962856443,ACTIVE,KC EXPERIENCE India,South Goa
327,1192943,Jiwan Kumar,Garg,India,kjiwankumar@gnmail.com,919815355202,ACTIVE,KC EXPERIENCE India,South Goa
360,1192955,Arvind,Gupta,India,meenakshig@gmail.com,919811587955,ACTIVE,KC EXPERIENCE India,South Goa
373,1192919,Monish,Bhapker,India,monishbhapkar77@gmail.com,919892687652,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
379,1192959,Ashish,Kumar,India,munjalashish@hotmail.com,919711200910,ACTIVE,KC EXPERIENCE India,South Goa
394,1192945,Vijay,Neshanth P M,India,neshanthvijay@gmail.com,919092117270,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
414,1192965,Akshay,Kirt,India,pallavi3882@gmail.com,918800773882,ACTIVE,KC EXPERIENCE India,South Goa
439,1192934,Raghul Rajesh,Ravi,India,raghulrajesh28@gmail.com,918148326713,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
447,1193008,Ravasab,Dhupadel,India,ravasab87@gmail.com,919036051008,ACTIVE,KC EXPERIENCE India,empty
452,1192951,Razin Rafeek,Mohammed,India,razinrafeek@hotmail.com,919656364253,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
474,1192946,Sanjay,Agarwal,India,sanjayagr2002@yahoo.co.in,919810507065,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
481,1192954,Satinder Pal,Singh,India,satinderpal136@yahoo.com,916284188439,ACTIVE,KC EXPERIENCE India,South Goa
493,1192929,Shashi Ranjan,Kumar,India,shashiranjan2909@gmail.com,919871517182,ACTIVE,KC EXPERIENCE India,South Goa
495,1192957,Shikher,Saxena,India,shikhersaxena93@gmail.com,918218967884,ACTIVE,KC EXPERIENCE India,South Goa
501,1192952,Shoyab,Shaikh,India,shoyab.1987.sss@gmail.com,918291565457,ACTIVE,KC EXPERIENCE India,South Goa
535,1193251,TARUN,KUMAR,India,tarunk12000@yahoo.co.in,919599855168,ACTIVE,KARMA CLUB INDIA,empty
552,1192953,Sunny,Sinha,India,varnikasinha6@gmail.com,918757830309,ACTIVE,KC EXPERIENCE India,North Goa
559,1192940,Vinu,Abraham,India,vinab@gmail.com,919387211771,ACTIVE,KC EXPERIENCE India,South Goa
572,1192956,Yogesh,Sehgal,India,yogeshsehgal65652@yahoo.com,919915388767,ACTIVE,KC EXPERIENCE India,South Goa
574,1192964,Zakir,Shaikh,India,zakirshaik13061989@gmail.com,917039458540,ACTIVE,KC EXPERIENCE India,South Goa
602,1192936,Fransisco,Serrano,New Zealand,serranofrancisco@gmail.com,64211952000,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
617,1192937,Karthik,Raghunath,Singapore,karthik849@gmail.com,6581397850,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
621,1192926,Rajendran,Jamardananpillai,Singapore,rpi62817@bigpond.net.au,61438966421,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck

In [23]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_kce = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1193515,Raghav,Shah,Australia,87pshah@gmail.com,61433360018,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1193765,Aaron,Hockey,Australia,aaronhockey83@hotmail.com,61424789954,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1193974,Chandraseknar,Etwari,Australia,aatish.etwari@gmail.com,61452582026,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1193489,Aijin,Mukkadakal,Australia,aijin007@gmail.com,61488395909,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
4,1193498,Ailen,Christie,Australia,alcat28@yahoo.com.au,61488078094,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
596,1193972,Gaurav,Paudel,empty,gauravpaudel@gmail.com,15129094562,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
597,1193973,Jeffrey,Bailey,empty,jeffrey.bailey95@gmail.com,13852869036,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
598,1193976,Daniel,Wojno,empty,lerma.gayle@gmail.com,19203069338,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
599,1193332,Isaac,Flores,empty,romerobenitezsusana@gmail.com,12027900261,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
600,1193343,Trevor,Olsen,empty,trevorolsen87@gmail.com,15414202928,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [24]:
# hitung jumlah duplicate
count_duplicate_general = df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])].shape[0]

df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
234,1193286,AJAY,SINGH,India,evergreenajay007@gmail.com,918861959081,ACTIVE,KC EXPERIENCE India,empty
246,1193278,DR.,GIRISH MANGLEEK,India,gmnglk@gmail.com,919868152425,ACTIVE,KC EXPERIENCE India,empty

In [25]:
df_kce.drop_duplicates(subset=['Email','Phone'], inplace=True)
df_kce.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = df_kce.shape[0]

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1193515,Raghav,Shah,Australia,87pshah@gmail.com,61433360018,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1193765,Aaron,Hockey,Australia,aaronhockey83@hotmail.com,61424789954,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1193974,Chandraseknar,Etwari,Australia,aatish.etwari@gmail.com,61452582026,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1193489,Aijin,Mukkadakal,Australia,aijin007@gmail.com,61488395909,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
4,1193498,Ailen,Christie,Australia,alcat28@yahoo.com.au,61488078094,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
594,1193972,Gaurav,Paudel,empty,gauravpaudel@gmail.com,15129094562,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
595,1193973,Jeffrey,Bailey,empty,jeffrey.bailey95@gmail.com,13852869036,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
596,1193976,Daniel,Wojno,empty,lerma.gayle@gmail.com,19203069338,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
597,1193332,Isaac,Flores,empty,romerobenitezsusana@gmail.com,12027900261,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
598,1193343,Trevor,Olsen,empty,trevorolsen87@gmail.com,15414202928,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [26]:
list_UK_EU = pm.get_list_UK_EU()
list_Others = pm.get_list_Others()

In [27]:
df_kce.loc[df_kce['Country'].isin(list_Others)]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1193515,Raghav,Shah,Australia,87pshah@gmail.com,61433360018,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1193765,Aaron,Hockey,Australia,aaronhockey83@hotmail.com,61424789954,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1193974,Chandraseknar,Etwari,Australia,aatish.etwari@gmail.com,61452582026,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1193489,Aijin,Mukkadakal,Australia,aijin007@gmail.com,61488395909,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
4,1193498,Ailen,Christie,Australia,alcat28@yahoo.com.au,61488078094,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
569,1193353,Stephen,Pang,Singapore,stppang@gmail.com,6597525951,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
570,1193072,Yashkumar,Amin,United Arab Emirates,yashamin@gmail.com,971506924641,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
589,1193512,Kris,Moa,USA,kris.moa@yahoo.com,16027626394,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
590,1193629,Stanislav,Berenshtein,USA,s.berenshtein@yahoo.com,17817108374,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
591,1193748,Kristofer,Jones,USA,tinabonsu@gmail.com,13477534682,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [28]:
df_kce.loc[df_kce['Country'].str.contains('India'), 'Area'] = 'India'
df_kce.loc[df_kce['Country'].isin(list_UK_EU), 'Area'] = 'UK EU'
df_kce.loc[df_kce['Country'].isin(list_Others), 'Area'] = 'Others'

In [29]:
df_kce.loc[df_kce['Area'] == 'India', 'Batch'] = 'INDIA'
df_kce.loc[df_kce['Area'] == 'UK EU', 'Batch'] = 'NONINDIA'
df_kce.loc[df_kce['Area'] == 'Others', 'Batch'] = 'NONINDIA'

In [30]:
df_kce.replace('empty', '', inplace=True)

In [31]:
df_kce.columns

Index(['number', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program', 'Area',
       'Batch'],
      dtype='object')

In [32]:
new_cols = ['number', 'FirstName', 'lastname', 'Country', 'Area', 'Batch', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program']

df_kce = df_kce.reindex(columns=new_cols)

In [33]:
count_data_akhir = df_kce.shape[0]

df_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\final_kce.csv', index=False)

In [34]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Data Awal KCE CC-CL : "+str(count_data_awal))
print("Jumlah Data Email dan Phone Kosong : "+str(count_email_phone_empty))
print("Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : "+str(count_after_email_phone_empty))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Data Yang Terkena Dedup Member Oddysey : "+str(count_dedup_member_odd))
print("Jumlah Data Setelah Dedup Member Oddysey : "+str(count_after_dedup_member_odd))
print("Jumlah Data Yang Terkena Dedup Past Guest KCE : "+str(count_dedup_member_kce))
print("Jumlah Data Setelah Dedup Past Guest KCE : "+str(count_after_dedup_member_kce))
print("Jumlah Data Yang Duplicate : "+str(count_duplicate_general))
print("Jumlah Data Setelah Hapus Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Data Akhir : "+str(count_data_akhir))

==========================================================
Summary
==========================================================
Jumlah Data Awal KCE CC-CL : 661
Jumlah Data Email dan Phone Kosong : 3
Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : 658
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 658
Jumlah Email Karma : 0
Jumlah Setelah Clean Email Karma : 658
Jumlah Data Yang Terkena Dedup Member Oddysey : 4
Jumlah Data Setelah Dedup Member Oddysey : 654
Jumlah Data Yang Terkena Dedup Past Guest KCE : 53
Jumlah Data Setelah Dedup Past Guest KCE : 601
Jumlah Data Yang Duplicate : 2
Jumlah Data Setelah Hapus Duplicate : 599
Jumlah Data Akhir : 599