In [39]:
import pandas as pd
import re

import past_guest_module as pm

import sys
sys.path.append('../zoho_data_app/')

import main_module as m

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
cols = ['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office','KarmaClubProgram']

In [41]:
path = r'C:\Users\fajar\Documents\Python\Data\KCC cc-cl\2024\Sep\8 Sep - 13 Sep\KCE CC CL 8 Sep - 13 Sep.xlsx'
df_kce = pd.read_excel(path, dtype='string', sheet_name='Sheet1', usecols=cols)
count_data_awal = df_kce.shape[0]
df_kce

,Account ID,FirstName,lastname,Country,Email,Phone,AcStatus,Servicing Office,KarmaClubProgram
0,1202089,Shafiqullah,Raiey,Afghanistan,<NA>,919370957037,ACTIVE,KC EXPERIENCE India,Karma Utopia
1,1202753,Nazim,Zabouri,Algeria,nazbouri@gmail.com,213770432211,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1202712,Mohammed,Sobh,Australia,1inboxme@gmail.com,61405488697,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1202008,Adrian,Mooney,Australia,abeckley82@gmail.com,61421917668,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1202121,Abhiraj,Singh,Australia,abhiraj.singh.15@live.com,61430374661,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
607,1202731,Jack,Masino,<NA>,jacmasino@yahoo.com,15622021414,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
608,1202482,Jacob,Wright,<NA>,jawright24@gmail.com,19517961537,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
609,1202326,Paul,Salazar,<NA>,kksalazar898@gmail.com,14806627269,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
610,1202527,Richard,Waterman,<NA>,rewaterman@gmail.com,19152033532,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
611,1202094,Tauhir,Jones,<NA>,tauhir.jones@gmail.com,13122860573,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [42]:
df_kce.columns

Index(['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office', 'KarmaClubProgram'],
      dtype='object')

In [43]:
df_kce.rename(columns = {
    'Account ID':'number', 
    'AcStatus':'Account Status',
    'KarmaClubProgram':'Karma Club Program',
    }, inplace = True)

In [44]:
df_kce.fillna('empty', inplace=True)

In [45]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_phone_member_kce = pd.read_excel(path, dtype='string', sheet_name='Phone')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_email_member_kce = pd.read_excel(path, dtype='string', sheet_name='Email')

In [46]:
m.clean_number(df_kce, 'Phone')
m.replace_not_valid_to_empty(df_kce, 'Phone')
df_kce['Email'] = m.lowercase(df_kce, 'Email')
m.clean_space(df_kce, 'Email')

m.clean_number(df_phone_member_odd, 'Mobile')
df_email_member_odd['Email'] = m.lowercase(df_email_member_odd, 'Email')
m.clean_space(df_email_member_odd, 'Email')

m.clean_number(df_phone_member_kce, 'Phone')
df_email_member_kce['Email'] = m.lowercase(df_email_member_kce, 'Email')
m.clean_space(df_email_member_kce, 'Email')

0          aameercok@gmail.com.com
1              imerwan@hotmail.com
2              mkptech15@gmail.com
3        sovitmittal2000@yahoo.com
4          smritidas1431@gmail.com
                   ...
86788    devin.g.crowley@gmail.com
86789             herblif1@aol.com
86790             moodysix@aol.com
86791       tauhir.jones@gmail.com
86792       yacinthe1112@yahoo.com
Name: Email, Length: 86793, dtype: string

In [47]:
pm.email_correction(df_kce, 'Email')
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1202089,Shafiqullah,Raiey,Afghanistan,empty,919370957037,ACTIVE,KC EXPERIENCE India,Karma Utopia
1,1202753,Nazim,Zabouri,Algeria,nazbouri@gmail.com,213770432211,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1202712,Mohammed,Sobh,Australia,1inboxme@gmail.com,61405488697,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1202008,Adrian,Mooney,Australia,abeckley82@gmail.com,61421917668,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1202121,Abhiraj,Singh,Australia,abhiraj.singh.15@live.com,61430374661,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
607,1202731,Jack,Masino,empty,jacmasino@yahoo.com,15622021414,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
608,1202482,Jacob,Wright,empty,jawright24@gmail.com,19517961537,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
609,1202326,Paul,Salazar,empty,kksalazar898@gmail.com,14806627269,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
610,1202527,Richard,Waterman,empty,rewaterman@gmail.com,19152033532,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
611,1202094,Tauhir,Jones,empty,tauhir.jones@gmail.com,13122860573,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [48]:
count_email_phone_empty = df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].shape[0]

df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_email_phone_empty_kce.csv', index=False)

df_kce.drop(df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_email_phone_empty = df_kce.shape[0]

In [49]:
# Cek leads test
test_leads = df_kce.loc[
    
        df_kce['Email'].str.contains('^test@', flags=re.I, regex=True) |
        df_kce['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        df_kce['FirstName'].str.contains('^test$', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('^test$', flags=re.I, regex=True) |

        df_kce['FirstName'].str.contains('test 1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test 2', flags=re.I, regex=True)|
        df_kce['FirstName'].str.contains('test1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test2', flags=re.I, regex=True)|

        df_kce['FirstName'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test$', flags=re.I, regex=True)
    
    
    ]

count_leads_test = test_leads.shape[0]

test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [50]:
df_kce.drop(test_leads.index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_test = df_kce.shape[0]

In [51]:
# Cek Email Karma
email_karma = m.find_karma(df_kce, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [52]:
# delete email Karma
count_after_clean_karma = m.delete_karma(df_kce, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1202089,Shafiqullah,Raiey,Afghanistan,empty,919370957037,ACTIVE,KC EXPERIENCE India,Karma Utopia
1,1202753,Nazim,Zabouri,Algeria,nazbouri@gmail.com,213770432211,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1202712,Mohammed,Sobh,Australia,1inboxme@gmail.com,61405488697,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1202008,Adrian,Mooney,Australia,abeckley82@gmail.com,61421917668,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1202121,Abhiraj,Singh,Australia,abhiraj.singh.15@live.com,61430374661,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
605,1202731,Jack,Masino,empty,jacmasino@yahoo.com,15622021414,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
606,1202482,Jacob,Wright,empty,jawright24@gmail.com,19517961537,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
607,1202326,Paul,Salazar,empty,kksalazar898@gmail.com,14806627269,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
608,1202527,Richard,Waterman,empty,rewaterman@gmail.com,19152033532,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
609,1202094,Tauhir,Jones,empty,tauhir.jones@gmail.com,13122860573,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [53]:
find_member_oddysey = df_kce.copy()

find_member_oddysey.loc[find_member_oddysey['Phone'].isin(df_phone_member_odd['Mobile']), 'Same Value Find'] = 'Member-Mobile' 

find_member_oddysey.loc[find_member_oddysey['Email'].isin(df_email_member_odd['Email']), 'Same Value Find'] = 'Member-Email'
find_member_oddysey.drop(find_member_oddysey.loc[find_member_oddysey['Same Value Find'].isna()].index, inplace=True)

find_member_oddysey.replace('empty', '', inplace=True)

find_member_oddysey.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_odyssey.csv', index=False)

In [54]:
count_dedup_member_odd = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
216,1202418,ANUP KUMAR,CHAWLA,India,chawlaanup18@gmail.com,919412723350,ACTIVE,KC EXPERIENCE India,empty
297,1201439,PARESH,KOLAMBEKAR,India,kolambekarpreeti3@gmail.com,919326475358,ACTIVE,KC EXPERIENCE India,empty
300,1201980,Krishna Pada,Debnath,India,krishnapadadebnath123@gmail.com,918145000825,PENDING,KARMA CONCIERGE INDIA,empty
344,1201820,E.,Akarapavarasi,India,pavaikaji@gmail.com,919790069005,PENDING,KARMA CONCIERGE INDIA,empty
357,1201857,MANISH,KUMAR,India,raagmanish@gmail.com,919741052944,ACTIVE,KC EXPERIENCE India,empty
376,1201699,Raghavendra,E S,India,rdoddamane385@yahoo.com,919686633835,ACTIVE,KC EXPERIENCE India,empty

In [55]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_odd = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1202089,Shafiqullah,Raiey,Afghanistan,empty,919370957037,ACTIVE,KC EXPERIENCE India,Karma Utopia
1,1202753,Nazim,Zabouri,Algeria,nazbouri@gmail.com,213770432211,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1202712,Mohammed,Sobh,Australia,1inboxme@gmail.com,61405488697,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
3,1202008,Adrian,Mooney,Australia,abeckley82@gmail.com,61421917668,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1202121,Abhiraj,Singh,Australia,abhiraj.singh.15@live.com,61430374661,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
599,1202731,Jack,Masino,empty,jacmasino@yahoo.com,15622021414,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
600,1202482,Jacob,Wright,empty,jawright24@gmail.com,19517961537,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
601,1202326,Paul,Salazar,empty,kksalazar898@gmail.com,14806627269,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
602,1202527,Richard,Waterman,empty,rewaterman@gmail.com,19152033532,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
603,1202094,Tauhir,Jones,empty,tauhir.jones@gmail.com,13122860573,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [56]:
find_member_kce = df_kce.copy()

find_member_kce.loc[find_member_kce['Phone'].isin(df_phone_member_kce['Phone']), 'Same Value Find'] = 'Member-KCE-Mobile' 

find_member_kce.loc[find_member_kce['Email'].isin(df_email_member_kce['Email']), 'Same Value Find'] = 'Member-KCE-Email'
find_member_kce.drop(find_member_kce.loc[find_member_kce['Same Value Find'].isna()].index, inplace=True)

find_member_kce.replace('empty', '', inplace=True)

find_member_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_kce.csv', index=False)

In [57]:
count_dedup_member_kce = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])

].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1202089,Shafiqullah,Raiey,Afghanistan,empty,919370957037,ACTIVE,KC EXPERIENCE India,Karma Utopia
3,1202008,Adrian,Mooney,Australia,abeckley82@gmail.com,61421917668,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1202121,Abhiraj,Singh,Australia,abhiraj.singh.15@live.com,61430374661,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
8,1202027,Andrej,Priekopa,Australia,andrejpriekopa@gmail.com,61400377544,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
11,1202119,Mrs,Anne Kitchin,Australia,annekitchin97@gmail.com,61467716523,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
556,1202004,Dhev,Moodley,South Africa,dhev.ruchir@gmail.com,27837772803,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
559,1202113,Juan,Illan,Thailand,juanramonillanrubio@gmail.com,34603663034,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
561,1202030,Jasbir,Thakur,United Arab Emirates,himachaliboy04@gmail.com,97166193058,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
571,1202158,Morag,Dodds,United Kingdom,doddsmorag@gmail.com,447935294639,ACTIVE,KC EXPERIENCE India,empty
603,1202094,Tauhir,Jones,empty,tauhir.jones@gmail.com,13122860573,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [58]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_kce = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1202753,Nazim,Zabouri,Algeria,nazbouri@gmail.com,213770432211,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1202712,Mohammed,Sobh,Australia,1inboxme@gmail.com,61405488697,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1202306,Ailsa,Brooks,Australia,ailsabrooks8@gmail.com,61409010445,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
3,1202920,Manish,Shah,Australia,akaykeus@yahoo.com,61420453921,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1202915,Paul,Nobbs,Australia,alicecartwright97@gmail.com,61435489695,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
424,1202316,Aly,Abdelrahman,empty,aly.abdelrahman5@icloud.com,16508850195,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
425,1202731,Jack,Masino,empty,jacmasino@yahoo.com,15622021414,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
426,1202482,Jacob,Wright,empty,jawright24@gmail.com,19517961537,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
427,1202326,Paul,Salazar,empty,kksalazar898@gmail.com,14806627269,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
428,1202527,Richard,Waterman,empty,rewaterman@gmail.com,19152033532,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [59]:
# hitung jumlah duplicate
count_duplicate_general = df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])].shape[0]

df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])]

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [60]:
df_kce.drop_duplicates(subset=['Email','Phone'], inplace=True)
df_kce.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = df_kce.shape[0]

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1202753,Nazim,Zabouri,Algeria,nazbouri@gmail.com,213770432211,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1202712,Mohammed,Sobh,Australia,1inboxme@gmail.com,61405488697,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1202306,Ailsa,Brooks,Australia,ailsabrooks8@gmail.com,61409010445,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
3,1202920,Manish,Shah,Australia,akaykeus@yahoo.com,61420453921,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1202915,Paul,Nobbs,Australia,alicecartwright97@gmail.com,61435489695,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
424,1202316,Aly,Abdelrahman,empty,aly.abdelrahman5@icloud.com,16508850195,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
425,1202731,Jack,Masino,empty,jacmasino@yahoo.com,15622021414,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
426,1202482,Jacob,Wright,empty,jawright24@gmail.com,19517961537,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
427,1202326,Paul,Salazar,empty,kksalazar898@gmail.com,14806627269,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
428,1202527,Richard,Waterman,empty,rewaterman@gmail.com,19152033532,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [61]:
list_UK_EU = pm.get_list_UK_EU()
list_Others = pm.get_list_Others()

In [62]:
df_kce.loc[df_kce['Country'].isin(list_Others)]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1202753,Nazim,Zabouri,Algeria,nazbouri@gmail.com,213770432211,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
1,1202712,Mohammed,Sobh,Australia,1inboxme@gmail.com,61405488697,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1202306,Ailsa,Brooks,Australia,ailsabrooks8@gmail.com,61409010445,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
3,1202920,Manish,Shah,Australia,akaykeus@yahoo.com,61420453921,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1202915,Paul,Nobbs,Australia,alicecartwright97@gmail.com,61435489695,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
385,1202318,Mayur,Garg,Singapore,mayurs74@gmail.com,6590071304,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
386,1202748,Suresh,Ranchod,South Africa,gita.naranchod@gmail.com,27835563779,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
388,1202705,Ebin,Benny,United Arab Emirates,aviator912020@yahoo.com,971525311516,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
421,1202907,Jack,Hinerman,USA,2mc@gmx.com,15018152006,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
422,1202905,Misar,Shaikh,USA,knisar44@yahoo.com,14084312700,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck

In [63]:
df_kce.loc[df_kce['Country'].str.contains('India'), 'Area'] = 'India'
df_kce.loc[df_kce['Country'].isin(list_UK_EU), 'Area'] = 'UK EU'
df_kce.loc[df_kce['Country'].isin(list_Others), 'Area'] = 'Others'

In [64]:
df_kce.loc[df_kce['Area'] == 'India', 'Batch'] = 'INDIA'
df_kce.loc[df_kce['Area'] == 'UK EU', 'Batch'] = 'NONINDIA'
df_kce.loc[df_kce['Area'] == 'Others', 'Batch'] = 'NONINDIA'

In [65]:
df_kce.replace('empty', '', inplace=True)

In [66]:
df_kce.columns

Index(['number', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program', 'Area',
       'Batch'],
      dtype='object')

In [67]:
new_cols = ['number', 'FirstName', 'lastname', 'Country', 'Area', 'Batch', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program']

df_kce = df_kce.reindex(columns=new_cols)

In [68]:
count_data_akhir = df_kce.shape[0]

df_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\final_kce.csv', index=False)

In [69]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Data Awal KCE CC-CL : "+str(count_data_awal))
print("Jumlah Data Email dan Phone Kosong : "+str(count_email_phone_empty))
print("Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : "+str(count_after_email_phone_empty))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Data Yang Terkena Dedup Member Oddysey : "+str(count_dedup_member_odd))
print("Jumlah Data Setelah Dedup Member Oddysey : "+str(count_after_dedup_member_odd))
print("Jumlah Data Yang Terkena Dedup Past Guest KCE : "+str(count_dedup_member_kce))
print("Jumlah Data Setelah Dedup Past Guest KCE : "+str(count_after_dedup_member_kce))
print("Jumlah Data Yang Duplicate : "+str(count_duplicate_general))
print("Jumlah Data Setelah Hapus Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Data Akhir : "+str(count_data_akhir))

==========================================================
Summary
==========================================================
Jumlah Data Awal KCE CC-CL : 612
Jumlah Data Email dan Phone Kosong : 2
Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : 610
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 610
Jumlah Email Karma : 0
Jumlah Setelah Clean Email Karma : 610
Jumlah Data Yang Terkena Dedup Member Oddysey : 6
Jumlah Data Setelah Dedup Member Oddysey : 604
Jumlah Data Yang Terkena Dedup Past Guest KCE : 175
Jumlah Data Setelah Dedup Past Guest KCE : 429
Jumlah Data Yang Duplicate : 0
Jumlah Data Setelah Hapus Duplicate : 429
Jumlah Data Akhir : 429