In [43]:
import gspread
import pandas as pd
from fractions import Fraction
import re

import sys
sys.path.append('../zoho_data_app')

import main_module as m

# Pastikan permision access di menu "Share" di rubah ke anyone with the link terlebih dahulu, agar bisa mengunakan cara OAuth
# Jika Ingin lebih dibatasi menggunakan cara google service account lebih disarankan

gc = gspread.oauth(
    credentials_filename= r'C:\Users\fajar\Documents\Python\Data\Google Credentials\fajar-fatoni-OAuth.json'
)

SHEET_ID = '1B7e1rVK0c8Krh4ng5Fdc0Xew7-HMOVa28I_HwW3E2Ok'
SHEET_NAME = 'Karma Beach'
SHEET_NAME_2 = 'Karma Kandara'
SHEET_NAME_3 = 'Karma Jimbaran'

In [33]:
path = r'C:\Users\fajar\Documents\Python\Data\Leads_2024_08_05.csv'
zoho_df = pd.read_csv(path, dtype='string')
count_data_awal = zoho_df.shape[0]
zoho_df.fillna('empty', inplace=True)

In [34]:
# get data gsheet

spreadsheet = gc.open_by_key(SHEET_ID)
worksheet = spreadsheet.worksheet(SHEET_NAME)
rows = worksheet.get_all_records()

# print(rows[:5])

# print('==============================')
df = pd.DataFrame(rows)
df['Mobile Number'] = df['Mobile Number'].apply(Fraction)
df

,Name,Mobile Number,Tags,Last Active,Joined On,First Message Tag,Source,Incoming,Opted In,Intervened By,ZohoID,Email,Country
0,Tri Sabdo,6285250841919,Past Purple Guest | KK_Valentine_12Feb24,12/15/2023 6:17,12/15/2023 5:53,,ORGANIC,Active,Yes,,,,
1,Dave Scheckter,628113893039,Management | Past Purple Guest,7/23/2024 6:30,12/15/2023 6:12,,ORGANIC,Active,Yes,,,,-
2,Shaun,6281138006892,Past Purple Guest | In House 7 May 24,8/1/2024 3:42,12/16/2023 6:30,,ORGANIC,Active,Yes,,,,Indonesia
3,Rai Artawan,6281338016603,KK Sample Blast | Past Purple Guest | Beach En...,8/2/2024 0:10,12/16/2023 6:32,,ORGANIC,Active,Yes,,,,
4,Karma Beach,6281138305944,Past Purple Guest,,12/16/2023 8:26,,,Active,Yes,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16077,FD,33652587816,,8/1/2024 2:51,7/31/2024 11:29,,ORGANIC,Active,Yes,,,,
16078,Guadalupe,34662228304,,8/1/2024 1:55,7/31/2024 14:23,,ORGANIC,Active,Yes,,,,
16079,Lau ✨,33749637347,,8/1/2024 0:18,7/31/2024 21:51,,ORGANIC,Active,Yes,Eka Canis,,,
16080,Mohit Dhawan,447976238475,,8/1/2024 3:59,8/1/2024 0:20,,ORGANIC,Active,Yes,,,,
16081,Alexis,447853556262,,8/1/2024 19:39,8/1/2024 19:39,,ORGANIC,Active,Yes,,,,

In [35]:
# get data gsheet

spreadsheet = gc.open_by_key(SHEET_ID)
worksheet = spreadsheet.worksheet(SHEET_NAME_2)
rows = worksheet.get_all_records()

# print(rows[:5])

# print('==============================')
df2 = pd.DataFrame(rows)
df2['Mobile Number'] = df2['Mobile Number'].apply(Fraction)
df2

,Name,Mobile Number,Tags,Last Active,Joined On,First Message Tag,Source,Incoming,Opted In,Intervened By
0,Mr Andrew Stuart,9161409813333,Invalid,,3/19/2024 7:01,,IMPORTED,Active,No,
1,Mr Brett Jared Peters,9161425787589,Invalid,,3/19/2024 7:01,,IMPORTED,Active,No,
2,Amol Prakash Punde,918983623496,In House 22 March 24 | In House 24 March 24 | ...,,3/19/2024 7:01,,IMPORTED,Active,No,
3,Shaun Duenhofen,6281138006892,In House 23 July 24 | In House 25 July 24 | Pa...,5/11/2024 4:21,3/19/2024 7:02,,IMPORTED,Active,Yes,
4,Tanya Klimentyeva,6281138305940,KK Sample Blast,,3/19/2024 7:02,,IMPORTED,Active,Yes,
...,...,...,...,...,...,...,...,...,...,...
2714,Edward Hasoloan P,628119199373,In House 1 August 24,,8/1/2024 2:19,,IMPORTED,Active,Yes,
2715,Jitendra Ariga Ratnatraya,6796599363843,In House 1 August 24,,8/1/2024 2:19,,IMPORTED,Active,Yes,
2716,Kalyan Acharya,61426291122,In House 1 August 24,,8/1/2024 2:19,,IMPORTED,Active,Yes,
2717,Thomas Wachal,61490712192,In House 1 August 24,,8/1/2024 2:19,,IMPORTED,Active,Yes,
2718,Prateek Bajpai,919039109451,In House 1 August 24,,8/1/2024 2:19,,IMPORTED,Active,Yes,

In [36]:
# get data gsheet

spreadsheet = gc.open_by_key(SHEET_ID)
worksheet = spreadsheet.worksheet(SHEET_NAME_3)
rows = worksheet.get_all_records()

# print(rows[:5])

# print('==============================')
df3 = pd.DataFrame(rows)
df3['Mobile Number'] = df3['Mobile Number'].apply(Fraction)
df3

,Name,Mobile Number,Tags,Last Active,Joined On,First Message Tag,Source,Incoming,Opted In,Intervened By
0,Tri Sabdo Pamungkas KG IT,6285250841919,Past inHouse Guest,,3/22/2024 2:13,,Manual input,Active,Yes,
1,Agus Maryana,628122730101,Sample | Management,4/9/2024 9:36,3/22/2024 2:14,,Manual Input,Active,Yes,
2,Mona Bartholomay,628113863499,Sample | Invalid | Management,4/12/2024 5:12,3/28/2024 1:53,,,Active,Yes,
3,Mahendra Temaja,6289607464993,Management,,3/28/2024 1:54,,,Active,Yes,
4,David Scheckter,628113893039,Management,,3/28/2024 1:54,,,Active,Yes,
...,...,...,...,...,...,...,...,...,...,...
704,Hazem Sallam,201066557713,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,
705,Margaret Ellen Mathiesen,61405609363,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,
706,Ran Feifei,628113088069,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,
707,Magomed Dzhamalov,79285999821,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,
708,Krish Shah,919833460509,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,

In [37]:
df_all = pd.concat([df,df2,df3], ignore_index=True)
df_all

,Name,Mobile Number,Tags,Last Active,Joined On,First Message Tag,Source,Incoming,Opted In,Intervened By,ZohoID,Email,Country
0,Tri Sabdo,6285250841919,Past Purple Guest | KK_Valentine_12Feb24,12/15/2023 6:17,12/15/2023 5:53,,ORGANIC,Active,Yes,,,,
1,Dave Scheckter,628113893039,Management | Past Purple Guest,7/23/2024 6:30,12/15/2023 6:12,,ORGANIC,Active,Yes,,,,-
2,Shaun,6281138006892,Past Purple Guest | In House 7 May 24,8/1/2024 3:42,12/16/2023 6:30,,ORGANIC,Active,Yes,,,,Indonesia
3,Rai Artawan,6281338016603,KK Sample Blast | Past Purple Guest | Beach En...,8/2/2024 0:10,12/16/2023 6:32,,ORGANIC,Active,Yes,,,,
4,Karma Beach,6281138305944,Past Purple Guest,,12/16/2023 8:26,,,Active,Yes,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19505,Hazem Sallam,201066557713,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,,NaN,NaN,NaN
19506,Margaret Ellen Mathiesen,61405609363,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,,NaN,NaN,NaN
19507,Ran Feifei,628113088069,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,,NaN,NaN,NaN
19508,Magomed Dzhamalov,79285999821,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,,NaN,NaN,NaN
19509,Krish Shah,919833460509,In House 2 August 24,,8/2/2024 1:10,,IMPORTED,Active,Yes,,NaN,NaN,NaN

In [44]:
df_all.loc[df_all['Source'].str.contains('organic', regex=True, flags=re.I)]

,Name,Mobile Number,Tags,Last Active,Joined On,First Message Tag,Source,Incoming,Opted In,Intervened By,ZohoID,Email,Country
0,Tri Sabdo,6285250841919,Past Purple Guest | KK_Valentine_12Feb24,12/15/2023 6:17,12/15/2023 5:53,,ORGANIC,Active,Yes,,,,
1,Dave Scheckter,628113893039,Management | Past Purple Guest,7/23/2024 6:30,12/15/2023 6:12,,ORGANIC,Active,Yes,,,,-
2,Shaun,6281138006892,Past Purple Guest | In House 7 May 24,8/1/2024 3:42,12/16/2023 6:30,,ORGANIC,Active,Yes,,,,Indonesia
3,Rai Artawan,6281338016603,KK Sample Blast | Past Purple Guest | Beach En...,8/2/2024 0:10,12/16/2023 6:32,,ORGANIC,Active,Yes,,,,
558,Karan.Nagra,919592733130,KK_Valentine_12Feb24 | Past Purple Guest,12/22/2023 7:55,12/22/2023 7:55,,ORGANIC,Active,Yes,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18875,Goyal Madhurima,919986885250,Past inHouse Guest,,4/16/2024 1:42,,ORGANIC,Active,Yes,,NaN,NaN,NaN
18876,Bryan Whiting,447931789709,Past inHouse Guest,,4/16/2024 1:42,,ORGANIC,Active,Yes,,NaN,NaN,NaN
18877,Oki Ramadhana,62811150700,In House 25 July 24 | Past inHouse Guest | In ...,,4/16/2024 1:42,,ORGANIC,Active,Yes,,NaN,NaN,NaN
18951,Arya Wijaya,6285738679736,,6/29/2024 12:44,5/4/2024 3:05,,ORGANIC,Active,Yes,Guest Services,NaN,NaN,NaN
19253,Info Bri,6281393445510,,6/22/2024 7:29,6/22/2024 7:29,,ORGANIC,Active,Yes,,NaN,NaN,NaN

In [40]:
m.clean_number(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
zoho_df

,Record Id,Created Time,Lead Source Description,First Name,Last Name,Email,Phone,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead History
0,zcrm_3584690000004718267,3/21/2019 16:18,35% off Today with Karma Reservations | Webcha...,Pallavi,Thakur,pallavithakur7@gmail.com,9820810812,Karma Group,Other,WhatsApp Enquiry,empty,empty
1,zcrm_3584690000004742294,3/21/2019 13:49,35% off Today with Karma Reservations | Webcha...,Abhijeet,Abhijeet,salokheabhijeet@gmail.com,971557459103,Karma Group,Other,WhatsApp Enquiry,empty,"Other - Other, Other India DB - Other"
2,zcrm_3584690000004918028,3/21/2019 20:39,35% off Today with Karma Reservations | Webcha...,Katy,Katy,katy_lees@hotmail.com,7817075759,Karma Group,Other,WhatsApp Enquiry,empty,empty
3,zcrm_3584690000004950012,3/22/2019 5:05,35% off Today with Karma Reservations | Webcha...,Pauline,Snell,paulinesnell@yahoo.com,61427604080,Karma Group,Other,WhatsApp Enquiry,empty,"Other Bali DB - Wifi, Other - Past Guests, K..."
4,zcrm_3584690000004950058,3/24/2019 1:56,35% off Today with Karma Reservations | Webcha...,Geoffrey,Mark Hersch Dds,geoff@herschsmiles.com,9498136414,Karma Group,Other,WhatsApp Enquiry,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...
2794,zcrm_3584690000504195113,8/4/2024 11:32,Karma Reservations - WhatsApp Channel,Richelle,Nitelet,empty,16474569920,Karma Resorts,Other,WhatsApp Enquiry,Karma Reef,Others
2795,zcrm_3584690000504195152,8/4/2024 19:21,Karma Reservations - WhatsApp Channel,Karin,-,empty,6281223415689,Karma Resorts,Other,WhatsApp Enquiry,Karma Kandara,"Interest for Karma Beach, entrance fee, hostin..."
2796,zcrm_3584690000504204010,8/4/2024 14:15,Karma Reservations - WhatsApp Channel,Sasa,Bavec,empty,6232477881588,Karma Resorts,Other,WhatsApp Enquiry,Karma Kandara,Reconfirm booking/payment
2797,zcrm_3584690000504208001,8/3/2024 18:12,Karma Reservations - WhatsApp Channel,-,-,empty,54302,Karma Resorts,Other,WhatsApp Enquiry,Karma Kandara,"Interest for Karma Beach, entrance fee, hostin..."
2798,zcrm_3584690000504222001,8/4/2024 19:10,Karma Reservations - WhatsApp Channel,~Lloyd T,-,empty,61402221462,Karma Resorts,Other,WhatsApp Enquiry,Karma Kandara,Interest for Di Mare Restaurant

In [41]:
zoho_df.loc[zoho_df['Phone'].isin(df['Mobile Number'])]

Empty DataFrame
Columns: [Record Id, Created Time, Lead Source Description, First Name, Last Name, Email, Phone, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead History]
Index: []