In [1]:
import pandas as pd
import json

# Specify the path to the JSON file
followers_old_path = 'followers_old.json'
# Read the JSON data from the file
with open(followers_old_path, 'r') as f2:
    data_followers_old = json.load(f2)
string_list_followers_old = [item['string_list_data'][0] for item in data_followers_old]
df_followers_old = pd.DataFrame(string_list_followers_old)


#GRA Specify the path to the JSON file
followers_new_path = 'followers_new.json'
# Read the JSON data from the file
with open(followers_new_path, 'r') as f2:
    data_followers_new = json.load(f2)
string_list_followers_new = [item['string_list_data'][0] for item in data_followers_new]
df_followers_new = pd.DataFrame(string_list_followers_new)

df_followers_new

                                         href           value   timestamp
0       https://www.instagram.com/andilutfi53     andilutfi53  1737903195
1         https://www.instagram.com/tbone8481       tbone8481  1736653566
2        https://www.instagram.com/n_haayaati      n_haayaati  1734566982
3      https://www.instagram.com/ditaoctavina    ditaoctavina  1731334299
4     https://www.instagram.com/yogisugiyatna   yogisugiyatna  1730554568
..                                        ...             ...         ...
829      https://www.instagram.com/msdirandra      msdirandra  1402200849
830     https://www.instagram.com/donnydharma     donnydharma  1402199301
831  https://www.instagram.com/chocolate94941  chocolate94941  1402199282
832   https://www.instagram.com/radea_pratama   radea_pratama  1402198247
833         https://www.instagram.com/dimas7_         dimas7_  1402198189

[834 rows x 3 columns]

In [2]:
df_followers_old.loc[~df_followers_old['value'].isin(df_followers_new['value'])].to_csv('unfollowers.csv', index=False)
df_followers_old.loc[~df_followers_old['value'].isin(df_followers_new['value'])]
df_followers_new

                                         href           value   timestamp
0       https://www.instagram.com/andilutfi53     andilutfi53  1737903195
1         https://www.instagram.com/tbone8481       tbone8481  1736653566
2        https://www.instagram.com/n_haayaati      n_haayaati  1734566982
3      https://www.instagram.com/ditaoctavina    ditaoctavina  1731334299
4     https://www.instagram.com/yogisugiyatna   yogisugiyatna  1730554568
..                                        ...             ...         ...
829      https://www.instagram.com/msdirandra      msdirandra  1402200849
830     https://www.instagram.com/donnydharma     donnydharma  1402199301
831  https://www.instagram.com/chocolate94941  chocolate94941  1402199282
832   https://www.instagram.com/radea_pratama   radea_pratama  1402198247
833         https://www.instagram.com/dimas7_         dimas7_  1402198189

[834 rows x 3 columns]

In [3]:
df_followers_new

                                         href           value   timestamp
0       https://www.instagram.com/andilutfi53     andilutfi53  1737903195
1         https://www.instagram.com/tbone8481       tbone8481  1736653566
2        https://www.instagram.com/n_haayaati      n_haayaati  1734566982
3      https://www.instagram.com/ditaoctavina    ditaoctavina  1731334299
4     https://www.instagram.com/yogisugiyatna   yogisugiyatna  1730554568
..                                        ...             ...         ...
829      https://www.instagram.com/msdirandra      msdirandra  1402200849
830     https://www.instagram.com/donnydharma     donnydharma  1402199301
831  https://www.instagram.com/chocolate94941  chocolate94941  1402199282
832   https://www.instagram.com/radea_pratama   radea_pratama  1402198247
833         https://www.instagram.com/dimas7_         dimas7_  1402198189

[834 rows x 3 columns]