In [1]:
import pandas as pd
import json

# Specify the path to the JSON file
followers_old_path = 'followers_old.json'
# Read the JSON data from the file
with open(followers_old_path, 'r') as f2:
    data_followers_old = json.load(f2)
string_list_followers_old = [item['string_list_data'][0] for item in data_followers_old]
df_followers_old = pd.DataFrame(string_list_followers_old)


# Specify the path to the JSON file
followers_new_path = 'followers_new.json'
# Read the JSON data from the file
with open(followers_new_path, 'r') as f2:
    data_followers_new = json.load(f2)
string_list_followers_new = [item['string_list_data'][0] for item in data_followers_new]
df_followers_new = pd.DataFrame(string_list_followers_new)

df_followers_new

,href,value,timestamp
0,https://www.instagram.com/dharmags,dharmags,1724913340
1,https://www.instagram.com/tantinfii,tantinfii,1724074859
2,https://www.instagram.com/mayaayuning,mayaayuning,1722308433
3,https://www.instagram.com/gray.d.fullbuster,gray.d.fullbuster,1721926627
4,https://www.instagram.com/gregorius.d.muda,gregorius.d.muda,1721800701
...,...,...,...
824,https://www.instagram.com/mamadirandra,mamadirandra,1402200849
825,https://www.instagram.com/donnydharma,donnydharma,1402199301
826,https://www.instagram.com/chocolate94941,chocolate94941,1402199282
827,https://www.instagram.com/radea_pratama,radea_pratama,1402198247
828,https://www.instagram.com/dimas7_,dimas7_,1402198189

In [2]:
df_followers_old.loc[~df_followers_old['value'].isin(df_followers_new['value'])].to_csv('unfollowers.csv', index=False)

Empty DataFrame
Columns: [href, value, timestamp]
Index: []