In [1]:
import pandas as pd
import re
import openpyxl


import sys
sys.path.append('../')

import main_module as m

In [2]:
cols = ['First Name', 
    'Last Name',
    'Email', 
    'Phone', 
    'Mobile', 
    'City', 
    'Country', 
    'Nationality',
    'Lead Locations', 
    'Booking Status', 
    'BookRef']

In [3]:
path = r'C:\Users\fajar\Documents\Python\Data\push-pastguest.xlsx'
df_push = pd.read_excel(path, dtype='string', usecols=cols, sheet_name='Sheet0')
df_push.fillna('empty', inplace=True)
df_push.columns

C:\Users\fajar\AppData\Roaming\Python\Python310\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['First Name', 'Last Name', 'Email', 'Phone', 'Mobile', 'City',
       'Country', 'Nationality', 'Lead Locations', 'Booking Status',
       'BookRef'],
      dtype='object')

In [4]:
df_push

,First Name,Last Name,Email,Phone,Mobile,City,Country,Nationality,Lead Locations,Booking Status,BookRef
0,Niraj,Srivastava,neeraj.sri0107@gmail.com,919550367824,919984874254,HYDERABAD,India,Indian,Karma Royal Palms,Checked-Out,2144661
1,Mr. Prasen V,Gupta,sbgbm@hotmail.com,919820484363,919904098323,VALSAD,India,Indian,Karma Royal Palms,Checked-Out,2159068
2,Praveen,Kumar R,praveenkumar076@outlook.com,919392485914,919880210979,BANGALORE,India,Indian,Karma Royal Palms,Checked-Out,2156938
3,Ngatiman,-,timanteyeng@gmail.com,6287888375267,empty,Bekasi,Indonesia,Indonesian,"Karma Salak, Bogor",Checked-Out,2164020
4,Neeraj,Gupta,sakshichitkara18@gmail.com,919871453039,917011181650,DELHI,India,Indian,"Karma Sitabani, Corbett",Checked-Out,2146416
...,...,...,...,...,...,...,...,...,...,...,...
336,Naveen,Kumar M V,naveenreddy82@gmail.com,919740817994,919632380864,BANGALORE,India,Indian,Karma Royal Palms,Checked-Out,2130640
337,Mr. Rajesh Ramapati,Pandey,rajeshpandey30@gmail.com,919819991272,919930470119,MUMBAI,India,Indian,Karma Royal Haathi Mahal,Checked-Out,2129017
338,Haroon,Shaikh,hararhshk2@gmail.com,919920209389,917045049658,MUMBAI,India,Indian,Karma Royal Haathi Mahal,Checked-Out,2164257
339,Amit,Kaushik,kaushikamit40@gmail.com,918588993631,empty,pur mazra,India,Indian,Karma Royal Haathi Mahal,Checked-Out,2154388
340,Matthew,Giles,matthew.w.giles@gmail.com,447738016783,empty,empty,United Kingdom,empty,Karma Reef,empty,empty

In [5]:
path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_backup.csv'
df_bounced = pd.read_csv(path, dtype='string')
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1223936,z_forbes_92@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
1223937,z_mingwei@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
1223938,z_o_ni@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
1223939,_argo@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,Purple WIFI
1223940,_joanne_mckay@hotmail.co.nz,Safe to Send,Deliverable,5,No,Yes,hotmail.co.nz,Purple WIFI

In [6]:
df_bounced.drop_duplicates(subset='EMAIL', inplace=True)
df_bounced.reset_index(drop=True, inplace=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
982853,z_forbes_92@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
982854,z_mingwei@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
982855,z_o_ni@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
982856,_argo@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,Purple WIFI
982857,_joanne_mckay@hotmail.co.nz,Safe to Send,Deliverable,5,No,Yes,hotmail.co.nz,Purple WIFI

In [7]:
df_push['Email'] = m.lowercase(df_push, 'Email')
m.clean_space(df_push, 'Email')

df_bounced['EMAIL'] = m.lowercase(df_bounced, 'EMAIL')
m.clean_space(df_bounced, 'EMAIL')

0                 00001111den@gmail.com
1         007dhananjaykumbhar@gmail.com
2                       0597396@mail.ru
3                 07deepanshu@gmail.com
4                     1078049354@qq.com
                      ...
982853          z_forbes_92@hotmail.com
982854            z_mingwei@hotmail.com
982855               z_o_ni@hotmail.com
982856                    _argo@mail.ru
982857      _joanne_mckay@hotmail.co.nz
Name: EMAIL, Length: 982858, dtype: string

In [8]:
df_push.loc[df_push['Email'].isin(df_bounced['EMAIL'])]

,First Name,Last Name,Email,Phone,Mobile,City,Country,Nationality,Lead Locations,Booking Status,BookRef
112,Mr. Navin,Sikka,navinsikka@gmail.com,919810879324,919810874332,DELHI,India,Indian,"Karma Sitabani, Corbett",Checked-Out,2168062
193,Adele Louise,Curcio,adelecurcii8@gmail.com,61411428051,empty,-,Australia,Australian,Karma Royal Candidasa,Checked-Out,2104722

In [9]:
joined_df = pd.merge(df_push,
                     df_bounced,
                     left_on ='Email',
                     right_on ='EMAIL',
                     how ='left')
joined_df

,First Name,Last Name,Email,Phone,Mobile,City,Country,Nationality,Lead Locations,Booking Status,BookRef,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,Niraj,Srivastava,neeraj.sri0107@gmail.com,919550367824,919984874254,HYDERABAD,India,Indian,Karma Royal Palms,Checked-Out,2144661,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Mr. Prasen V,Gupta,sbgbm@hotmail.com,919820484363,919904098323,VALSAD,India,Indian,Karma Royal Palms,Checked-Out,2159068,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Praveen,Kumar R,praveenkumar076@outlook.com,919392485914,919880210979,BANGALORE,India,Indian,Karma Royal Palms,Checked-Out,2156938,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,Ngatiman,-,timanteyeng@gmail.com,6287888375267,empty,Bekasi,Indonesia,Indonesian,"Karma Salak, Bogor",Checked-Out,2164020,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Neeraj,Gupta,sakshichitkara18@gmail.com,919871453039,917011181650,DELHI,India,Indian,"Karma Sitabani, Corbett",Checked-Out,2146416,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,Naveen,Kumar M V,naveenreddy82@gmail.com,919740817994,919632380864,BANGALORE,India,Indian,Karma Royal Palms,Checked-Out,2130640,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
337,Mr. Rajesh Ramapati,Pandey,rajeshpandey30@gmail.com,919819991272,919930470119,MUMBAI,India,Indian,Karma Royal Haathi Mahal,Checked-Out,2129017,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
338,Haroon,Shaikh,hararhshk2@gmail.com,919920209389,917045049658,MUMBAI,India,Indian,Karma Royal Haathi Mahal,Checked-Out,2164257,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
339,Amit,Kaushik,kaushikamit40@gmail.com,918588993631,empty,pur mazra,India,Indian,Karma Royal Haathi Mahal,Checked-Out,2154388,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
340,Matthew,Giles,matthew.w.giles@gmail.com,447738016783,empty,empty,United Kingdom,empty,Karma Reef,empty,empty,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [10]:
joined_df['Email'].loc[joined_df['EMAIL'].isna()].to_csv(r'C:\Users\fajar\Documents\Python\Data\push-pastguest-debounce.csv', index=False, encoding='utf-8')

In [11]:
joined_df.loc[joined_df['RESULT'] == 'Safe to Send']

,First Name,Last Name,Email,Phone,Mobile,City,Country,Nationality,Lead Locations,Booking Status,BookRef,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
112,Mr. Navin,Sikka,navinsikka@gmail.com,919810879324,919810874332,DELHI,India,Indian,"Karma Sitabani, Corbett",Checked-Out,2168062,navinsikka@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,Past Guest
193,Adele Louise,Curcio,adelecurcii8@gmail.com,61411428051,empty,-,Australia,Australian,Karma Royal Candidasa,Checked-Out,2104722,adelecurcii8@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,SEAP-Western2 - 18Mar22

In [5]:
# df_push.replace('empty', '', inplace=True)
# df_push.to_csv(r'C:\Users\fajar\Documents\Python\Data\push-pastguest-formatted.csv', index=False, encoding='utf-8')

In [16]:
df_bounced.loc[df_bounced['EMAIL'].str.contains('nhnovika@gmail.com', flags=re.I, regex=True)]

Empty DataFrame
Columns: [EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []