In [1]:
import pandas as pd
import re
import openpyxl

import sys
sys.path.append('../')

import main_module as m

In [2]:
cols = ['First Name', 
    'Last Name',
    'Email', 
    'Phone', 
    'Mobile', 
    'City', 
    'State',
    'Country', 
    'Nationality',
    'Lead Locations', 
    'Booking Status',
    'Lead Source', 
    'BookRef']

In [3]:
path = r'C:\Users\fajar\Documents\Python\Data\push-pastguest.xlsx'
df_push = pd.read_excel(path, dtype='string', usecols=cols, sheet_name='Sheet0', engine='openpyxl')
df_push.fillna('empty', inplace=True)
count_total_data = df_push.shape[0]
df_push.columns

c:\Users\fajar\Documents\Python\Task Offline\venv12\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['First Name', 'Last Name', 'Email', 'Phone', 'Mobile', 'City', 'State',
       'Country', 'Nationality', 'Lead Source', 'Lead Locations',
       'Booking Status', 'BookRef'],
      dtype='object')

In [4]:
df_push

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Adetayo,Ajayi,adetayoajayi1@yahoo.com,+447846704249,empty,empty,Birmingham,United Kingdom,British,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2752453
1,Nisha,Rabadia,nishapatel167@gmail.com,+61424555167,empty,PERTH,WA,Australia,Australian,Past Guests,Amina hotel,Checked-Out,2728545
2,Cameron,Lawrence,gabrielle.denningcotter@gmail.com,+61455926283,empty,-,-,Australia,Australian,Past Guests,Amina hotel,Checked-Out,2543989
3,Stephan,Bulmer,leesokyi@yahoo.com,+61407713261,+61407713261,BEECHWORTH,VICTORIA,Australia,Australian,Past Guests,Amina hotel,Checked-Out,2575171
4,Vijay,Gupta,gupta.drvijay@gmail.com,+919811894563,+919313137375,NEW DELHI,DELHI,India,Indian,Past Guests,"Karma Sitabani, Corbett",Checked-Out,2743901
...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,Lee,Badger,lee.badger@live.co.uk,empty,empty,empty,empty,United Kingdom,British,Past Guests,Karma Salford Hall,CHECKED-OUT,KSH021937
505,Marina,Linovich,a.linovich@yandex.ru,+79037961012,+79037961012,empty,empty,Russian Federation,Russian,Past Guests,Karma Kandara,CHECKED-OUT,KK068295
506,Stefanie,Halbritter,steffi.halbritter85@gmail.com,+4917640507404,+4917640507404,Mindelstetten,empty,Germany,German,Past Guests,Karma Bavaria,CHECKED-OUT,KB044470
507,Gary,Scott,garyscott@beyondhospitality.com,empty,empty,empty,empty,United Kingdom,British,Past Guests,Karma Salford Hall,CHECKED-OUT,KSH021937
508,Reif,Myers,ozboardies@gmail.com,+6261416676446,+6261416676446,empty,empty,Indonesia,Indonesian,Past Guests,Karma Kandara,CHECKED-OUT,KK068307

In [5]:
path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_backup.csv'
df_1 = pd.read_csv(path, dtype='string')

path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_new_temp.csv'
df_2 = pd.read_csv(path, dtype='string')


frames = [df_1, df_2]
df_bounced = pd.concat(frames, ignore_index=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1266206,amanmadaan80@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266207,vik.4151@ymail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266208,bhattmandar444@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266209,ravina2394@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266210,dlc_fea@yahoo.co.uk,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>

In [6]:
df_bounced.drop_duplicates(subset='EMAIL', inplace=True)
df_bounced.reset_index(drop=True, inplace=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1020076,amanmadaan80@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020077,vik.4151@ymail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020078,bhattmandar444@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020079,ravina2394@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020080,dlc_fea@yahoo.co.uk,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>

In [7]:
df_bounced.groupby('RESULT').count()

               EMAIL  REASON  STATUS CODE    ROLE    FREE  DOMAIN  Sheet Name
RESULT
Invalid       110158  110158       109865  108065  107501  105061      110158
Risky          54022   54022        53677   48120   48106   47313       54022
Safe to Send  807022  807022       807022  788244  787839  760827      806500
Unknown        48868   48868        48868   45567   45562   44919       48868

In [8]:
df_push.loc[df_push['Email'].isin(df_bounced['EMAIL'])]

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
1,Nisha,Rabadia,nishapatel167@gmail.com,+61424555167,empty,PERTH,WA,Australia,Australian,Past Guests,Amina hotel,Checked-Out,2728545
36,Esekia,Faitua,eskofino@hotmail.com,+61406467766,+61406467766,Australia,Australia,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2705385
90,Anju,Parasher,anjuparasher@hotmail.com,+61422110348,+61422110348,South Morang,VIC,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Phase V",Checked-Out,2614446
97,Vijay,Gaidhankar,vgaidhankar@gmail.com,+919822447432,+919307848432,PUNE,MAHARASHTRA,India,Indian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2659868
139,Kim,Brown,cessnockhotel1@icloud.com,+61402090779,empty,-,-,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2581776
150,Mayank,Mehta,mayank.mht1@gmail.com,+919833611522,+919867321422,THANE,MAHARASHTRA,India,Indian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2672199
166,Aradhana,Saluja,cocosaluja@gmail.com,+919811154308,+919811059593,GURGAON,HARYANA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2575822
169,Reginaldo Amar,Cabral,globeresorts@clublacosta.com,+34952669999,empty,-,-,Spain,British,Past Guests,Karma Royal Palms,Checked-Out,2649644
192,Kadek,Riantini,ryan.marscelle@gmail.com,+61402031543,empty,-,-,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2678716
200,Adam,Fisher,adam.fisher@ausloans.com.au,+61448826668,empty,-,-,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Phase V",Checked-Out,2710448
211,Sunita,Srivastava,dpsrivastava1990@yahoo.co.in,+919818097294,+919810397294,NOIDA,UTTAR PRADESH,India,Indian,Past Guests,Karma Royal Monterio,Checked-Out,2672522
216,Sharron Michelle,Erica Matthews,globeresorts@clublacosta.com,+34952669999,+447946581872,-,-,England,British,Past Guests,Karma Royal Haathi Mahal,Checked-Out,2432381
217,Panayiotis,Agamemnos,lorets3@googlemail.com,+447747614616,+447747614616,LONDON,-,England,British,Past Guests,Karma Salford Hall,Checked-Out,2499307
254,Karen,Young,kazyoung@me.com,+61434563176,+61434563176,Elanora Heights,VIC,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Phase V",Checked-Out,2614360
256,Kiran,Pawar,kk@gmail.com,+917755979376,+918299772808,PUNE,MAHARASHTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2741973
268,Daniel,Jones,gareth.jones17@btinternet.com,+441974298826,empty,-,-,United Kingdom,British,Past Guests,Karma Salford Hall,Checked-Out,2600820
323,Rajendra,Kakker,kakker00@gmail.com,+919711141187,empty,Gurgoan,Delhi,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2731055
413,Manish,Ahuja,m_ahuja76@yahoo.com,+919212544004,+919312649106,NEW DELHI,DELHI,India,Indian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2717020
465,K,Santosh Kumar,santosh1702.kumar@gmail.com,+918088840841,+919740426970,BANGALORE,KARNATAKA,India,Indian,Past Guests,Karma Royal Haathi Mahal,Checked-Out,2724770
471,Hamish,Thorburn,hthorburn@yahoo.co.uk,+447733333649,+441505503616,Beith,empty,United Kingdom,empty,Past Guests,Karma Lake of Menteith,CANCELLED,KLM007781
472,Maurizio,Valentini,maurizio@borgodicolleoliresort.com,+39345241272,empty,-,-,Italy,Italian,Past Guests,Karma Bavaria,CANCELLED,KB046586
480,Anton,Tardif,antontardif@aol.com,+447462189539,+447462189539,empty,empty,United Kingdom,British,Past Guests,Karma Bavaria,CHECKED-OUT,KB046859
501,Anna Fiona,Brown,annabrown555@hotmail.com,+61407799084,+61407799084,empty,empty,Australia,Australian,Past Guests,Karma Kandara,CHECKED-OUT,KK061338

In [9]:
count_empty_contact = df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')].shape[0]

df_push.drop(df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')
            ].index, inplace=True)

count_after_wash_empty_contact = df_push.shape[0]

In [10]:
# df_bounced.loc[df_bounced['EMAIL'] == 'pawan_chhikara2001@yahoo.com']

In [11]:
joined_df = pd.merge(df_push,
                     df_bounced,
                     left_on ='Email',
                     right_on ='EMAIL',
                     how ='left')
joined_df.fillna('empty', inplace=True)

In [12]:
joined_df.groupby('RESULT').count()

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef,EMAIL,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
RESULT,,,,,,,,,,,,,,,,,,,,
Invalid,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Risky,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Safe to Send,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
empty,486,486,486,486,486,486,486,486,486,486,486,486,486,486,486,486,486,486,486,486

In [13]:
joined_list = joined_df.loc[~joined_df['RESULT'].isna()].copy()
joined_list.reset_index(drop=True, inplace=True)

not_exist_list = joined_df.loc[joined_df['RESULT'].isna()].copy()
not_exist_list.reset_index(drop=True, inplace=True)

count_exist_in_bounce = joined_list.shape[0]
count_not_exist_in_bounce = not_exist_list.shape[0]

In [14]:
safe_to_send = joined_list.loc[~joined_list['RESULT'].str.contains('Invalid|Risky',regex=True)|joined_list['RESULT'].str.contains('empty',regex=True)].copy()
safe_to_send.reset_index(drop=True, inplace=True)
count_safe_to_send = safe_to_send.shape[0]

ex_safe_to_send = joined_list.loc[joined_list['RESULT'] != 'Safe to Send'].copy()
ex_safe_to_send.reset_index(drop=True, inplace=True)
count_ex_safe_to_send = ex_safe_to_send.shape[0]

In [15]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Total Data : "+str(count_total_data))
print("Jumlah Data Contact Empty : "+str(count_empty_contact))
print("Jumlah Data Setelah Wash Empty Contact : "+str(count_empty_contact))
print("Jumlah Data Exist di Database Bounce : "+str(count_exist_in_bounce))
print("Jumlah Data Tidak Exist di Database Bounce : "+str(count_not_exist_in_bounce))
print("==========================================================")
print("Summary Bounced")
print("==========================================================")
print("Jumlah Data Safe to Send : "+str(count_safe_to_send))
print("Jumlah Data not Safe to Send : "+str(count_ex_safe_to_send))

==========================================================
Summary
==========================================================
Jumlah Total Data : 509
Jumlah Data Contact Empty : 0
Jumlah Data Setelah Wash Empty Contact : 0
Jumlah Data Exist di Database Bounce : 509
Jumlah Data Tidak Exist di Database Bounce : 0
==========================================================
Summary Bounced
==========================================================
Jumlah Data Safe to Send : 506
Jumlah Data not Safe to Send : 489

In [16]:
not_exist_list.loc[not_exist_list['Email'] == 'mohdasifaliak2016@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'matthew.w.giles@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'venkjaya@gmail.com']
# joined_df.loc[joined_df['RESULT'] == 'Safe to Send']
# df_bounced.loc[df_bounced['EMAIL'] == ]

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

[0 rows x 21 columns]

In [17]:
safe_to_send.replace('empty', '', inplace=True)
safe_to_send.reset_index(drop=True, inplace=True)
df_safe = safe_to_send.reindex(columns=cols)
df_safe['City'].replace('-', '',regex=True, inplace=True)
df_safe['State'].replace('-', '',regex=True, inplace=True)
df_safe.rename(columns={'Lead Source':'Lead Sources'}, inplace=True)

df_safe['Tags'] = 'Non Members,Past Guest'
df_safe.loc[df_safe['Lead Locations'].str.contains('kandara', regex=True, flags=re.I),"Tags"]=df_safe['Tags']+',Past Guests - KK'
df_safe.loc[df_safe['Lead Locations'].str.contains('bavaria', regex=True, flags=re.I),"Tags"]=df_safe['Tags']+',Past Guests - KB'
df_safe.loc[df_safe['Lead Locations'].str.contains('menteith', regex=True, flags=re.I),"Tags"]=df_safe['Tags']+',Past Guests - KLOM'


df_safe.to_csv(r'C:\Users\fajar\Documents\Python\Data\push-pastguest-formatted.csv', index=False, encoding='utf-8')

joined_df.replace('empty', '', inplace=True)
joined_df.to_csv(r'C:\Users\fajar\Documents\Python\Data\check-debounce.csv', index=False, encoding='utf-8')

C:\Users\fajar\AppData\Local\Temp\ipykernel_17600\2900155512.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_safe['City'].replace('-', '',regex=True, inplace=True)
C:\Users\fajar\AppData\Local\Temp\ipykernel_17600\2900155512.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_safe['State'].replace('-', '',regex=True, inplace=True)

In [18]:
df_safe[df_safe['Email'] == 'mani.p.mk@gmail.com']

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Locations, Booking Status, Lead Sources, BookRef, Tags]
Index: []

In [19]:
ex_safe_to_send.replace('empty', '', inplace=True)
ex_safe_to_send.reset_index(drop=True, inplace=True)
df_ex_safe_to_send = ex_safe_to_send.reindex(columns=cols)
df_ex_safe_to_send

df_ex_safe_to_send.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-safe-to-send-debounce.xlsx', index=False)

In [20]:
not_exist_list.replace('empty', '', inplace=True)
not_exist_list.reset_index(drop=True, inplace=True)
df_not_exist = not_exist_list.reindex(columns=cols)
df_not_exist

df_not_exist.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-exist-debounce.xlsx', index=False)