In [1]:
import pandas as pd
import re
import openpyxl

import sys
sys.path.append('../')

import main_module as m

In [2]:
cols = ['First Name', 
    'Last Name',
    'Email', 
    'Phone', 
    'Mobile', 
    'City', 
    'State',
    'Country', 
    'Nationality',
    'Lead Locations', 
    'Booking Status',
    'Lead Source', 
    'BookRef']

In [3]:
path = r'C:\Users\fajar\Documents\Python\Data\push-pastguest.xlsx'
df_push = pd.read_excel(path, dtype='string', usecols=cols, sheet_name='Sheet0', engine='openpyxl')
df_push.fillna('empty', inplace=True)
count_total_data = df_push.shape[0]
df_push.columns

c:\Users\fajar\Documents\Python\Task Offline\venv12\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['First Name', 'Last Name', 'Email', 'Phone', 'Mobile', 'City', 'State',
       'Country', 'Nationality', 'Lead Source', 'Lead Locations',
       'Booking Status', 'BookRef'],
      dtype='object')

In [4]:
df_push

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Abdus Salam Athar,Hasnie,ahasnie@aol.com,+447927845733,empty,-,-,USA,British,Past Guests,Karma Royal Jimbaran,Checked-Out,2505854
1,Aniket,Godage,aniketgodage10@gmail.com,+916366356876,+919579535957,PUNE,MAHARASHTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2661326
2,Hitesh Kumar,Daryani,hitesh.daryani@gmail.com,+918975930900,+917999690970,PUNE,MAHARASHTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2647096
3,Gemma,Gourlay,baby_blue_gemz@hotmail.co.uk,+447917859457,empty,-,-,United Kingdom,British,Past Guests,Karma Lake of Menteith,Checked-Out,2529630
4,George Kutty,P G,georgekuttypg97@gmail.com,+919495104656,+918078447618,-,-,India,Indian,Past Guests,"Karma Munnar, Kerala",Checked-Out,2636933
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,Vijay,Mohan,mohanvijay@hotmail.com,+919560202223,empty,Gautham Buddha Nagra,Uttar Pradesh,India,Indian,Past Guests,Karma Royal Monterio,Checked-Out,2620881
381,Avinash,Dubey,avinashdubey1008@gmail.com,+919573937039,+919032168415,HYDERABAD,TELANGANA,India,Indian,Past Guests,"Karma Munnar, Kerala",Checked-Out,2594535
382,Chandder,Parkash,chandraprakash8509@gmaiil.com,+919466233224,+919728905067,Rohtak,HARYANA,India,Indian,Past Guests,Karma Royal Haathi Mahal,Checked-Out,2691639
383,Jock,Campbell,jackcampbell7@gmail.com,+61435726159,empty,empty,empty,Australia,Australian,Past Guests,Karma Kandara,Checked-Out,KK064414
384,Dariia,Podshivalova,daaary121295@gmail.com,+4915226587753,empty,Munich,empty,Germany,Russian,Past Guests,Karma Bavaria,Checked-Out,KB045948

In [5]:
path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_backup.csv'
df_1 = pd.read_csv(path, dtype='string')

path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_new_temp.csv'
df_2 = pd.read_csv(path, dtype='string')


frames = [df_1, df_2]
df_bounced = pd.concat(frames, ignore_index=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1266206,amanmadaan80@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266207,vik.4151@ymail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266208,bhattmandar444@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266209,ravina2394@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266210,dlc_fea@yahoo.co.uk,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>

In [6]:
df_bounced.drop_duplicates(subset='EMAIL', inplace=True)
df_bounced.reset_index(drop=True, inplace=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1020076,amanmadaan80@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020077,vik.4151@ymail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020078,bhattmandar444@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020079,ravina2394@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020080,dlc_fea@yahoo.co.uk,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>

In [7]:
df_bounced.groupby('RESULT').count()

               EMAIL  REASON  STATUS CODE    ROLE    FREE  DOMAIN  Sheet Name
RESULT
Invalid       110158  110158       109865  108065  107501  105061      110158
Risky          54022   54022        53677   48120   48106   47313       54022
Safe to Send  807022  807022       807022  788244  787839  760827      806500
Unknown        48868   48868        48868   45567   45562   44919       48868

In [8]:
df_push.loc[df_push['Email'].isin(df_bounced['EMAIL'])]

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
53,Subhash,Sharma,sharmasubhash1978@gmail.com,+919925529937,+919937648431,PATNA,BIHAR,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2616374
246,Josie,Langford,groovychick2008@live.com.au,+61438453865,+61438453865,SCARBOROUGH,WA,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2660463
339,Abhinav,Kanoongo,abhinavkanoongo@gmail.com,+919001011018,+919110675627,GURUGRAM,HARYANA,India,Indian,Past Guests,"Karma Golden Camp, Jaisalmer",Checked-Out,2681688

In [9]:
count_empty_contact = df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')].shape[0]

df_push.drop(df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')
            ].index, inplace=True)

count_after_wash_empty_contact = df_push.shape[0]

In [10]:
# df_bounced.loc[df_bounced['EMAIL'] == 'pawan_chhikara2001@yahoo.com']

In [11]:
joined_df = pd.merge(df_push,
                     df_bounced,
                     left_on ='Email',
                     right_on ='EMAIL',
                     how ='left')
joined_df

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,...,Booking Status,BookRef,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,Abdus Salam Athar,Hasnie,ahasnie@aol.com,+447927845733,empty,-,-,USA,British,Past Guests,...,Checked-Out,2505854,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Aniket,Godage,aniketgodage10@gmail.com,+916366356876,+919579535957,PUNE,MAHARASHTRA,India,Indian,Past Guests,...,Checked-Out,2661326,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Hitesh Kumar,Daryani,hitesh.daryani@gmail.com,+918975930900,+917999690970,PUNE,MAHARASHTRA,India,Indian,Past Guests,...,Checked-Out,2647096,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,Gemma,Gourlay,baby_blue_gemz@hotmail.co.uk,+447917859457,empty,-,-,United Kingdom,British,Past Guests,...,Checked-Out,2529630,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,George Kutty,P G,georgekuttypg97@gmail.com,+919495104656,+918078447618,-,-,India,Indian,Past Guests,...,Checked-Out,2636933,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,Vijay,Mohan,mohanvijay@hotmail.com,+919560202223,empty,Gautham Buddha Nagra,Uttar Pradesh,India,Indian,Past Guests,...,Checked-Out,2620881,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
381,Avinash,Dubey,avinashdubey1008@gmail.com,+919573937039,+919032168415,HYDERABAD,TELANGANA,India,Indian,Past Guests,...,Checked-Out,2594535,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
382,Chandder,Parkash,chandraprakash8509@gmaiil.com,+919466233224,+919728905067,Rohtak,HARYANA,India,Indian,Past Guests,...,Checked-Out,2691639,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
383,Jock,Campbell,jackcampbell7@gmail.com,+61435726159,empty,empty,empty,Australia,Australian,Past Guests,...,Checked-Out,KK064414,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
384,Dariia,Podshivalova,daaary121295@gmail.com,+4915226587753,empty,Munich,empty,Germany,Russian,Past Guests,...,Checked-Out,KB045948,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [12]:
joined_df.groupby('RESULT').count()

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef,EMAIL,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
RESULT,,,,,,,,,,,,,,,,,,,,
Safe to Send,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [13]:
joined_list = joined_df.loc[~joined_df['RESULT'].isna()].copy()
joined_list.reset_index(drop=True, inplace=True)

not_exist_list = joined_df.loc[joined_df['RESULT'].isna()].copy()
not_exist_list.reset_index(drop=True, inplace=True)

count_exist_in_bounce = joined_list.shape[0]
count_not_exist_in_bounce = not_exist_list.shape[0]

In [14]:
safe_to_send = joined_list.loc[~joined_list['RESULT'].str.contains('Invalid|Risky',regex=True)].copy()
safe_to_send.reset_index(drop=True, inplace=True)
count_safe_to_send = safe_to_send.shape[0]

ex_safe_to_send = joined_list.loc[joined_list['RESULT'] != 'Safe to Send'].copy()
ex_safe_to_send.reset_index(drop=True, inplace=True)
count_ex_safe_to_send = ex_safe_to_send.shape[0]

In [15]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Total Data : "+str(count_total_data))
print("Jumlah Data Contact Empty : "+str(count_empty_contact))
print("Jumlah Data Setelah Wash Empty Contact : "+str(count_empty_contact))
print("Jumlah Data Exist di Database Bounce : "+str(count_exist_in_bounce))
print("Jumlah Data Tidak Exist di Database Bounce : "+str(count_not_exist_in_bounce))
print("==========================================================")
print("Summary Bounced")
print("==========================================================")
print("Jumlah Data Safe to Send : "+str(count_safe_to_send))
print("Jumlah Data not Safe to Send : "+str(count_ex_safe_to_send))

==========================================================
Summary
==========================================================
Jumlah Total Data : 385
Jumlah Data Contact Empty : 0
Jumlah Data Setelah Wash Empty Contact : 0
Jumlah Data Exist di Database Bounce : 3
Jumlah Data Tidak Exist di Database Bounce : 382
==========================================================
Summary Bounced
==========================================================
Jumlah Data Safe to Send : 3
Jumlah Data not Safe to Send : 0

In [16]:
not_exist_list.loc[not_exist_list['Email'] == 'mohdasifaliak2016@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'matthew.w.giles@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'venkjaya@gmail.com']
# joined_df.loc[joined_df['RESULT'] == 'Safe to Send']
# df_bounced.loc[df_bounced['EMAIL'] == ]

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

[0 rows x 21 columns]

In [17]:
joined_df.loc[joined_df['Email'] == 'mohdasifaliak2016@gmail.com']

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

[0 rows x 21 columns]

In [ ]:
safe_to_send.replace('empty', '', inplace=True)
safe_to_send.reset_index(drop=True, inplace=True)
df_safe = safe_to_send.reindex(columns=cols)
df_safe.rename(columns={'Lead Source':'Lead Sources'}, inplace=True)
df_safe['Tags'] = 'Non Members,Past Guest'

df_safe.to_csv(r'C:\Users\fajar\Documents\Python\Data\push-pastguest-formatted.csv', index=False, encoding='utf-8')

joined_df.replace('empty', '', inplace=True)
joined_df.to_csv(r'C:\Users\fajar\Documents\Python\Data\check-debounce.csv', index=False, encoding='utf-8')

In [19]:
ex_safe_to_send.replace('empty', '', inplace=True)
ex_safe_to_send.reset_index(drop=True, inplace=True)
df_ex_safe_to_send = ex_safe_to_send.reindex(columns=cols)
df_ex_safe_to_send

df_ex_safe_to_send.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-safe-to-send-debounce.xlsx', index=False)

In [20]:
not_exist_list.replace('empty', '', inplace=True)
not_exist_list.reset_index(drop=True, inplace=True)
df_not_exist = not_exist_list.reindex(columns=cols)
df_not_exist

df_not_exist.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-exist-debounce.xlsx', index=False)