In [1]:
import pandas as pd
import re
import openpyxl

import sys
sys.path.append('../')

import main_module as m

In [2]:
cols = ['First Name', 
    'Last Name',
    'Email', 
    'Phone', 
    'Mobile', 
    'City', 
    'State',
    'Country', 
    'Nationality',
    'Lead Locations', 
    'Booking Status',
    'Lead Source', 
    'BookRef']

In [3]:
path = r'C:\Users\fajar.fatoni\Documents\Python\Data\push-pastguest.xlsx'
df_push = pd.read_excel(path, dtype='string', usecols=cols, sheet_name='Sheet0', engine='openpyxl')
df_push.fillna('empty', inplace=True)
count_total_data = df_push.shape[0]
df_push.columns

c:\Users\fajar.fatoni\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['First Name', 'Last Name', 'Email', 'Phone', 'Mobile', 'City', 'State',
       'Country', 'Nationality', 'Lead Source', 'Lead Locations',
       'Booking Status', 'BookRef'],
      dtype='object')

In [4]:
df_push

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Marcus,Goh,gohsengyuen@hotmail.com,+6597382126,empty,empty,empty,Singapore,Singaporean,Past Guests,Amina hotel,Checked-Out,2682997
1,Arvind,Somaiah,arvindsomz@gmail.com,+918892742485,+918073861581,MYSORE,KARNATAKA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2769818
2,Ravi Kumar,Karlapati,kumarkarl@gmail.com,+6591691243,empty,HYDERABAD,Telangana,India,Indian,Past Guests,"Karma Bayon, Siam Reap",Checked-Out,2650529
3,Jitendra,J,mr.jitupatil@gmail.com,+918756817107,+919421101611,SANGLI,MAHARASTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2746692
4,Kishan,Shetty,kishanshetty21@gmail.com,+918867721290,+918779534827,HUBLI,KARNATAKA,India,Indian,Past Guests,Karma Royal Haathi Mahal,Checked-Out,2686617
...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Vijay S R,R,vijayaradhaya85@gmail.com,+919844966056,+919845752831,BANGALORE,KARNATAKA,India,Indian,Past Guests,Karma Sunshine Village,Checked-Out,2737073
316,Sukhwani,Dilip,dsukhwani250@gmail.com,+919904903348,empty,Ahmedabad,Gujarat,India,Indian,Past Guests,"Karma Haveli, Jaipur",Checked-Out,2694657
317,Aditya,Sharma,adityamaharay@gmail.com,+919323298949,empty,.,.,India,Indian,Past Guests,Karma Karnak,Checked-Out,2609578
318,Caitlin,White,cmdwhite06@hotmail.com,+61419291194,empty,-,-,Australia,Australian,Past Guests,Karma Royal Candidasa,Checked-Out,2442913
319,Steven,Marshall,stevem_marshall@hotmail.com,+447825202264,empty,-,-,United Kingdom,British,Past Guests,Karma Bavaria,Checked-Out,2675482

In [5]:
path = r'C:\Users\fajar.fatoni\Documents\Python\Data\Debounce\debounce_backup.csv'
df_1 = pd.read_csv(path, dtype='string')

path = r'C:\Users\fajar.fatoni\Documents\Python\Data\Debounce\debounce_new_temp.csv'
df_2 = pd.read_csv(path, dtype='string')


frames = [df_1, df_2]
df_bounced = pd.concat(frames, ignore_index=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1266206,amanmadaan80@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266207,vik.4151@ymail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266208,bhattmandar444@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266209,ravina2394@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1266210,dlc_fea@yahoo.co.uk,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>

In [6]:
df_bounced.drop_duplicates(subset='EMAIL', inplace=True)
df_bounced.reset_index(drop=True, inplace=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1020076,amanmadaan80@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020077,vik.4151@ymail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020078,bhattmandar444@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020079,ravina2394@gmail.com,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>
1020080,dlc_fea@yahoo.co.uk,Safe to Send,Deliverable,5,FALSE,FALSE,<NA>,<NA>

In [7]:
df_bounced.groupby('RESULT').count()

               EMAIL  REASON  STATUS CODE    ROLE    FREE  DOMAIN  Sheet Name
RESULT
Invalid       110158  110158       109865  108065  107501  105061      110158
Risky          54022   54022        53677   48120   48106   47313       54022
Safe to Send  807022  807022       807022  788244  787839  760827      806500
Unknown        48868   48868        48868   45567   45562   44919       48868

In [8]:
df_push.loc[df_push['Email'].isin(df_bounced['EMAIL'])]

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Marcus,Goh,gohsengyuen@hotmail.com,+6597382126,empty,empty,empty,Singapore,Singaporean,Past Guests,Amina hotel,Checked-Out,2682997
104,John,Ryan,jongerryan1@bigpond.com,+61415378148,+61400319982,BRISBANE,QUEENSLAND,Australia,Australian,Past Guests,"Karma Panalee, Koh Samui",Checked-Out,2690653

In [9]:
count_empty_contact = df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')].shape[0]

df_push.drop(df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')
            ].index, inplace=True)

count_after_wash_empty_contact = df_push.shape[0]

In [10]:
# df_bounced.loc[df_bounced['EMAIL'] == 'pawan_chhikara2001@yahoo.com']

In [11]:
joined_df = pd.merge(df_push,
                     df_bounced,
                     left_on ='Email',
                     right_on ='EMAIL',
                     how ='left')
joined_df.fillna('empty', inplace=True)

In [12]:
joined_df.groupby('RESULT').count()

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef,EMAIL,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
RESULT,,,,,,,,,,,,,,,,,,,,
Safe to Send,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
empty,318,318,318,318,318,318,318,318,318,318,318,318,318,318,318,318,318,318,318,318

In [13]:
joined_list = joined_df.loc[~joined_df['RESULT'].isna()].copy()
joined_list.reset_index(drop=True, inplace=True)

not_exist_list = joined_df.loc[joined_df['RESULT'].isna()].copy()
not_exist_list.reset_index(drop=True, inplace=True)

count_exist_in_bounce = joined_list.shape[0]
count_not_exist_in_bounce = not_exist_list.shape[0]

In [14]:
safe_to_send = joined_list.loc[~joined_list['RESULT'].str.contains('Invalid|Risky',regex=True)|joined_list['RESULT'].str.contains('empty',regex=True)].copy()
safe_to_send.reset_index(drop=True, inplace=True)
count_safe_to_send = safe_to_send.shape[0]

ex_safe_to_send = joined_list.loc[joined_list['RESULT'] != 'Safe to Send'].copy()
ex_safe_to_send.reset_index(drop=True, inplace=True)
count_ex_safe_to_send = ex_safe_to_send.shape[0]

In [15]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Total Data : "+str(count_total_data))
print("Jumlah Data Contact Empty : "+str(count_empty_contact))
print("Jumlah Data Setelah Wash Empty Contact : "+str(count_empty_contact))
print("Jumlah Data Exist di Database Bounce : "+str(count_exist_in_bounce))
print("Jumlah Data Tidak Exist di Database Bounce : "+str(count_not_exist_in_bounce))
print("==========================================================")
print("Summary Bounced")
print("==========================================================")
print("Jumlah Data Safe to Send : "+str(count_safe_to_send))
print("Jumlah Data not Safe to Send : "+str(count_ex_safe_to_send))

==========================================================
Summary
==========================================================
Jumlah Total Data : 320
Jumlah Data Contact Empty : 0
Jumlah Data Setelah Wash Empty Contact : 0
Jumlah Data Exist di Database Bounce : 320
Jumlah Data Tidak Exist di Database Bounce : 0
==========================================================
Summary Bounced
==========================================================
Jumlah Data Safe to Send : 320
Jumlah Data not Safe to Send : 318

In [16]:
not_exist_list.loc[not_exist_list['Email'] == 'mohdasifaliak2016@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'matthew.w.giles@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'venkjaya@gmail.com']
# joined_df.loc[joined_df['RESULT'] == 'Safe to Send']
# df_bounced.loc[df_bounced['EMAIL'] == ]

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

[0 rows x 21 columns]

In [17]:
safe_to_send.replace('empty', '', inplace=True)
safe_to_send.reset_index(drop=True, inplace=True)
df_safe = safe_to_send.reindex(columns=cols)
df_safe['City'].replace('-', '',regex=True, inplace=True)
df_safe['State'].replace('-', '',regex=True, inplace=True)
df_safe.rename(columns={'Lead Source':'Lead Sources'}, inplace=True)

df_safe['Tags'] = 'Non Members,Past Guest'
df_safe.loc[df_safe['Lead Locations'].str.contains('kandara', regex=True, flags=re.I),"Tags"]=df_safe['Tags']+',Past Guests - KK'
df_safe.loc[df_safe['Lead Locations'].str.contains('bavaria', regex=True, flags=re.I),"Tags"]=df_safe['Tags']+',Past Guests - KB'
df_safe.loc[df_safe['Lead Locations'].str.contains('menteith', regex=True, flags=re.I),"Tags"]=df_safe['Tags']+',Past Guests - KLOM'


df_safe.to_csv(r'C:\Users\fajar.fatoni\Documents\Python\Data\push-pastguest-formatted.csv', index=False, encoding='utf-8')

joined_df.replace('empty', '', inplace=True)
joined_df.to_csv(r'C:\Users\fajar.fatoni\Documents\Python\Data\check-debounce.csv', index=False, encoding='utf-8')

C:\Users\fajar.fatoni\AppData\Local\Temp\ipykernel_11068\391197536.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_safe['City'].replace('-', '',regex=True, inplace=True)
C:\Users\fajar.fatoni\AppData\Local\Temp\ipykernel_11068\391197536.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_safe['State'].replace('-', '',regex=True, inplace=True)

In [18]:
df_safe[df_safe['Email'] == 'mani.p.mk@gmail.com']

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Locations, Booking Status, Lead Sources, BookRef, Tags]
Index: []

In [19]:
ex_safe_to_send.replace('empty', '', inplace=True)
ex_safe_to_send.reset_index(drop=True, inplace=True)
df_ex_safe_to_send = ex_safe_to_send.reindex(columns=cols)
df_ex_safe_to_send

df_ex_safe_to_send.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\not-safe-to-send-debounce.xlsx', index=False)

In [20]:
not_exist_list.replace('empty', '', inplace=True)
not_exist_list.reset_index(drop=True, inplace=True)
df_not_exist = not_exist_list.reindex(columns=cols)
df_not_exist

df_not_exist.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\not-exist-debounce.xlsx', index=False)