In [1]:
# import OS module
import os
import pandas as pd
 
# Get the list of all files and directories
# dir_path = "C://Users//Vanshi//Desktop//gfg"
dir_path = r"C:\Users\fajar\Documents\Python\Data\Request Data\Benny\2 Juli\Other-Other"

# dir_list = os.listdir(dir_path)
 
# print("Files and directories in '", dir_path, "' :")
 
# # prints all files
# print(dir_list)

frames = []

# itterate file di dalam directory
for path in os.listdir(dir_path):

    # cek apakah di dalam directory ada file
    if os.path.isfile(os.path.join(dir_path, path)):
        if ".xlsx" in path:
            print(path)
            df = pd.read_excel(dir_path+'\\'+path, dtype='string')
            df['filename'] = path
            frames.append(df)

        if ".csv" in path:
            print(path)
            df = pd.read_csv(dir_path+'\\'+path, dtype='string', on_bad_lines='skip')
            df['filename'] = path
            frames.append(df)
    else:
        print('file doesn\'t exist')

result = pd.concat(frames, ignore_index=True)
result

df_other_1.csv
df_other_2.csv
df_other_3.csv
df_other_4.csv
df_other_5.csv
df_other_6.csv

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,filename
0,zcrm_3584690000005915587,2019-04-02 06:23:24,2000-01-01,Arun,Kumar Jp,jp_arun_kumar@yahoo.co.in,6592376311,<NA>,<NA>,<NA>,...,<NA>,<NA>,Other,<NA>,false,false,false,<NA>,<NA>,df_other_1.csv
1,zcrm_3584690000005915588,2019-04-02 06:23:24,2017-06-30,Joy,Kho,jp_kho8@yahoo.com,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,Other,<NA>,false,false,false,<NA>,<NA>,df_other_1.csv
2,zcrm_3584690000005915589,2019-04-02 06:23:24,2017-07-04,James,O'callaghan,jp_ocallaghan@hotmail.com,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,SEAP,<NA>,false,false,false,<NA>,<NA>,df_other_1.csv
3,zcrm_3584690000005915590,2019-04-02 06:23:24,2017-06-29,Jing,Pitchayanin,jp432@hotmail.com,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,Other,<NA>,false,false,false,<NA>,<NA>,df_other_1.csv
4,zcrm_3584690000005915591,2019-04-02 06:23:24,2017-06-29,Josephine,Pascua,Jp50first@yahoo.com,7143503328,<NA>,<NA>,<NA>,...,General,KE | EDM | w2jan19 | 25 Anniversary Multi Offer,SEAP,<NA>,false,false,false,<NA>,060320 SEAP KE legacy data,df_other_1.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127650,zcrm_3584690000024725651,2019-04-07 17:14:56,2019-02-22,Dennice,Henry Gevandha,dhgevandha+464@gmail.com,6282236523643,<NA>,<NA>,<NA>,...,<NA>,<NA>,Other,New Lead,false,false,false,<NA>,<NA>,df_other_6.csv
127651,zcrm_3584690000024725657,2019-04-07 17:14:56,2019-02-23,Louise,Scrowther,louise_jazz@hotmail.com,+447894157660,<NA>,<NA>,1969,...,<NA>,<NA>,UK/Europe,New Lead,false,false,false,<NA>,<NA>,df_other_6.csv
127652,zcrm_3584690000024725660,2019-04-07 17:14:56,2019-02-25,Mel,Whitfield,melcwhitfield@hotmail.co.uk,+447976403541,<NA>,<NA>,1984,...,<NA>,<NA>,UK/Europe,New Lead,false,false,false,<NA>,<NA>,df_other_6.csv
127653,zcrm_3584690000024725662,2019-04-07 17:14:56,2019-03-18,Dan,Fullard,mygorgeousfriend@hotmail.com,+447850354382,<NA>,<NA>,1991,...,<NA>,<NA>,UK/Europe,New Lead,false,false,false,https://karmagroup.com/timeandleisure/,<NA>,df_other_6.csv
127654,zcrm_3584690000024725668,2019-04-07 17:14:56,2019-03-19,Sam,Coote,samcoote.cc@icloud.com,+447914858418,<NA>,<NA>,1984,...,<NA>,<NA>,UK/Europe,New Lead,false,false,false,<NA>,<NA>,df_other_6.csv

In [2]:
result.to_excel(r'C:\Users\fajar\Documents\Python\Data\Request Data\Benny\2 Juli\Other-Other\df_other_all.xlsx', index=False)