In [155]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np
import openpyxl

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [156]:
path = r'C:\Users\fajar\Documents\Python\Data\GUEST EXIT_ SEAP 2022.xlsx'
df_guest_exit = pd.read_excel(path, dtype='string', sheet_name='All Working Data.')

In [157]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [158]:
df_guest_exit.loc[(df_guest_exit['Primary_Mobile'] == 'empty'), 'Phone'] = 'empty'
df_guest_exit.loc[(df_guest_exit['Primary_Mobile'] != 'empty'), 'Phone'] = df_guest_exit['Primary_Country_Code']+df_guest_exit['Primary_Mobile']

df_guest_exit.loc[(df_guest_exit['Primary_Mobile'] == 'empty'), 'Phone 2'] = 'empty'
df_guest_exit.loc[(df_guest_exit['Primary_Alternate'] != 'empty'), 'Phone 2'] = df_guest_exit['Primary_Alt_CC']+df_guest_exit['Primary_Alternate']

df_guest_exit.fillna('empty', inplace=True)

df_guest_exit[['Primary_Email','Phone']].sort_values('Phone', ascending=True)

                   Primary_Email        Phone
1196        preston_ja@yahoo.com  12026270635
1197  moddyortizrivera@gmail.com  12039150245
1199        dostmughal@gmail.com  12042910596
1200    masoodhashim84@gmail.com  12089540047
1201      justinnunes2@gmail.com  12094854095
...                          ...          ...
4901    meri.amelianti@gmail.com        empty
4900                       empty        empty
4899                       empty        empty
4906                       empty        empty
8221                       empty        empty

[8222 rows x 2 columns]

# ====================== Awal Filter Umum ======================

In [159]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(df_guest_exit, 'Phone')
m.clean_number(df_guest_exit, 'Phone 2')
m.replace_not_valid_to_empty(df_guest_exit, 'Phone')
m.replace_not_valid_to_empty(df_guest_exit, 'Phone 2')

df_guest_exit['Primary_Email'] = m.lowercase(df_guest_exit, 'Primary_Email')
m.clean_space(df_guest_exit, 'Primary_Email')

df_guest_exit['Primary_Email2'] = m.lowercase(df_guest_exit, 'Primary_Email2')
m.clean_space(df_guest_exit, 'Primary_Email2')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')

0             harvey@liblink.co.za
1              _benezi@hotmail.com
2                  0000987@mail.ru
3                0007psc@gmail.com
4               001paras@gmail.com
                    ...
284993      rekhshanbhag@gmail.com
284994     pritimudbidri@gmail.com
284995    gajendra.dewal@gmail.com
284996      drrajivverma@yahoo.com
284997     pritimudbidri@gmail.com
Name: Email, Length: 284998, dtype: string

In [160]:
find_member_booking = df_guest_exit.copy()

df_guest_exit.loc[
    df_guest_exit['Phone'].isin(df_booking['Phone1']) | 
    df_guest_exit['Phone 2'].isin(df_booking['Phone1']) 
]

,SALES APP profile_id,Tour_Date,Sales Venue,Group_Venue,Primary_Fname,Primary_Lname,Primary_Nationality,Primary_Country_Code,Primary_Mobile,Primary_Alt_CC,...,Profile_Address_Postcode,Profile_Address_State,Profile_Address_Country,Tour_Details_Qualified_Status,Tour_Details_Guest_Status,Profile_Stay_Resort_Name,IS A MEMBER,HAS A FUTURE BOOKING,Phone,Phone 2
0,IVO20227045,2022-10-01 00:00:00,JIMBARAN SALES DECK,COLDLINE,PAOLO,MOUSTACHE,SEYCHELLOIS,248,2525268,empty,...,empty,empty,SEYCHELLES,Cat 2,Qualified,GRAND INA KUTA,empty,empty,2482525268,empty
26,IVO20226464,2022-09-15 00:00:00,JIMBARAN SALES DECK,COLDLINE,ABDULHADI,ALQAHTANI,QATARI,974,33441101,empty,...,empty,empty,QATAR,empty,Non Qualified,SHERATON KUTA,empty,empty,97433441101,empty
72,IVO20226932,2022-09-27 00:00:00,JIMBARAN SALES DECK,COLDLINE,MARK,BUGEJA,MALTESE,356,79255310,empty,...,empty,empty,MALTA,OTHERS,Non Qualified,MOVENPICK,empty,empty,35679255310,empty
73,IVO20226397,2022-09-12 00:00:00,JIMBARAN SALES DECK,COLDLINE,EMMAN JOE,BORG,MALTESE,356,79932608,empty,...,empty,empty,MALTA,Cat 2,Qualified,IBIS STYLE BENOA,empty,empty,35679932608,empty
161,IVO20226835,2022-09-24 00:00:00,JIMBARAN SALES DECK,COLDLINE,MATTHEW,SUMMERS,AMERICAN,60,109291190,empty,...,empty,empty,UNITED STATES,Cat 2,Qualified,ADI DHARMA,empty,empty,60109291190,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7682,IVO20227597,2022-10-20 00:00:00,KARMA MERAPI,FLYBUY,ANTON,KURNIAWAN,Indonesian,empty,empty,62,...,-,UNDEFINED,Indonesia,Q,Qualified,empty,empty,empty,empty,6281228282228
8020,IVO20229015,2022-12-09 00:00:00,KARMA MERAPI,FLYBUY,TEDA,"MARIANA, AMD. KEP",Indonesian,empty,empty,62,...,-,UNDEFINED,Indonesia,Q,Qualified,empty,empty,empty,empty,6285816211473
8021,IVO20229021,2022-12-09 00:00:00,KARMA MERAPI,FLYBUY,TEGUH,ABRIANTO,Indonesian,empty,empty,62,...,-,UNDEFINED,Indonesia,Q,Qualified,empty,empty,empty,empty,6287853440546
8106,IVO20229318,2022-12-18 00:00:00,KARMA MERAPI,FLYBUY,PRIISCILLIA,INDRAWATI,Indonesian,empty,empty,62,...,-,UNDEFINED,Indonesia,Q,Qualified,empty,empty,empty,empty,6285741851859
8112,IVO20229324,2022-12-18 00:00:00,KARMA MERAPI,FLYBUY,DRS. EC I WAYAN A,SUARDJANA,Indonesian,empty,empty,62,...,-,UNDEFINED,Indonesia,Q,Qualified,empty,empty,empty,empty,6281216955285

In [161]:
find_member_booking = df_guest_exit.copy()

# find_member_booking.fillna('empty', inplace=True)

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find Booking'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find Booking'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Phone 2'].isin(df_booking['Phone1']), 'Same Value Find Booking'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone 2'].isin(df_booking['Mobile']), 'Same Value Find Booking'] = 'Booking-Mobile'

find_member_booking.loc[find_member_booking['Primary_Email'].isin(df_booking['Email']), 'Same Value Find Booking'] = 'Booking-Email'
find_member_booking.loc[find_member_booking['Primary_Email2'].isin(df_booking['Email']), 'Same Value Find Booking'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find Member'] = 'Member-Mobile'
find_member_booking.loc[find_member_booking['Phone 2'].isin(df_phone['Mobile']), 'Same Value Find Member'] = 'Member-Mobile' 

find_member_booking.loc[find_member_booking['Primary_Email'].isin(df_email['Email']), 'Same Value Find Member'] = 'Member-Email'
find_member_booking.loc[find_member_booking['Primary_Email2'].isin(df_email['Email']), 'Same Value Find Member'] = 'Member-Email'


find_member_booking.fillna('empty', inplace=True)

find_member_booking.drop(find_member_booking.loc[(find_member_booking['Same Value Find Member'] == 'empty') & (find_member_booking['Same Value Find Booking'] == 'empty')].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find Booking'].str.contains('Booking',  regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find Member'].str.contains('Member', regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)

find_member_booking.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [162]:
df_guest_exit['HAS A FUTURE BOOKING'] = 'NO'
df_guest_exit['IS A MEMBER'] = 'NO'

df_guest_exit.loc[
    df_guest_exit['Phone'].isin(df_booking['Phone1']) | 
    df_guest_exit['Phone 2'].isin(df_booking['Phone1']) | 
    df_guest_exit['Phone'].isin(df_booking['Mobile']) |
    df_guest_exit['Phone 2'].isin(df_booking['Mobile']) |
    df_guest_exit['Primary_Email'].isin(df_booking['Email'])|
    df_guest_exit['Primary_Email2'].isin(df_booking['Email']),
'HAS A FUTURE BOOKING'
]= 'YES'

df_guest_exit.loc[

    df_guest_exit['Phone'].isin(df_phone['Mobile']) |
    df_guest_exit['Phone 2'].isin(df_phone['Mobile']) | 
    df_guest_exit['Primary_Email'].isin(df_email['Email'])|
    df_guest_exit['Primary_Email2'].isin(df_email['Email']),
'IS A MEMBER'
] = 'YES'

In [163]:
df_guest_exit.columns

Index(['SALES APP profile_id', 'Tour_Date', 'Sales Venue', 'Group_Venue',
       'Primary_Fname', 'Primary_Lname', 'Primary_Nationality',
       'Primary_Country_Code', 'Primary_Mobile', 'Primary_Alt_CC',
       'Primary_Alternate', 'Primary_Email', 'Primary_Email2',
       'Profile_Address_Line1', 'Profile_Address_city',
       'Profile_Address_Postcode', 'Profile_Address_State',
       'Profile_Address_Country', 'Tour_Details_Qualified_Status',
       'Tour_Details_Guest_Status', 'Profile_Stay_Resort_Name', 'IS A MEMBER',
       'HAS A FUTURE BOOKING', 'Phone', 'Phone 2'],
      dtype='object')

In [164]:
new_push_cols = ['SALES APP profile_id', 'Tour_Date', 'Sales Venue', 'Group_Venue',
       'Primary_Fname', 'Primary_Lname', 'Primary_Nationality',
       'Phone', 'Phone 2', 'Primary_Email', 'Primary_Email2',
       'Profile_Address_Line1', 'Profile_Address_city',
       'Profile_Address_Postcode', 'Profile_Address_State',
       'Profile_Address_Country', 'Tour_Details_Qualified_Status',
       'Tour_Details_Guest_Status', 'Profile_Stay_Resort_Name', 'IS A MEMBER',
       'HAS A FUTURE BOOKING']

df_guest_exit.drop(df_guest_exit.columns.difference(new_push_cols), axis='columns', inplace=True)
df_guest_exit = df_guest_exit.reindex(columns=new_push_cols)
df_guest_exit.columns

Index(['SALES APP profile_id', 'Tour_Date', 'Sales Venue', 'Group_Venue',
       'Primary_Fname', 'Primary_Lname', 'Primary_Nationality', 'Phone',
       'Phone 2', 'Primary_Email', 'Primary_Email2', 'Profile_Address_Line1',
       'Profile_Address_city', 'Profile_Address_Postcode',
       'Profile_Address_State', 'Profile_Address_Country',
       'Tour_Details_Qualified_Status', 'Tour_Details_Guest_Status',
       'Profile_Stay_Resort_Name', 'IS A MEMBER', 'HAS A FUTURE BOOKING'],
      dtype='object')

In [165]:
df_guest_exit.replace('empty', '', inplace=True)
df_guest_exit

,SALES APP profile_id,Tour_Date,Sales Venue,Group_Venue,Primary_Fname,Primary_Lname,Primary_Nationality,Phone,Phone 2,Primary_Email,...,Profile_Address_Line1,Profile_Address_city,Profile_Address_Postcode,Profile_Address_State,Profile_Address_Country,Tour_Details_Qualified_Status,Tour_Details_Guest_Status,Profile_Stay_Resort_Name,IS A MEMBER,HAS A FUTURE BOOKING
0,IVO20227045,2022-10-01 00:00:00,JIMBARAN SALES DECK,COLDLINE,PAOLO,MOUSTACHE,SEYCHELLOIS,2482525268,,p_moustache@yahoo.com,...,,,,,SEYCHELLES,Cat 2,Qualified,GRAND INA KUTA,NO,YES
1,IVO20226633,2022-09-18 00:00:00,JIMBARAN SALES DECK,COLDLINE,CHADI,EL SERRY,LEBANESE,9613040374,,chady.serry@gmail.com,...,,,,,LEBANON,Cat 2,Qualified,VILLA KAYU RAJA,NO,NO
2,IVO20226734,2022-09-21 00:00:00,JIMBARAN SALES DECK,COLDLINE,PEKKA,LAMMI,FINNISH,3585905907,,pekka.lammi1@gmail.com,...,,,,,FINLAND,,Non Qualified,TIRTHA CANGGU SUITE,NO,NO
3,IVO20228806,2022-12-01 00:00:00,JIMBARAN SALES DECK,COLDLINE,BEE KIAT,HO,SINGAPOREAN,656634752,,librakiat@gmail.com,...,,,,,SINGAPORE,Cat 2,Qualified,HOLIDAY INN EXPRESS,NO,NO
4,IVO20225826,2022-08-28 00:00:00,JIMBARAN SALES DECK,COLDLINE,ZAHEEM,ABDULLA,MALDIVIAN,9607933303,,zahyy42@hotmail.com,...,,,,,MALDIVES,Cat 2,Qualified,ANANTA LEGIAN,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8217,IVO20229595,2022-12-27 00:00:00,JIMBARAN SALES DECK,FLYBUY,TROY,HARPER,AUSTRALIAN,,,,...,,,,,AUSTRALIA,Q,Qualified,EPISODE,NO,NO
8218,IVO20229597,2022-12-27 00:00:00,JIMBARAN SALES DECK,FLYBUY,ROSHAN,GILL,AUSTRALIAN,,,,...,,,,,AUSTRALIA,,Garden Party,MELASTI,NO,NO
8219,IVO20229591,2022-12-27 00:00:00,JIMBARAN SALES DECK,FLYBUY,RONI,HANDOKO,INDONESIAN,,,,...,,,,,INDONESIA,Q,Qualified,BEDROCK,NO,NO
8220,IVO20229593,2022-12-27 00:00:00,JIMBARAN SALES DECK,FLYBUY,CANDRA,NEGARA,INDONESIAN,,,,...,,,,,INDONESIA,Q,Qualified,EDEN,NO,NO
8221,IVO20229596,2022-12-27 00:00:00,JIMBARAN SALES DECK,FLYBUY,MICHAEL,BRADY,AUSTRALIAN,,,,...,,,,,AUSTRALIA,Q,Qualified,MELASTI,NO,NO

In [166]:
# print("==========================================================")
# print("Summary")
# print("==========================================================")
# print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
# print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
# print("Jumlah Format Email Salah : "+str(count_deleted_wrong_fromat))
# print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
# print("Jumlah Email OTA : "+str(count_email_OTA))
# print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
# print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
# print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
# print("Jumlah Wash Booking dan Member : "+str(count_wash_member))
# print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))

# ====================== Akhir Filter Umum ======================

In [167]:
df_guest_exit.replace('empty', '', inplace=True)
df_guest_exit.to_excel(r'C:\Users\fajar\Documents\Python\Data\guest_exit.xlsx', index=False)