In [6]:
import pandas as pd
import re
import numpy as np

import gspread

gc = gspread.oauth(
    credentials_filename= r'C:\Users\fajar\Documents\Python\Data\Google Credentials\fajar-fatoni-OAuth.json'
)

SHEET_ID = '1MuM2kAIRDgKrgfDy1UpI7QJ9OnfO3oXQHA5uNhR88WQ'
SHEET_NAME = 'Indonesia'

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
spreadsheet = gc.open_by_key(SHEET_ID)
worksheet = spreadsheet.worksheet(SHEET_NAME)
rows = worksheet.get_all_records()

In [8]:
# print(rows[:5])

# print('==============================')
zoho_df = pd.DataFrame(rows)
zoho_df

count_filter_awal = zoho_df.shape[0]

# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
zoho_df

,no,Account ID,ContactID,FirstName,LastName,AddressLine1,AddressLine2,AddressLine2 - NEW,Town/City,Town/City - NEW,State,State - NEW,Country,Country - NEW,PUSH
0,0,1000,132487,USHA,Jaokar,-,-,-,-,-,-,-,Indonesia,Indonesia,
1,1,1000,929275,Alvin Edric,Lim,PANTAI INDAH KAPUK JLN. AKASIA II NO 11 PERUM ...,-,-,JAKARTA UTARA,JAKARTA,D. K. I. JAKARTA,DKI JAKARTA,Indonesia,Indonesia,Yes
2,2,1000,929276,Elvira,Limina,-,-,-,-,-,-,-,Indonesia,Indonesia,
3,3,1000056,921274,Yohanes,Mustamu,WELLINGTON RESIDENCE BLOK A1,"RT. 009/009 BENDA BARU, PAMULANG","RT. 009/009 BENDA BARU, PAMULANG",TANGERANG SELATAN,TANGGERANG,BANTEN,BANTEN,Indonesia,Indonesia,Yes
4,4,1000056,921301,Jane,Chrisdianty,.,"RT. 009/009 BENDA BARU, PAMULANG","RT. 009/009 BENDA BARU, PAMULANG",.,.,.,.,Indonesia,Indonesia,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9072,9072,1043721,981027,Jany,Jashinta,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Bandung,BANDUNG,Jawa barat,JAWA BARAT,Indonesia,Indonesia,Yes
9073,9073,1043721,981028,Hadriano,Maria Djualim,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Bandung,BANDUNG,Jawa barat,JAWA BARAT,Indonesia,Indonesia,Yes
9074,9074,1043725,981035,Nyssa,Jualim,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Bandung,BANDUNG,Jawa barat,JAWA BARAT,Indonesia,Indonesia,Yes
9075,9075,1043725,981036,Jessie,Jualim,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Jl Setrasari Kulon Raya no 10 A,Bandung,BANDUNG,Jawa barat,JAWA BARAT,Indonesia,Indonesia,Yes
9076,9076,1053368,,"Silmina, Melia",,Jakarta,,,Jakarta,JAKARTA,Jakarta,DKI JAKARTA,Indonesia,Indonesia,Yes

In [9]:
zoho_df.loc[
    (zoho_df['Town/City'].str.contains('BATAM', regex=True, flags=re.I, na=False)) & 
    (zoho_df['Town/City'].str.len() > 5 ),
    'Town/City - NEW'
    ] = 'BATAM'

zoho_df.loc[
    (zoho_df['Town/City'].str.contains('BATAM', regex=True, flags=re.I, na=False)) & 
    (zoho_df['Town/City'].str.len() > 5 ),
    'PUSH'
] = 'Yes'

zoho_df.loc[
    (zoho_df['Town/City'].str.contains('BATAM', regex=True, flags=re.I, na=False)) & 
    (zoho_df['State']!='KEPULAUAN RIAU'),
    'State - NEW'
] = 'KEPULAUAN RIAU'

zoho_df.loc[
    (zoho_df['Town/City'].str.contains('BATAM', regex=True, flags=re.I, na=False)) & 
    (zoho_df['State']!='KEPULAUAN RIAU'),
    'PUSH'
] = 'Yes'


# # zoho_df.loc[
# #     zoho_df['Town/City'].str.contains('ACEH JAYA', regex=True, flags=re.I),
# # 'State - NEW'] = 'Aceh Jaya'

zoho_df.loc[
    (zoho_df['Town/City'].str.contains('BATAM', regex=True, flags=re.I, na=False)) &
    (zoho_df['Town/City'].str.len() > 5 )
]

Empty DataFrame
Columns: [no, Account ID, ContactID, FirstName, LastName, AddressLine1, AddressLine2, AddressLine2 - NEW, Town/City, Town/City - NEW, State, State - NEW, Country, Country - NEW, PUSH]
Index: []

In [10]:
# zoho_df.loc[
#     (zoho_df['State'].str.contains('', regex=True, flags=re.I)) & 
#     (zoho_df['State'].str.len() > 8 )]

In [11]:
worksheet.clear()

{'spreadsheetId': '1MuM2kAIRDgKrgfDy1UpI7QJ9OnfO3oXQHA5uNhR88WQ',
 'clearedRange': 'Indonesia!A1:O9078'}

In [12]:
worksheet.update([zoho_df.columns.values.tolist()] + zoho_df.values.tolist())

{'spreadsheetId': '1MuM2kAIRDgKrgfDy1UpI7QJ9OnfO3oXQHA5uNhR88WQ',
 'updatedRange': 'Indonesia!A1:O9078',
 'updatedRows': 9078,
 'updatedColumns': 15,
 'updatedCells': 136170}

# ====================== Awal Filter Umum ======================

In [13]:
# find_member_booking.to_excel(r'C:\Users\fajar\Documents\Python\Data\Request Data\Suhali\30 Agustus\PG UK\pg-uk-memberbooking.xlsx', index=False)

# ====================== Akhir Filter Umum ======================