In [15]:
import sys

sys.path.append('../zoho_data_app')

import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

import glob

%load_ext autoreload
%autoreload 2

# download semua report 63 di vp
# download 2x berdasarkan servicing office yang non-india dan india 

file_loc_india = r'C:\Users\fajar\Documents\Python\Data\Member Data\vp\report 63 all details\India.xlsx'
file_loc_non_india = r'C:\Users\fajar\Documents\Python\Data\Member Data\vp\report 63 all details\Non-India.xlsx'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
excel_file = pd.ExcelFile(file_loc_india)
sheet_names = excel_file.sheet_names
frames = []
count = 0
for sheet in sheet_names:
    count += 1
    print(f"Compiling {sheet}")
    if sheet == 'Sheet1':
        globals()['df%s' % count]= pd.read_excel(file_loc_india, sheet_name=sheet, dtype='string')
        globals()['column'] = globals()['df%s' % count].columns.to_list()
    else:
        globals()['df%s' % count]= pd.read_excel(file_loc_india, sheet_name=sheet, dtype='string', header=None)
        globals()['df%s' % count].columns = globals()['column']

    frames.append(globals()['df%s' % count])

result_india = pd.concat(frames, ignore_index=True)

result_india.drop(result_india.loc[result_india['AccountID'] == 'krg'].index, inplace=True)
result_india

Compiling Sheet1
Compiling Sheet2
Compiling Sheet3
Compiling Sheet4
Compiling Sheet5
Compiling Sheet6

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1000002,<NA>,<NA>,Piyush Kunal,Poddar,"House No 58, Krishna Nivas, 5th Main","Manjunatha Layout, Halsahalli, Varthur",BENGALURU,KARNATAKA,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000004,<NA>,<NA>,SOMANS,SINGH,318 / 14 URBAN ESTATE KAMAL OPP RAHUL HONDA,<NA>,KARNAL,HARYANA,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000005,<NA>,<NA>,AKASH,WANI,"FLAT NO. 601, PETUNIA BUILDING,","PRANJEE GARDEN CITY PHASE II, BADLAPUR - EAST",BADLAPUR,MAHARASHTRA,India,...,<NA>,INR,1985-06-04,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000006,<NA>,<NA>,NILESH,BAGDE,-,-,-,-,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000007,<NA>,<NA>,SIDDHARTH,HOON,-,-,-,-,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374259,1206568,186128,KC/2/021024/6566C,Mayur Muralidhar,Choudhari,"At Post, Kurha-kakoda,","Tal-muktainagar,",Jalgaon,Maharashtra,India,...,INR,INR,1990-10-05,Even,<NA>,Parshuram Finance,Open,<NA>,<NA>,<NA>
374260,1206569,186129,KC/2/021024/6565C,Kumari,Nidhi,"S9, T3, Mana Tropical,","Chikkanyanakahalli, P O Carmalaaram,",Bangalore South,Karnataka,India,...,INR,INR,1989-04-13,Even,<NA>,Parshuram Finance,Open,<NA>,<NA>,<NA>
374261,1201047,186130,KC/7/021024/1396S/FBIN,R.,Akila,"9/38, BANKER'S COLONY, KAIKOLANPALAYAM",<NA>,COIMBATORE,Tamil Nadu,India,...,INR,INR,1988-05-16,Even,<NA>,<NA>,-,<NA>,<NA>,<NA>
374262,1171694,186140,KC3/50/011024/8171,Somnath,Sookoo,8110 PORTSMOUTH DR,<NA>,ROWLETT,TEXAS,USA,...,USD,USD,1946-07-20,Full,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
374263,1206775,186143,KCIN25/9/031024/23608,Naveen Kumar,Perumal Narayana Kirupanidhi,"1/185-2 Kanagalakshmi Nagar,",Vayalur,Trichy,Tamilnadu,India,...,INR,INR,1988-01-19,E50%,<NA>,<NA>,-,<NA>,<NA>,<NA>

In [17]:
excel_file = pd.ExcelFile(file_loc_non_india)
sheet_names = excel_file.sheet_names
frames = []
count = 0
for sheet in sheet_names:
    count += 1
    print(f"Compiling {sheet}")
    if sheet == 'Sheet1':
        globals()['df%s' % count]= pd.read_excel(file_loc_non_india, sheet_name=sheet, dtype='string')
        globals()['column'] = globals()['df%s' % count].columns.to_list()
    else:
        globals()['df%s' % count]= pd.read_excel(file_loc_non_india, sheet_name=sheet, dtype='string', header=None)
        globals()['df%s' % count].columns = globals()['column']

    frames.append(globals()['df%s' % count])

result = pd.concat(frames, ignore_index=True)

result.drop(result.loc[result['AccountID'] == 'krg'].index, inplace=True)
result

Compiling Sheet1
Compiling Sheet2
Compiling Sheet3
Compiling Sheet4
Compiling Sheet5
Compiling Sheet6

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1,<NA>,<NA>,<NA>,Pt Ivo Indonesia,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,USD,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000000,<NA>,<NA>,Irwan,Haryaji,"Jl. MT Haryono 662 RT.005/005 Sarirejo, Semara...",<NA>,Semarang,Jawa Tengah,Indonesia,...,<NA>,IDR,1985-07-12,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000001,<NA>,<NA>,Ragil,"Mulyaningrum, SE","Jl. Bukit Permata AV-7 RT.005/006 Tinjomoyo, B...",<NA>,Semarang,Jawa Tengah,Indonesia,...,<NA>,IDR,1982-04-20,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000003,<NA>,<NA>,Naviananda,Utama,"Randu Belang RT.004/000 Bangunharjo, Sewon",<NA>,Bantul,Yogyakarta,Indonesia,...,<NA>,IDR,1982-11-07,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000008,<NA>,<NA>,Anak Agung,Gede Bayu M.D,"PSJ, Taman Boston K1 No. 2 RT. 001/006 Punggul...",<NA>,Sidoarjo,Jawa Timur,Indonesia,...,<NA>,IDR,1981-09-23,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328836,1206774,186142,KCEL25/9/031024/23605,Jozef,Cauberg,32 Smeaton Close,<NA>,Lara,Victoria,Australia,...,AUD,USD,1948-02-10,O50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
328837,1206776,186144,KC25/903/031024/1349,Simon,Penfold,141 Clarkes Lane Woodend,<NA>,Woodend,Victoria,Australia,...,AUD,USD,1960-07-25,O50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
328838,1206777,186145,KC25/72/031024/1264,Joanna Kathleen,Miller,"14 Penrose Av, Carpenders Park",<NA>,Watford,Herts,United Kingdom,...,GBP,USD,1956-09-11,E50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
328839,1206778,186146,KC3/74/031024/1001,Ryan,Pettit,5 Riverina Avenue,<NA>,Coodanup,Western Australia,Australia,...,AUD,USD,1982-06-27,Full,<NA>,<NA>,-,<NA>,<NA>,<NA>
328840,89395,186147,CSKRR/9/031024/1039KM,Elayne,White,7 PITT STREET,<NA>,Blacks Beach,Queensland,Australia,...,AUD,USD,1951-09-28,Even,144822004,<NA>,-,KARD8253869,<NA>,<NA>

In [18]:
df_final = pd.concat([result_india, result], ignore_index=True)
df_final.fillna('empty', inplace=True)
df_final

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1000002,<NA>,<NA>,Piyush Kunal,Poddar,"House No 58, Krishna Nivas, 5th Main","Manjunatha Layout, Halsahalli, Varthur",BENGALURU,KARNATAKA,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000004,<NA>,<NA>,SOMANS,SINGH,318 / 14 URBAN ESTATE KAMAL OPP RAHUL HONDA,<NA>,KARNAL,HARYANA,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000005,<NA>,<NA>,AKASH,WANI,"FLAT NO. 601, PETUNIA BUILDING,","PRANJEE GARDEN CITY PHASE II, BADLAPUR - EAST",BADLAPUR,MAHARASHTRA,India,...,<NA>,INR,1985-06-04,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000006,<NA>,<NA>,NILESH,BAGDE,-,-,-,-,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000007,<NA>,<NA>,SIDDHARTH,HOON,-,-,-,-,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703100,1206774,186142,KCEL25/9/031024/23605,Jozef,Cauberg,32 Smeaton Close,<NA>,Lara,Victoria,Australia,...,AUD,USD,1948-02-10,O50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
703101,1206776,186144,KC25/903/031024/1349,Simon,Penfold,141 Clarkes Lane Woodend,<NA>,Woodend,Victoria,Australia,...,AUD,USD,1960-07-25,O50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
703102,1206777,186145,KC25/72/031024/1264,Joanna Kathleen,Miller,"14 Penrose Av, Carpenders Park",<NA>,Watford,Herts,United Kingdom,...,GBP,USD,1956-09-11,E50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
703103,1206778,186146,KC3/74/031024/1001,Ryan,Pettit,5 Riverina Avenue,<NA>,Coodanup,Western Australia,Australia,...,AUD,USD,1982-06-27,Full,<NA>,<NA>,-,<NA>,<NA>,<NA>
703104,89395,186147,CSKRR/9/031024/1039KM,Elayne,White,7 PITT STREET,<NA>,Blacks Beach,Queensland,Australia,...,AUD,USD,1951-09-28,Even,144822004,<NA>,-,KARD8253869,<NA>,<NA>

In [26]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(df_final, 'Phone')
m.clean_number(df_final, 'Mobile')
m.replace_not_valid_to_empty(df_final, 'Phone')
m.replace_not_valid_to_empty(df_final, 'Mobile')
df_final['Email'] = m.lowercase(df_final, 'Email')
m.clean_space(df_final, 'Email')
m.clean_not_valid_email_format(df_final, 'Email')

c:\Users\fajar\Documents\Python\Task Offline\member_app\../zoho_data_app\main_module.py:67: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\member_app\../zoho_data_app\main_module.py:68: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\member_app\../zoho_data_app\main_module.py:90: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)

'Email'

In [30]:
df_final.replace('empty', '', inplace=True)
df_final

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1000002,,,Piyush Kunal,Poddar,"House No 58, Krishna Nivas, 5th Main","Manjunatha Layout, Halsahalli, Varthur",BENGALURU,KARNATAKA,India,...,,INR,,,,,,,,
1,1000004,,,SOMANS,SINGH,318 / 14 URBAN ESTATE KAMAL OPP RAHUL HONDA,,KARNAL,HARYANA,India,...,,INR,,,,,,,,
2,1000005,,,AKASH,WANI,"FLAT NO. 601, PETUNIA BUILDING,","PRANJEE GARDEN CITY PHASE II, BADLAPUR - EAST",BADLAPUR,MAHARASHTRA,India,...,,INR,1985-06-04,,,,,,,
3,1000006,,,NILESH,BAGDE,-,-,-,-,India,...,,INR,,,,,,,,
4,1000007,,,SIDDHARTH,HOON,-,-,-,-,India,...,,INR,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703100,1206774,186142,KCEL25/9/031024/23605,Jozef,Cauberg,32 Smeaton Close,,Lara,Victoria,Australia,...,AUD,USD,1948-02-10,O50%,,,-,,,
703101,1206776,186144,KC25/903/031024/1349,Simon,Penfold,141 Clarkes Lane Woodend,,Woodend,Victoria,Australia,...,AUD,USD,1960-07-25,O50%,,,-,,,
703102,1206777,186145,KC25/72/031024/1264,Joanna Kathleen,Miller,"14 Penrose Av, Carpenders Park",,Watford,Herts,United Kingdom,...,GBP,USD,1956-09-11,E50%,,,-,,,
703103,1206778,186146,KC3/74/031024/1001,Ryan,Pettit,5 Riverina Avenue,,Coodanup,Western Australia,Australia,...,AUD,USD,1982-06-27,Full,,,-,,,
703104,89395,186147,CSKRR/9/031024/1039KM,Elayne,White,7 PITT STREET,,Blacks Beach,Queensland,Australia,...,AUD,USD,1951-09-28,Even,144822004,,-,KARD8253869,,

In [29]:
df_final.to_csv(r'C:\Users\fajar\Documents\Python\Data\Member Data\vp\report 63 all details\compiled_member.csv', index=False)