In [5]:
import sys

sys.path.append('../zoho_data_app')

import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

import glob

%load_ext autoreload
%autoreload 2

# download semua report 63 di vp
# download 2x berdasarkan servicing office yang non-india dan india 

file_loc_india = r'C:\Users\fajar\Documents\Python\Data\Request Data\DS Req\2025\24 Jan\RAW NEW DOWNLOAD\1166554-AllMembersDetails(ServicingOffice-India).xlsx'
file_loc_non_india = r'C:\Users\fajar\Documents\Python\Data\Request Data\DS Req\2025\24 Jan\RAW NEW DOWNLOAD\1166553-AllMembersDetails(ServicingOffice-NonIndia).xlsx'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
excel_file = pd.ExcelFile(file_loc_india)
sheet_names = excel_file.sheet_names
frames = []
count = 0
for sheet in sheet_names:
    count += 1
    print(f"Compiling {sheet}")
    if sheet == 'Sheet1':
        globals()['df%s' % count]= pd.read_excel(file_loc_india, sheet_name=sheet, dtype='string')
        globals()['column'] = globals()['df%s' % count].columns.to_list()
    else:
        globals()['df%s' % count]= pd.read_excel(file_loc_india, sheet_name=sheet, dtype='string', header=None)
        globals()['df%s' % count].columns = globals()['column']

    frames.append(globals()['df%s' % count])

result_india = pd.concat(frames, ignore_index=True)

result_india.drop(result_india.loc[result_india['AccountID'] == 'krg'].index, inplace=True)
result_india

Compiling Sheet1
Compiling Sheet2
Compiling Sheet3
Compiling Sheet4
Compiling Sheet5

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1000002,<NA>,<NA>,Piyush Kunal,Poddar,"House No 58, Krishna Nivas, 5th Main","Manjunatha Layout, Halsahalli, Varthur",BENGALURU,KARNATAKA,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000004,<NA>,<NA>,SOMANS,SINGH,318 / 14 URBAN ESTATE KAMAL OPP RAHUL HONDA,<NA>,KARNAL,HARYANA,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000005,<NA>,<NA>,AKASH,WANI,"FLAT NO. 601, PETUNIA BUILDING,","PRANJEE GARDEN CITY PHASE II, BADLAPUR - EAST",BADLAPUR,MAHARASHTRA,India,...,<NA>,INR,1985-06-04,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000006,<NA>,<NA>,NILESH,BAGDE,-,-,-,-,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000007,<NA>,<NA>,SIDDHARTH,HOON,-,-,-,-,India,...,<NA>,INR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277872,1073660,189725,KCIN/85/220125/1346KA(WE),Satya Ram Prasad,Pappu,"9-3, 6/1A , SARASWATHI NILAYAM,","BOOSIVARI STREET, GANDHI NAGAR,",KAKINADA,Andhra Pradesh,India,...,INR,INR,1955-04-09,Even,<NA>,<NA>,-,<NA>,<NA>,<NA>
277873,1071371,189726,PRRBC/7M/220125/476,Dilpreet,Kaur,"#2157 SECTOR - 68, MOHALI",<NA>,<NA>,Punjab,India,...,INR,INR,1995-07-02,Odd,<NA>,Parshuram Finance,Open,<NA>,<NA>,<NA>
277874,1231353,189727,KC/6U/180125/489C,Balaji,Desigaraghavan,"Flat No. T1, Door No. 25/74, Kgeyes Homes, T M...","Thiruvanmiyur,",Chennai,Tamil Nadu,India,...,INR,INR,1988-11-06,Even,<NA>,<NA>,-,<NA>,<NA>,<NA>
277875,1152947,189728,KC/3U/220125/1229WE,Siva Krishna,Chegu,"# 17, SHREE LAKSHMI PRABHA NILAYAM","RAMPURA VILLAGE, AVALAHALLI ROAD",BANGALORE,Karnataka,India,...,INR,INR,1986-01-08,Odd,<NA>,Parshuram Finance,Open,<NA>,<NA>,<NA>
277876,909907,189731,RIHC1/281217/1109E(30)-RE,Vijay Raghunath,Gaikwad,SWAMI SAMARTH ASHIRWAD BUILDING,FLAT NO 105 KHANDALA BAZARPETH TAL MAVAL,PUNE,MAHARASHTRA,India,...,INR,INR,<NA>,Odd,330456005,Parshuram Finance,Closed,<NA>,<NA>,<NA>

In [7]:
excel_file = pd.ExcelFile(file_loc_non_india)
sheet_names = excel_file.sheet_names
frames = []
count = 0
for sheet in sheet_names:
    count += 1
    print(f"Compiling {sheet}")
    if sheet == 'Sheet1':
        globals()['df%s' % count]= pd.read_excel(file_loc_non_india, sheet_name=sheet, dtype='string')
        globals()['column'] = globals()['df%s' % count].columns.to_list()
    else:
        globals()['df%s' % count]= pd.read_excel(file_loc_non_india, sheet_name=sheet, dtype='string', header=None)
        globals()['df%s' % count].columns = globals()['column']

    frames.append(globals()['df%s' % count])

result = pd.concat(frames, ignore_index=True)

result.drop(result.loc[result['AccountID'] == 'krg'].index, inplace=True)
result

Compiling Sheet1
Compiling Sheet2
Compiling Sheet3
Compiling Sheet4
Compiling Sheet5

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1,<NA>,<NA>,<NA>,Pt Ivo Indonesia,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,USD,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000000,<NA>,<NA>,Irwan,Haryaji,"Jl. MT Haryono 662 RT.005/005 Sarirejo, Semara...",<NA>,Semarang,Jawa Tengah,Indonesia,...,<NA>,IDR,1985-07-12,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000001,<NA>,<NA>,Ragil,"Mulyaningrum, SE","Jl. Bukit Permata AV-7 RT.005/006 Tinjomoyo, B...",<NA>,Semarang,Jawa Tengah,Indonesia,...,<NA>,IDR,1982-04-20,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000003,<NA>,<NA>,Naviananda,Utama,"Randu Belang RT.004/000 Bangunharjo, Sewon",<NA>,Bantul,Yogyakarta,Indonesia,...,<NA>,IDR,1982-11-07,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000008,<NA>,<NA>,Anak Agung,Gede Bayu M.D,"PSJ, Taman Boston K1 No. 2 RT. 001/006 Punggul...",<NA>,Sidoarjo,Jawa Timur,Indonesia,...,<NA>,IDR,1981-09-23,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272224,1231576,189732,KC25/9/230125/23922,Kapila,Mawananahewa,17 Tecoma Court,<NA>,Gladstone Park,Victoria,Australia,...,AUD,USD,1964-07-01,E50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
272225,1231577,189733,KC25/9/230125/23920,Robyn,Larkings,37 South Golden Beach,<NA>,<NA>,Nsw,Australia,...,AUD,USD,1976-05-23,E50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
272226,1231578,189734,KC25/903/230125/1452,Chris,Chapman,55 Galena Way,Byford,Perth,Western Australia,Australia,...,AUD,USD,1956-10-29,O50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
272227,1231579,189735,KC25/903/230125/1453,Ferric,Manlangit,362 Benenden Ave,<NA>,Alkimos,Western Australia,Australia,...,AUD,USD,1980-02-07,O50%,<NA>,<NA>,-,<NA>,<NA>,<NA>
272228,1231580,189736,KCINEL25/903/230125/1451,Ankit,Sarna,4 Banksia Crescent,<NA>,-,Victoria,Australia,...,AUD,INR,1985-04-16,O50%,<NA>,<NA>,-,<NA>,<NA>,<NA>

In [8]:
result.groupby('ServicingOffice')['AccountID'].count()

ServicingOffice
KARMA CLUB AUSTRALIA         1
KARMA CLUB EUROPE         1378
KARMA CLUB INDONESIA        47
KARMA CONCIERGE BALI     26496
KC EXPERIENCE Bali       10179
KC EXPERIENCE Europe       180
No Service Center       233948
Name: AccountID, dtype: int64

In [9]:
df_final = pd.concat([result_india, result], ignore_index=True)
df_final.fillna('empty', inplace=True)
df_final

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1000002,empty,empty,Piyush Kunal,Poddar,"House No 58, Krishna Nivas, 5th Main","Manjunatha Layout, Halsahalli, Varthur",BENGALURU,KARNATAKA,India,...,empty,INR,empty,empty,empty,empty,empty,empty,empty,empty
1,1000004,empty,empty,SOMANS,SINGH,318 / 14 URBAN ESTATE KAMAL OPP RAHUL HONDA,empty,KARNAL,HARYANA,India,...,empty,INR,empty,empty,empty,empty,empty,empty,empty,empty
2,1000005,empty,empty,AKASH,WANI,"FLAT NO. 601, PETUNIA BUILDING,","PRANJEE GARDEN CITY PHASE II, BADLAPUR - EAST",BADLAPUR,MAHARASHTRA,India,...,empty,INR,1985-06-04,empty,empty,empty,empty,empty,empty,empty
3,1000006,empty,empty,NILESH,BAGDE,-,-,-,-,India,...,empty,INR,empty,empty,empty,empty,empty,empty,empty,empty
4,1000007,empty,empty,SIDDHARTH,HOON,-,-,-,-,India,...,empty,INR,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550101,1231576,189732,KC25/9/230125/23922,Kapila,Mawananahewa,17 Tecoma Court,empty,Gladstone Park,Victoria,Australia,...,AUD,USD,1964-07-01,E50%,empty,empty,-,empty,empty,empty
550102,1231577,189733,KC25/9/230125/23920,Robyn,Larkings,37 South Golden Beach,empty,empty,Nsw,Australia,...,AUD,USD,1976-05-23,E50%,empty,empty,-,empty,empty,empty
550103,1231578,189734,KC25/903/230125/1452,Chris,Chapman,55 Galena Way,Byford,Perth,Western Australia,Australia,...,AUD,USD,1956-10-29,O50%,empty,empty,-,empty,empty,empty
550104,1231579,189735,KC25/903/230125/1453,Ferric,Manlangit,362 Benenden Ave,empty,Alkimos,Western Australia,Australia,...,AUD,USD,1980-02-07,O50%,empty,empty,-,empty,empty,empty
550105,1231580,189736,KCINEL25/903/230125/1451,Ankit,Sarna,4 Banksia Crescent,empty,-,Victoria,Australia,...,AUD,INR,1985-04-16,O50%,empty,empty,-,empty,empty,empty

In [10]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(df_final, 'Phone')
m.clean_number(df_final, 'Mobile')
m.replace_not_valid_to_empty(df_final, 'Phone')
m.replace_not_valid_to_empty(df_final, 'Mobile')
df_final['Email'] = m.lowercase(df_final, 'Email')
m.clean_space(df_final, 'Email')
m.clean_not_valid_email_format(df_final, 'Email')

c:\Users\fajar\Documents\Python\Task Offline\member_app\../zoho_data_app\main_module.py:67: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\member_app\../zoho_data_app\main_module.py:68: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\member_app\../zoho_data_app\main_module.py:90: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)

'Email'

In [11]:
df_final.replace('empty', '', inplace=True)
df_final

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
0,1000002,,,Piyush Kunal,Poddar,"House No 58, Krishna Nivas, 5th Main","Manjunatha Layout, Halsahalli, Varthur",BENGALURU,KARNATAKA,India,...,,INR,,,,,,,,
1,1000004,,,SOMANS,SINGH,318 / 14 URBAN ESTATE KAMAL OPP RAHUL HONDA,,KARNAL,HARYANA,India,...,,INR,,,,,,,,
2,1000005,,,AKASH,WANI,"FLAT NO. 601, PETUNIA BUILDING,","PRANJEE GARDEN CITY PHASE II, BADLAPUR - EAST",BADLAPUR,MAHARASHTRA,India,...,,INR,1985-06-04,,,,,,,
3,1000006,,,NILESH,BAGDE,-,-,-,-,India,...,,INR,,,,,,,,
4,1000007,,,SIDDHARTH,HOON,-,-,-,-,India,...,,INR,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550101,1231576,189732,KC25/9/230125/23922,Kapila,Mawananahewa,17 Tecoma Court,,Gladstone Park,Victoria,Australia,...,AUD,USD,1964-07-01,E50%,,,-,,,
550102,1231577,189733,KC25/9/230125/23920,Robyn,Larkings,37 South Golden Beach,,,Nsw,Australia,...,AUD,USD,1976-05-23,E50%,,,-,,,
550103,1231578,189734,KC25/903/230125/1452,Chris,Chapman,55 Galena Way,Byford,Perth,Western Australia,Australia,...,AUD,USD,1956-10-29,O50%,,,-,,,
550104,1231579,189735,KC25/903/230125/1453,Ferric,Manlangit,362 Benenden Ave,,Alkimos,Western Australia,Australia,...,AUD,USD,1980-02-07,O50%,,,-,,,
550105,1231580,189736,KCINEL25/903/230125/1451,Ankit,Sarna,4 Banksia Crescent,,-,Victoria,Australia,...,AUD,INR,1985-04-16,O50%,,,-,,,

In [12]:
# df_final.to_csv(r'C:\Users\fajar\Documents\Python\Data\Request Data\DS Req\2025\24 Jan\RAW NEW DOWNLOAD\compiled_member.csv', index=False)
df_final.to_excel(r'C:\Users\fajar\Documents\Python\Data\Request Data\DS Req\2025\24 Jan\RAW NEW DOWNLOAD\compiled_member.xlsx', index=False)

In [13]:
df_final.loc[df_final['Country'].str.contains('Australia', regex=True, flags=re.IGNORECASE)]

,AccountID,ContractID,ContractNo,FirstName,LastName,AddressLine1,AddressLine2,Town,State,Country,...,Contract Currency,Account Currency,DOB,MembershipType,KarmaCollection,FinanceCompany,FinanceStatus,Discover365,MemberID_RCI,ExpiryDate_RCI
1034,1001818,,,OTTO,SIEGRIST,1104/864 BLACKBURN RD,CLAYTON,MELBOURNE,VICTORIA,Australia,...,,INR,,,,,,,900346930,01/12/2020
1271,1002403,,,DANIEL,MCDONAGH,2 CAHILL COURT,WALLAN,.,.,Australia,...,,INR,,,,,,,,
2848,1005961,,,Melissa,Abraham,"12 Jacka Close, Marangaroo",-,-,-,Australia,...,,AUD,,,,,,,,
2980,1006199,,,Gopinath,P,8 TATYOON CLOSE,ASPENDALE GARDENS,MELBOURNE,VICTORIA,Australia,...,,INR,,,,,,,,
4649,1009141,,,ANNA,FERNLEY-JONES,116 WULUMAY CLOSE,ROZELLE,SYDNEY,NEW SOUTH WALES,Australia,...,,INR,,,,,,,184803353,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550101,1231576,189732,KC25/9/230125/23922,Kapila,Mawananahewa,17 Tecoma Court,,Gladstone Park,Victoria,Australia,...,AUD,USD,1964-07-01,E50%,,,-,,,
550102,1231577,189733,KC25/9/230125/23920,Robyn,Larkings,37 South Golden Beach,,,Nsw,Australia,...,AUD,USD,1976-05-23,E50%,,,-,,,
550103,1231578,189734,KC25/903/230125/1452,Chris,Chapman,55 Galena Way,Byford,Perth,Western Australia,Australia,...,AUD,USD,1956-10-29,O50%,,,-,,,
550104,1231579,189735,KC25/903/230125/1453,Ferric,Manlangit,362 Benenden Ave,,Alkimos,Western Australia,Australia,...,AUD,USD,1980-02-07,O50%,,,-,,,
550105,1231580,189736,KCINEL25/903/230125/1451,Ankit,Sarna,4 Banksia Crescent,,-,Victoria,Australia,...,AUD,INR,1985-04-16,O50%,,,-,,,