In [1]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

In [2]:
path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup\2020-2024\backup.csv'
df = pd.read_csv(path, dtype='string', on_bad_lines='skip')
count_data_awal = df.shape[0]
df.shape[0]

9965985

In [3]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [4]:
path = r'C:\Users\fajar\Documents\Python\Data\Unsubs\all_unsubs_master.xlsx'
df_unsubs = pd.read_excel(path, sheet_name='Sheet1')

path = r'C:\Users\fajar\Documents\Python\Data\Debounce\all_bounce_master.xlsx'
df_bounce = pd.read_excel(path, sheet_name='Sheet1')

path = r'C:\Users\fajar\Documents\Python\Data\Member Data\kce_vp\list-subscribers-KCE.csv'
df_kce = pd.read_csv(path, dtype='string')

In [5]:
df_kce.rename(columns={'EMAIL': 'Email'}, inplace=True)
df_kce

,SERVICING_OFFICE,BATCH,NUMBER,KARMA_CLUB_PROGRAM,OTHER_OWNERS,PRIMARY_OWNER,EXPIRYDATE,COMMENCE_DATE,MEMBER_ID,Email,...,IP_ADDRESS,DATE_ADDED,OPTIN_IP,OPTIN_DATE,OPTIN_CONFIRM_IP,OPTIN_CONFIRM_DATE,OPTOUT_IP,OPTOUT_DATE,OPTOUT_CONFIRM_IP,OPTOUT_CONFIRM_DATE
0,KC EXPERIENCE Bali,NONINDIA1,1000458,KARMA SALAK,David Salim,David Salim,19/11/2023,19/11/2022,IVO20228478,quenty.hirando@yahoo.co.id,...,180.222.114.200,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,KC EXPERIENCE Bali,NONINDIA1,1001045,KARMA SALAK,<NA>,Nobby Suhendra,12/11/2023,12/11/2022,IVO20228270,nobby_kent@yahoo.com,...,103.190.60.34,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,KC EXPERIENCE Bali,NONINDIA1,1002916,KARMA SALAK,<NA>,Tjhie Fandi,17/09/2023,17/09/2022,IVO20226602,fandijs@gmail.com,...,74.125.209.7,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,KC EXPERIENCE Bali,NONINDIA1,1034469,KARMA SALAK; KARMA SALAK,<NA>,Arya Rachmadianto,30/09/2023,30/09/2022,IVO20227038,arya.mochtar@gmail.com,...,172.225.72.11,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,KC EXPERIENCE Bali,NONINDIA1,1048405,KARMA MERAPI,<NA>,Muhammad Ali Muhazir,28/08/2023,28/08/2022,IVO20225839,azier.gio@gmail.com,...,66.249.84.200,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62644,KC EXPERIENCE Bali,NONINDIA4,1171609,JIMBARAN SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,graham_a61@yahoo.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62645,KC EXPERIENCE Bali,NONINDIA4,1171596,PETITENGET SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,dee.sanetra@gmail.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62646,KC EXPERIENCE Bali,NONINDIA4,1170751,JIMBARAN SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,patrick.hy70@gmail.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62647,KC EXPERIENCE Bali,NONINDIA4,1171248,PETITENGET SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,johannetmr@hotmail.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62648,KC EXPERIENCE Bali,NONINDIA4,1171247,JIMBARAN SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,engineeraamg@yahoo.com,...,180.222.114.70,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [6]:
zoho_filter = fil.user_req(df)
zoho_df = df.loc[zoho_filter].copy() # menggunakan copy untuk menghindari setting copy warning
zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000006037729,2019-04-02 02:23:47,2015-03-11,empty,Zzangss,zzangss75@hotmail.com,empty,empty,empty,empty,...,empty,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,empty,Other,empty

In [7]:
zoho_df.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Departure Date,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
Other,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# ====================== Awal Filter Umum ======================

In [8]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')
m.clean_not_valid_email_format(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')
m.clean_not_valid_email_format(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_unsubs['Email'] = m.lowercase(df_unsubs, 'Email')
m.clean_space(df_unsubs, 'Email')
m.clean_not_valid_email_format(df_unsubs, 'Email')

df_bounce['Email'] = m.lowercase(df_bounce, 'Email')
m.clean_space(df_bounce, 'Email')
m.clean_not_valid_email_format(df_bounce, 'Email')

df_kce['Email'] = m.lowercase(df_kce, 'Email')
m.clean_space(df_kce, 'Email')
m.clean_not_valid_email_format(df_kce, 'Email')

'Email'

In [ ]:
zoho_df.loc[
    (zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] != 'empty'), 
    'Phone'] = zoho_df['Mobile']
zoho_df.loc[zoho_df['Phone'] == zoho_df['Mobile'],'Mobile'] = 'empty'

In [9]:
zoho_df.loc[zoho_df['Phone']=='']

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status]
Index: []

[0 rows x 27 columns]

In [ ]:
deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
display(deleted_wrong_format)
# deleted_wrong_format.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\deleted_wrong_format.xlsx', index=False)
count_deleted_wrong_format = deleted_wrong_format.shape[0]
count_after_deleted_wrong_format = zoho_df.shape[0]

In [11]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Email'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Email'])]

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status]
Index: []

[0 rows x 27 columns]

In [12]:
zoho_df.drop_duplicates(subset=['Email'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000006037729,2019-04-02 02:23:47,2015-03-11,empty,Zzangss,zzangss75@hotmail.com,empty,empty,empty,empty,...,empty,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,empty,Other,empty

In [13]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status]
Index: []

[0 rows x 27 columns]

In [14]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [15]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status]
Index: []

[0 rows x 27 columns]

In [16]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000006037729,2019-04-02 02:23:47,2015-03-11,empty,Zzangss,zzangss75@hotmail.com,empty,empty,empty,empty,...,empty,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,empty,Other,empty

In [17]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status]
Index: []

[0 rows x 27 columns]

In [18]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000006037729,2019-04-02 02:23:47,2015-03-11,empty,Zzangss,zzangss75@hotmail.com,empty,empty,empty,empty,...,empty,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,empty,Other,empty

In [19]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.loc[find_member_booking['Email'].isin(df_unsubs['Email']), 'Same Value Find'] = 'Unsubs-Email'
find_member_booking.loc[find_member_booking['Email'].isin(df_bounce['Email']), 'Same Value Find'] = 'Bounce-Email'
find_member_booking.loc[find_member_booking['Email'].isin(df_kce['Email']), 'Same Value Find'] = 'KCE-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]
count_unsubs_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Unsubs', flags=re.I, regex=True)].shape[0]
count_bounce_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Bounce', flags=re.I, regex=True)].shape[0]
count_kce_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('KCE', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
# find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.csv', index=False)
# find_member_booking.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [20]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])|

    zoho_df['Email'].isin(df_unsubs['Email'])|
    zoho_df['Email'].isin(df_bounce['Email'])|
    zoho_df['Email'].isin(df_kce['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email']) |
    zoho_df['Email'].isin(df_unsubs['Email'])|
    zoho_df['Email'].isin(df_bounce['Email'])|
    zoho_df['Email'].isin(df_kce['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [21]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar\Documents\Python\Data\blank_data.xlsx', index=False)

zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [22]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

0

In [23]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Wash Unsubs : "+str(count_unsubs_dedup))
print("Jumlah Wash Bounce : "+str(count_bounce_dedup))
print("Jumlah Wash KCE : "+str(count_kce_dedup))
print("Jumlah Setelah Wash Member+Bounce+Unsubs+KCE : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Keseluruhan Master Zoho : 9965985
Jumlah Filter Leads Awal : 1
Jumlah Format Email Salah : 0
Jumlah Setelah Clean Format Email Salah : 1
Jumlah Duplicate (Email) : 0
Jumlah Setelah Clean Duplicate : 1
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 1
Jumlah Email OTA : 0
Jumlah Setelah Clean Email OTA : 1
Jumlah Email Karma : 0
Jumlah Setelah Clean Email Karma : 1
Jumlah Wash Member : 0
Jumlah Wash Booking : 0
Jumlah Wash Unsubs : 0
Jumlah Wash Bounce : 0
Jumlah Wash KCE : 0
Jumlah Setelah Wash Member+Bounce+Unsubs+KCE : 1
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 1
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 1
Jumlah Phone Only : 0
Jumlah Email dan Phone : 0

In [24]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Wash Unsubs : "+str(count_unsubs_dedup))
print("Jumlah Wash Bounce : "+str(count_bounce_dedup))
print("Jumlah Wash KCE : "+str(count_kce_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 1
Jumlah Wash Dedup : 0
Jumlah Wash Member : 0
Jumlah Wash Booking : 0
Jumlah Wash Unsubs : 0
Jumlah Wash Bounce : 0
Jumlah Wash KCE : 0
Jumlah Data Akhir : 1

# ====================== Akhir Filter Umum ======================

In [25]:
zoho_df.replace('empty', '', inplace=True, regex=True)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'BGAU'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(BGAU).xlsx', index=False)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'BGID'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(BGID).xlsx', index=False)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'Hotel Discount'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(Hotel Discount).xlsx', index=False)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'Karma Experience'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(Karma Experience).xlsx', index=False)

In [26]:
zoho_df.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Contact Type
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
Other,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [27]:
# zoho_df['Country'].loc[
#     (zoho_df['Phone'].str.contains('^44|^\+44')) & 
#     (~zoho_df['Country'].str.contains('united kingdom|wales|england|scotland|northern ireland', regex=True, flags=re.I))
# ]