In [27]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

dir_path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup\2020-2024'
dir_path_live = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup'
dir_path_old = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup\old'
file_name = '\Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In',
'GDPR Compliant',
'Website',
'Comments',
'Do you live in Bali?']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
email = 'swas83m@gmail.com|sambisays@gmail.com'

In [28]:
path = dir_path+'\\backup.csv'
df_all = pd.read_csv(path, dtype='string', on_bad_lines='skip')
count_data_awal = df_all.shape[0]
df_all.drop(df_all.loc[df_all['Created Time'].str.len() < 5 ].index, inplace=True)
df_all.reset_index(drop=True, inplace=True)

df_all['Created Time'] = pd.to_datetime(df_all['Created Time'], format='%Y-%m-%d %H:%M:%S')

df_all.shape[0]
df_all

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,2019-01-06 00:00:00,<NA>,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,2019-01-06 00:00:00,<NA>,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,Other,New Lead
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,2018-12-01 00:00:00,<NA>,Pelajar,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,2019-01-06 00:00:00,<NA>,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,UK/Europe,New Lead
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,2018-11-30 00:00:00,<NA>,OTHER,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13494142,SEAP,New Lead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965978,zcrm_3584690000489266005,2024-03-25 16:19:45,<NA>,Keval,Gala,keval2403@gmail.com,+919022872972,+917700904802,<NA>,<NA>,...,2024-03-21,<NA>,<NA>,Karma Resorts,Other,Past Guests,Karma Royal Palms,Viewpoint,<NA>,<NA>
9965979,zcrm_3584690000489266034,2024-03-25 16:19:51,<NA>,Suresh,Shroff,sureshshroff@breachcandyhospital.org,+919819533303,+919819814280,<NA>,<NA>,...,2024-03-21,<NA>,<NA>,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,<NA>,<NA>
9965980,zcrm_3584690000489266063,2024-03-25 17:29:27,<NA>,Nathan,Fernandes,nathan.fernandes@karmagroup.com,+9179724486854,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,Karma Group,Karma Community,Quiz,<NA>,Karma Community | Edition 218 - Words to the Wise,India,<NA>
9965981,zcrm_3584690000489269015,2024-03-25 16:20:25,<NA>,Leonora,Hackman,leonora_hf@bigpond.com,+61439855115,<NA>,<NA>,<NA>,...,2024-03-14,<NA>,<NA>,Karma Resorts,Other,Past Guests,Karma Jimbaran,Viewpoint,<NA>,<NA>
9965982,zcrm_3584690000489271002,2024-03-25 18:40:17,<NA>,Annu,Shriwastav,annusrivastava1990@gmail.com,+919561074124,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,Timeshare Marketing,Other,Web Enquiry,Karma Sitabani,Timeshare Booking Request,India,<NA>

In [4]:
df_old = m.load_data_multiple(dir_path_old, file_name, cols)
count_data_awal = df_old.shape[0]
df_old = df_old.reindex(columns=cols)
df_old.shape[0]

df_old['Created Time'] = pd.to_datetime(df_old['Created Time'], format='%Y-%m-%d %H:%M:%S')
df_old['Arrival Date'] = pd.to_datetime(df_old['Arrival Date'], format='%Y-%m-%d')
df_old['Departure Date'] = pd.to_datetime(df_old['Departure Date'], format='%Y-%m-%d')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df_old.dtypes
df_old

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,+61438600845,<NA>,<NA>,<NA>,...,<NA>,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,<NA>,Purple Wifi,Other,New Lead,false,false,false,<NA>,<NA>,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,+6282146524550,<NA>,2000-07-05,2000,...,<NA>,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,<NA>,Purple Wifi,UK/Europe,New Lead,false,false,false,<NA>,<NA>,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,Mall 21,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4717718,zcrm_3584690000475135007,2024-01-01 18:16:02,<NA>,Upendra,Mishra,upendra.sir@gmail.com,+919036084550,<NA>,<NA>,<NA>,...,Karma Sunshine Village,Timeshare Booking Request,India,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
4717719,zcrm_3584690000475135045,2024-01-01 18:16:37,<NA>,Mehul,Prajapati,mehul.m111985@gmail.com,+919714713689,<NA>,<NA>,<NA>,...,General,IND | FB MF | Lead captured,<NA>,<NA>,false,false,false,<NA>,<NA>,false
4717720,zcrm_3584690000475136005,2024-01-01 18:17:13,<NA>,swati,agarwala,cswatiadv@gmail.com,+919733055636,<NA>,<NA>,<NA>,...,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,<NA>,<NA>,false
4717721,zcrm_3584690000475138034,2024-01-01 18:48:36,<NA>,SUMON,SAHOO,sumonsahoo@gmail.com,+918910484814,<NA>,<NA>,<NA>,...,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,<NA>,<NA>,false
4717722,zcrm_3584690000475138069,2024-01-01 18:52:24,<NA>,Rohit,Kadam,rohit0918.rk@gmail.com,+919819185446,<NA>,<NA>,<NA>,...,Royal Palms,IND | FB AF | KRP,<NA>,<NA>,false,false,false,<NA>,<NA>,false

In [5]:
df_live = m.load_data_multiple(dir_path_live, file_name, cols)
count_data_awal = df_live.shape[0]
df_live = df_live.reindex(columns=cols)
df_live.shape[0]

df_live['Created Time'] = pd.to_datetime(df_live['Created Time'], format='%Y-%m-%d %H:%M:%S')
df_live['Arrival Date'] = pd.to_datetime(df_live['Arrival Date'], format='%Y-%m-%d')
df_live['Departure Date'] = pd.to_datetime(df_live['Departure Date'], format='%Y-%m-%d')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df_live.dtypes
df_live

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404602,2019-01-08 11:07:28,2021-07-21,Frederic,Bonin,fredericbonin79@gmail.com,+6281236100502,<NA>,1981-10-03,1981,...,Karma Kandara,KAREN,SEAP,New Lead,false,false,false,<NA>,<NA>,false
1,zcrm_3584690000000450071,2019-01-08 16:38:18,<NA>,Sebastian,Rach,<NA>,+498914342111,<NA>,1982-04-20,1982,...,Karma Bavaria,<NA>,UK/Europe,New Lead,true,false,false,<NA>,<NA>,false
2,zcrm_3584690000000450087,2019-01-08 16:38:18,<NA>,Siobhan,Gallagher,gallaghersiobhan@eircom.net,353879597603,<NA>,1973-03-14,1973,...,Karma Bavaria,<NA>,UK/Europe,New Lead,false,true,true,<NA>,<NA>,false
3,zcrm_3584690000000450106,2019-01-08 16:38:18,<NA>,Lisa,Ferkovich,lisajo2009@yahoo.com,14062394749,<NA>,1963-07-08,1963,...,Karma Bavaria,<NA>,UK/Europe,New Lead,true,false,false,<NA>,<NA>,false
4,zcrm_3584690000000450109,2019-01-08 16:38:18,<NA>,Ana Maria,Weileder,m.weileder@sonnenlink.de,15253234700,<NA>,<NA>,<NA>,...,Karma Bavaria,MICE Contacts from Ioanna email,UK/Europe,New Lead,false,true,true,<NA>,<NA>,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493244,zcrm_3584690000521016067,2025-01-13 18:12:02,<NA>,Toni,Truda,toni.truda@gmail.com,+61420361072,<NA>,<NA>,<NA>,...,Karma Kandara,Timeshare Booking Request,SEAP,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
493245,zcrm_3584690000521016109,2025-01-13 18:29:28,<NA>,neeraj,prasad,gomtipus@gmail.com,+919889192155,<NA>,<NA>,<NA>,...,Karma Golden Camp,Timeshare Booking Request,India,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
493246,zcrm_3584690000521017001,2025-01-13 17:23:30,2025-01-13,~ayu,suwidiani,<NA>,+62821-4552-2338,<NA>,<NA>,<NA>,...,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,New Lead,false,false,false,<NA>,<NA>,false
493247,zcrm_3584690000521017040,2025-01-13 17:26:16,2025-01-13,Jack,Davies,<NA>,+1(207) 653-9484,<NA>,<NA>,<NA>,...,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,New Lead,false,false,false,<NA>,<NA>,false
493248,zcrm_3584690000521019001,2025-01-13 17:25:45,2025-01-13,~Robin,Bugeja,<NA>,+9733967 1748,<NA>,<NA>,<NA>,...,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,New Lead,false,false,false,<NA>,<NA>,false

In [29]:
df = pd.concat([df_all,df_old,df_live])
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,Other,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,UK/Europe,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493244,zcrm_3584690000521016067,2025-01-13 18:12:02,<NA>,Toni,Truda,toni.truda@gmail.com,+61420361072,<NA>,<NA>,<NA>,...,SEAP,<NA>,<NA>,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
493245,zcrm_3584690000521016109,2025-01-13 18:29:28,<NA>,neeraj,prasad,gomtipus@gmail.com,+919889192155,<NA>,<NA>,<NA>,...,India,<NA>,<NA>,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
493246,zcrm_3584690000521017001,2025-01-13 17:23:30,2025-01-13,~ayu,suwidiani,<NA>,+62821-4552-2338,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
493247,zcrm_3584690000521017040,2025-01-13 17:26:16,2025-01-13,Jack,Davies,<NA>,+1(207) 653-9484,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
493248,zcrm_3584690000521019001,2025-01-13 17:25:45,2025-01-13,~Robin,Bugeja,<NA>,+9733967 1748,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false

In [30]:
# df.loc[df['Email'] == email]
df.loc[df['Email'].str.contains(email, regex=True, flags=re.I)]

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [31]:
df.drop_duplicates(subset=['Record Id'], inplace=True)
df.reset_index(drop=True, inplace=True)
count_data_awal = df.shape[0]
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,Other,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,UK/Europe,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10022602,zcrm_3584690000521016067,2025-01-13 18:12:02,<NA>,Toni,Truda,toni.truda@gmail.com,+61420361072,<NA>,<NA>,<NA>,...,SEAP,<NA>,<NA>,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
10022603,zcrm_3584690000521016109,2025-01-13 18:29:28,<NA>,neeraj,prasad,gomtipus@gmail.com,+919889192155,<NA>,<NA>,<NA>,...,India,<NA>,<NA>,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
10022604,zcrm_3584690000521017001,2025-01-13 17:23:30,2025-01-13,~ayu,suwidiani,<NA>,+62821-4552-2338,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
10022605,zcrm_3584690000521017040,2025-01-13 17:26:16,2025-01-13,Jack,Davies,<NA>,+1(207) 653-9484,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
10022606,zcrm_3584690000521019001,2025-01-13 17:25:45,2025-01-13,~Robin,Bugeja,<NA>,+9733967 1748,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false

In [33]:
df.dtypes

Record Id                          string
Created Time               datetime64[ns]
Created Date                       string
First Name                         string
Last Name                          string
Email                              string
Phone                              string
Mobile                             string
Birthdate                          string
Year of Birth                      string
Street                             string
Street2                            string
City                               string
State                              string
Country                            string
Nationality                        string
Departure Date                     object
Arrival Date                       object
Card Type                          string
Marital Status                     string
Lead Brand                         string
Lead Sub-Brand                     string
Lead Source                        string
Lead Locations                     string
Lead Source Description            string
Lead Regions                       string
Lead Status                        string
Booking Status                     string
BookRef                            string
Email Opt Out                      string
Opt In                             string
GDPR Compliant                     string
Website                            string
Comments                           string
Do you live in Bali?               string
dtype: object

In [9]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [39]:
zoho_filter = fil.user_req(df)
zoho_df = df.loc[zoho_filter].copy() # menggunakan copy untuk menghindari setting copy warning
zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
# zoho_df.sort_values('Created Time', ascending=True)

In [41]:
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,empty,empty,empty,...,Other,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,empty,2000-07-05,2000,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,empty,1997-02-05,1997,...,UK/Europe,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9881819,zcrm_3584690000489266005,2024-03-25 16:19:45,empty,Keval,Gala,keval2403@gmail.com,+919022872972,+917700904802,empty,empty,...,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty
9881820,zcrm_3584690000489266034,2024-03-25 16:19:51,empty,Suresh,Shroff,sureshshroff@breachcandyhospital.org,+919819533303,+919819814280,empty,empty,...,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty
9881821,zcrm_3584690000489266063,2024-03-25 17:29:27,empty,Nathan,Fernandes,nathan.fernandes@karmagroup.com,+9179724486854,empty,empty,empty,...,India,empty,empty,empty,empty,empty,empty,empty,empty,empty
9881822,zcrm_3584690000489269015,2024-03-25 16:20:25,empty,Leonora,Hackman,leonora_hf@bigpond.com,+61439855115,empty,empty,empty,...,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty
9881823,zcrm_3584690000489271002,2024-03-25 18:40:17,empty,Annu,Shriwastav,annusrivastava1990@gmail.com,+919561074124,empty,empty,empty,...,India,empty,empty,empty,empty,empty,empty,empty,empty,empty

In [40]:
zoho_df.to_csv(r'C:\Users\fajar\Documents\Python\Data\test_leads.csv', index=False)

# ====================== Awal Filter Umum ======================

In [12]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')
m.clean_not_valid_email_format(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')
m.clean_not_valid_email_format(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')
m.clean_not_valid_email_format(df_email, 'Email')

'Email'

In [13]:
zoho_df.loc[zoho_df['Phone']=='']

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [14]:
count_deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format = zoho_df.shape[0]

In [15]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Phone','Email', 'Mobile'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Phone','Email'])]

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [16]:
zoho_df.drop_duplicates(subset=['Phone','Email', 'Mobile'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [17]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [18]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [19]:
# dnm_leads = zoho_df.loc[(zoho_df['Do Not Mail'] == 'true') | (zoho_df['Do Not Contact'] == 'true')]
# count_dnm = dnm_leads.shape[0]

In [20]:
# zoho_df.drop(dnm_leads.index, inplace=True)
# zoho_df.reset_index(drop=True, inplace=True)

# count_after_dedup_dnm = zoho_df.shape[0]

In [21]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [22]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [23]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [24]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [25]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
# find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.csv', index=False)
# find_member_booking.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

ValueError: cannot set a frame with no defined index and a scalar

In [41]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [42]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar\Documents\Python\Data\blank_data.xlsx', index=False)

zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [43]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

1686

In [44]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
# print("Jumlah Lead Do Not Mail : "+str(count_dnm))
# print("Jumlah Setelah Clean Lead Do Not Mail : "+str(count_after_dedup_dnm))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Keseluruhan Master Zoho : 10022607
Jumlah Filter Leads Awal : 584251
Jumlah Format Email Salah : 19
Jumlah Setelah Clean Format Email Salah : 584232
Jumlah Duplicate (Phone, Mobile dan Email) : 63
Jumlah Setelah Clean Duplicate : 584169
Jumlah Lead Test : 7
Jumlah Setelah Clean Lead Test : 584162
Jumlah Email OTA : 1591
Jumlah Setelah Clean Email OTA : 582571
Jumlah Email Karma : 6
Jumlah Setelah Clean Email Karma : 582565
Jumlah Wash Member : 5083
Jumlah Wash Booking : 706
Jumlah Setelah Wash Member : 576776
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 576776
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 14826
Jumlah Phone Only : 385226
Jumlah Email dan Phone : 176724

In [45]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 584251
Jumlah Wash Dedup : 1686
Jumlah Wash Member : 5083
Jumlah Wash Booking : 706
Jumlah Data Akhir : 576776

# ====================== Akhir Filter Umum ======================

In [46]:
zoho_df.replace('empty', '', inplace=True, regex=True)

zoho_df['First Name'] = zoho_df['First Name'].str.title()
zoho_df['Last Name'] = zoho_df['Last Name'].str.title()

zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\do you live in bali.xlsx', index=False)

In [47]:
zoho_df.groupby('Country').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,IP Address,Contact Type
Country,,,,,,,,,,,,,,,,,,,,,
,159,159,159,159,159,159,159,159,159,159,...,159,159,159,159,159,159,159,159,159,159
Afghanistan,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Albania,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Algeria,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Andorra,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Vietnam,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22
Yemen,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
Zambia,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Zimbabwe,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4

In [48]:
# zoho_df['Country'].loc[
#     (zoho_df['Phone'].str.contains('^44|^\+44')) & 
#     (~zoho_df['Country'].str.contains('united kingdom|wales|england|scotland|northern ireland', regex=True, flags=re.I))
# ]