In [40]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

dir_path = r'C:\Users\fajar.fatoni\Documents\Python\Data\Zoho_Backup\2020-2024'
dir_path_live = r'C:\Users\fajar.fatoni\Documents\Python\Data\Zoho_Backup'
dir_path_old = r'C:\Users\fajar.fatoni\Documents\Python\Data\Zoho_Backup\old'
file_name = '\Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In',
'GDPR Compliant',
'Website',
'Comments',
'Do you live in Bali?']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
email = 'swas83m@gmail.com|sambisays@gmail.com'

In [42]:
path = dir_path+'\\backup.csv'
df_all = pd.read_csv(path, dtype='string', on_bad_lines='skip')
count_data_awal = df_all.shape[0]
df_all.drop(df_all.loc[df_all['Created Time'].str.len() < 5 ].index, inplace=True)
df_all.reset_index(drop=True, inplace=True)

df_all['Created Time'] = pd.to_datetime(df_all['Created Time'], format='%Y-%m-%d %H:%M:%S')

df_all.shape[0]
df_all

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,2019-01-06 00:00:00,<NA>,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,2019-01-06 00:00:00,<NA>,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,Other,New Lead
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,2018-12-01 00:00:00,<NA>,Pelajar,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,2019-01-06 00:00:00,<NA>,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,UK/Europe,New Lead
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,2018-11-30 00:00:00,<NA>,OTHER,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13494142,SEAP,New Lead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965978,zcrm_3584690000489266005,2024-03-25 16:19:45,<NA>,Keval,Gala,keval2403@gmail.com,+919022872972,+917700904802,<NA>,<NA>,...,2024-03-21,<NA>,<NA>,Karma Resorts,Other,Past Guests,Karma Royal Palms,Viewpoint,<NA>,<NA>
9965979,zcrm_3584690000489266034,2024-03-25 16:19:51,<NA>,Suresh,Shroff,sureshshroff@breachcandyhospital.org,+919819533303,+919819814280,<NA>,<NA>,...,2024-03-21,<NA>,<NA>,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,<NA>,<NA>
9965980,zcrm_3584690000489266063,2024-03-25 17:29:27,<NA>,Nathan,Fernandes,nathan.fernandes@karmagroup.com,+9179724486854,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,Karma Group,Karma Community,Quiz,<NA>,Karma Community | Edition 218 - Words to the Wise,India,<NA>
9965981,zcrm_3584690000489269015,2024-03-25 16:20:25,<NA>,Leonora,Hackman,leonora_hf@bigpond.com,+61439855115,<NA>,<NA>,<NA>,...,2024-03-14,<NA>,<NA>,Karma Resorts,Other,Past Guests,Karma Jimbaran,Viewpoint,<NA>,<NA>
9965982,zcrm_3584690000489271002,2024-03-25 18:40:17,<NA>,Annu,Shriwastav,annusrivastava1990@gmail.com,+919561074124,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,Timeshare Marketing,Other,Web Enquiry,Karma Sitabani,Timeshare Booking Request,India,<NA>

In [43]:
df_old = m.load_data_multiple(dir_path_old, file_name, cols)
count_data_awal = df_old.shape[0]
df_old = df_old.reindex(columns=cols)
df_old.shape[0]

df_old['Created Time'] = pd.to_datetime(df_old['Created Time'], format='%Y-%m-%d %H:%M:%S')
df_old['Arrival Date'] = pd.to_datetime(df_old['Arrival Date'], format='%Y-%m-%d')
df_old['Departure Date'] = pd.to_datetime(df_old['Departure Date'], format='%Y-%m-%d')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df_old.dtypes
df_old

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,+61438600845,<NA>,<NA>,<NA>,...,<NA>,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,<NA>,Purple Wifi,Other,New Lead,false,false,false,<NA>,<NA>,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,+6282146524550,<NA>,2000-07-05,2000,...,<NA>,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,<NA>,Purple Wifi,UK/Europe,New Lead,false,false,false,<NA>,<NA>,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,Mall 21,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4717718,zcrm_3584690000475135007,2024-01-01 18:16:02,<NA>,Upendra,Mishra,upendra.sir@gmail.com,+919036084550,<NA>,<NA>,<NA>,...,Karma Sunshine Village,Timeshare Booking Request,India,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>,false
4717719,zcrm_3584690000475135045,2024-01-01 18:16:37,<NA>,Mehul,Prajapati,mehul.m111985@gmail.com,+919714713689,<NA>,<NA>,<NA>,...,General,IND | FB MF | Lead captured,<NA>,<NA>,false,false,false,<NA>,<NA>,false
4717720,zcrm_3584690000475136005,2024-01-01 18:17:13,<NA>,swati,agarwala,cswatiadv@gmail.com,+919733055636,<NA>,<NA>,<NA>,...,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,<NA>,<NA>,false
4717721,zcrm_3584690000475138034,2024-01-01 18:48:36,<NA>,SUMON,SAHOO,sumonsahoo@gmail.com,+918910484814,<NA>,<NA>,<NA>,...,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,<NA>,<NA>,false
4717722,zcrm_3584690000475138069,2024-01-01 18:52:24,<NA>,Rohit,Kadam,rohit0918.rk@gmail.com,+919819185446,<NA>,<NA>,<NA>,...,Royal Palms,IND | FB AF | KRP,<NA>,<NA>,false,false,false,<NA>,<NA>,false

In [44]:
df_live = m.load_data_multiple(dir_path_live, file_name, cols)
count_data_awal = df_live.shape[0]
df_live = df_live.reindex(columns=cols)
df_live.shape[0]

df_live['Created Time'] = pd.to_datetime(df_live['Created Time'], format='%Y-%m-%d %H:%M:%S')
df_live['Arrival Date'] = pd.to_datetime(df_live['Arrival Date'], format='%Y-%m-%d')
df_live['Departure Date'] = pd.to_datetime(df_live['Departure Date'], format='%Y-%m-%d')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df_live.dtypes
df_live

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404602,2019-01-08 11:07:28,2021-07-21,Frederic,Bonin,fredericbonin79@gmail.com,+6281236100502,<NA>,1981-10-03,1981,...,Karma Kandara,KAREN,SEAP,New Lead,false,false,false,<NA>,<NA>,false
1,zcrm_3584690000000450071,2019-01-08 16:38:18,<NA>,Sebastian,Rach,<NA>,+498914342111,<NA>,1982-04-20,1982,...,Karma Bavaria,<NA>,UK/Europe,New Lead,true,false,false,<NA>,<NA>,false
2,zcrm_3584690000000450087,2019-01-08 16:38:18,<NA>,Siobhan,Gallagher,gallaghersiobhan@eircom.net,353879597603,<NA>,1973-03-14,1973,...,Karma Bavaria,<NA>,UK/Europe,New Lead,false,true,true,<NA>,<NA>,false
3,zcrm_3584690000000450106,2019-01-08 16:38:18,<NA>,Lisa,Ferkovich,lisajo2009@yahoo.com,14062394749,<NA>,1963-07-08,1963,...,Karma Bavaria,<NA>,UK/Europe,New Lead,true,false,false,<NA>,<NA>,false
4,zcrm_3584690000000450109,2019-01-08 16:38:18,<NA>,Ana Maria,Weileder,m.weileder@sonnenlink.de,15253234700,<NA>,<NA>,<NA>,...,Karma Bavaria,MICE Contacts from Ioanna email,UK/Europe,New Lead,false,true,true,<NA>,<NA>,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500010,zcrm_3584690000531084001,2025-03-17 16:10:04,2025-03-17,Gary,Cosgrove,cosgrove_gary@yahoo.co.uk,+4407709529900,<NA>,<NA>,<NA>,...,Karma Bayon,Karma Reservations - WhatsApp Channel,<NA>,New Lead,false,false,false,<NA>,<NA>,false
500011,zcrm_3584690000531086001,2025-03-17 16:13:48,2025-03-17,TEST,TEST,rajesh.kumar@karmagroup.com,+919876655432,<NA>,<NA>,<NA>,...,Karma Salford Hall,Karma Salford Hall - Weddings at Karma Salford...,India,<NA>,false,true,false,https://karmagroup.com/weddings-at-karma-salfo...,<NA>,false
500012,zcrm_3584690000531094001,2025-03-17 16:25:04,2025-03-17,Jana,D,jana@pragma.law,+61405501543,<NA>,<NA>,<NA>,...,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,New Lead,false,false,false,<NA>,<NA>,false
500013,zcrm_3584690000531126001,2025-03-17 17:25:17,<NA>,Georgia,Goodyer,georgiaraedunkley@gmail.com,+447840040213,<NA>,1989-11-06,<NA>,...,<NA>,Karma Reciprocal Members,UK/Europe,<NA>,false,true,true,https://karmaclub.karmagroup.com/reciprocal-me...,<NA>,false
500014,zcrm_3584690000531144001,2025-03-17 17:59:52,2025-03-17,Feby,Jolanda,<NA>,+62818-0347-7331,<NA>,<NA>,<NA>,...,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,New Lead,false,false,false,<NA>,<NA>,false

In [45]:
df = pd.concat([df_all,df_old,df_live])
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,Other,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,UK/Europe,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500010,zcrm_3584690000531084001,2025-03-17 16:10:04,2025-03-17,Gary,Cosgrove,cosgrove_gary@yahoo.co.uk,+4407709529900,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
500011,zcrm_3584690000531086001,2025-03-17 16:13:48,2025-03-17,TEST,TEST,rajesh.kumar@karmagroup.com,+919876655432,<NA>,<NA>,<NA>,...,India,<NA>,<NA>,<NA>,false,true,false,https://karmagroup.com/weddings-at-karma-salfo...,<NA>,false
500012,zcrm_3584690000531094001,2025-03-17 16:25:04,2025-03-17,Jana,D,jana@pragma.law,+61405501543,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
500013,zcrm_3584690000531126001,2025-03-17 17:25:17,<NA>,Georgia,Goodyer,georgiaraedunkley@gmail.com,+447840040213,<NA>,1989-11-06,<NA>,...,UK/Europe,<NA>,<NA>,<NA>,false,true,true,https://karmaclub.karmagroup.com/reciprocal-me...,<NA>,false
500014,zcrm_3584690000531144001,2025-03-17 17:59:52,2025-03-17,Feby,Jolanda,<NA>,+62818-0347-7331,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false

In [46]:
# df.loc[df['Email'] == email]
df.loc[df['Email'].str.contains(email, regex=True, flags=re.I)]

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [47]:
df.drop_duplicates(subset=['Record Id'], inplace=True)
df.reset_index(drop=True, inplace=True)
count_data_awal = df.shape[0]
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,Other,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,UK/Europe,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10030856,zcrm_3584690000531084001,2025-03-17 16:10:04,2025-03-17,Gary,Cosgrove,cosgrove_gary@yahoo.co.uk,+4407709529900,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
10030857,zcrm_3584690000531086001,2025-03-17 16:13:48,2025-03-17,TEST,TEST,rajesh.kumar@karmagroup.com,+919876655432,<NA>,<NA>,<NA>,...,India,<NA>,<NA>,<NA>,false,true,false,https://karmagroup.com/weddings-at-karma-salfo...,<NA>,false
10030858,zcrm_3584690000531094001,2025-03-17 16:25:04,2025-03-17,Jana,D,jana@pragma.law,+61405501543,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false
10030859,zcrm_3584690000531126001,2025-03-17 17:25:17,<NA>,Georgia,Goodyer,georgiaraedunkley@gmail.com,+447840040213,<NA>,1989-11-06,<NA>,...,UK/Europe,<NA>,<NA>,<NA>,false,true,true,https://karmaclub.karmagroup.com/reciprocal-me...,<NA>,false
10030860,zcrm_3584690000531144001,2025-03-17 17:59:52,2025-03-17,Feby,Jolanda,<NA>,+62818-0347-7331,<NA>,<NA>,<NA>,...,<NA>,New Lead,<NA>,<NA>,false,false,false,<NA>,<NA>,false

In [48]:
df.dtypes

Record Id                  string[python]
Created Time               datetime64[ns]
Created Date               string[python]
First Name                 string[python]
Last Name                  string[python]
Email                      string[python]
Phone                      string[python]
Mobile                     string[python]
Birthdate                  string[python]
Year of Birth              string[python]
Street                     string[python]
Street2                    string[python]
City                       string[python]
State                      string[python]
Country                    string[python]
Nationality                string[python]
Departure Date                     object
Arrival Date                       object
Card Type                  string[python]
Marital Status             string[python]
Lead Brand                 string[python]
Lead Sub-Brand             string[python]
Lead Source                string[python]
Lead Locations             string[python]
Lead Source Description    string[python]
Lead Regions               string[python]
Lead Status                string[python]
Booking Status             string[python]
BookRef                    string[python]
Email Opt Out              string[python]
Opt In                     string[python]
GDPR Compliant             string[python]
Website                    string[python]
Comments                   string[python]
Do you live in Bali?       string[python]
dtype: object

In [49]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [67]:
zoho_filter = fil.user_req(df)
zoho_df = df.loc[zoho_filter].copy() # menggunakan copy untuk menghindari setting copy warning
zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# zoho_df.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\test_leads.xlsx', index=False)
# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
# zoho_df.sort_values('Created Time', ascending=True)

In [68]:
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000408007,2019-01-07 13:29:59,empty,Ht Chandra,N Usman,ichan051163@gmail.com,628116190115,8126542115,1963-01-01,1963,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000000408013,2019-01-07 17:22:27,empty,Endah,Haryani,awal.endah83@gmail.com,87888802700,empty,1983-01-01,1983,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000000408020,2019-01-07 18:22:28,empty,Alda Beatrix,Wattimena,aldabeatrix.abw@gmail.com,6285344502233,empty,1986-01-01,1986,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000000408026,2019-01-07 20:07:11,empty,Rini,Siregar,rini.siregar21@gmail.com,87888282359,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000000409019,2019-01-07 15:00:14,empty,Christine Marylin,Effendi,christinemarylin@gmail.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600136,zcrm_3584690000519858011,2025-01-01 14:53:53,empty,scott,atkinson,scottatkinson1979@gmail.com,+610419918057,empty,empty,1980,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
600137,zcrm_3584690000520178108,2025-01-08 05:01:29,empty,kat,Pearce,kwp744@gmail.com,+610412929135,empty,empty,1970,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
600138,zcrm_3584690000520283034,2025-01-08 04:49:22,empty,kat,Pearce,kwp744@gmail.com,+610412929135,empty,empty,1970,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
600139,zcrm_3584690000520542015,2025-01-10 15:24:39,empty,Halie,Johnson,haliebabie1209@gmail.com,+612019402400,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false
600140,zcrm_3584690000525736001,2025-02-26 04:14:09,empty,Gary,Charles,garycharles@dominatingkeywords.com,+618054002077,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false

# ====================== Awal Filter Umum ======================

In [69]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')
m.clean_not_valid_email_format(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')
m.clean_not_valid_email_format(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')
m.clean_not_valid_email_format(df_email, 'Email')

c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:71: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:72: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:94: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:71: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:72: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)

'Email'

In [70]:
zoho_df.loc[zoho_df['Phone']=='']

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Booking Status, BookRef, Email Opt Out, Opt In, GDPR Compliant, Website, Comments, Do you live in Bali?]
Index: []

[0 rows x 35 columns]

In [71]:
count_deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format = zoho_df.shape[0]

In [72]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Phone','Email', 'Mobile'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Phone','Email'])]

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
5310,zcrm_3584690000000930151,2019-01-22 13:46:09,empty,Sarah,Juniar,myjune21_becky@yahoo.com,85269192900,empty,1985-01-01,1985,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
6025,zcrm_3584690000001015301,2019-01-25 15:15:39,empty,Har,Tato,tatorich@yahoo.com,8113674888,empty,1988-01-01,1988,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
24222,zcrm_3584690000005104084,2019-03-25 20:18:01,empty,Handayani,Saman,handayani.saman@yahoo.com,85311133033,empty,empty,1971,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
64066,zcrm_3584690000006168864,2019-04-02 03:19:30,2015-03-18,empty,Nickeylawton,nickeylawton1@yahoo.com.au,61439886488,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
78349,zcrm_3584690000006208571,2019-04-02 03:23:26,2015-03-18,Andy,Mcmanus,andy.mcmanus@dot.wa.edu.au,61411144301,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600116,zcrm_3584690000467103041,2023-10-26 16:49:40,empty,Ritesh,Jain,rgjain.jain7@gmail.com,61469874054,empty,empty,empty,...,SEAP,Not Qualified,empty,empty,empty,empty,empty,empty,empty,empty
600117,zcrm_3584690000467237001,2023-10-27 19:12:00,empty,MhAmad,Hussein,mohamadhoussein@live.com,61420609622,empty,empty,1993,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty
600132,zcrm_3584690000505204001,2024-08-20 16:20:13,empty,Gary,Charles,gary_charles@dominatingkeywords.com,618185327032,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false
600133,zcrm_3584690000506044042,2024-08-30 10:49:51,empty,Gary,Charles,garycharles@dominatingkeywords.com,618185327032,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false
600138,zcrm_3584690000520283034,2025-01-08 04:49:22,empty,kat,Pearce,kwp744@gmail.com,610412929135,empty,empty,1970,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false

In [73]:
zoho_df.drop_duplicates(subset=['Phone','Email', 'Mobile'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000408007,2019-01-07 13:29:59,empty,Ht Chandra,N Usman,ichan051163@gmail.com,628116190115,8126542115,1963-01-01,1963,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000000408013,2019-01-07 17:22:27,empty,Endah,Haryani,awal.endah83@gmail.com,87888802700,empty,1983-01-01,1983,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000000408020,2019-01-07 18:22:28,empty,Alda Beatrix,Wattimena,aldabeatrix.abw@gmail.com,6285344502233,empty,1986-01-01,1986,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000000408026,2019-01-07 20:07:11,empty,Rini,Siregar,rini.siregar21@gmail.com,87888282359,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000000409019,2019-01-07 15:00:14,empty,Christine Marylin,Effendi,christinemarylin@gmail.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534523,zcrm_3584690000510697002,2024-10-02 14:15:31,empty,Matt,Harrington,matt_lah@yahoo.com.sg,61458827899,empty,empty,2009,...,SEAP,Not Qualified,empty,empty,false,false,false,empty,empty,false
534524,zcrm_3584690000519858011,2025-01-01 14:53:53,empty,scott,atkinson,scottatkinson1979@gmail.com,610419918057,empty,empty,1980,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
534525,zcrm_3584690000520178108,2025-01-08 05:01:29,empty,kat,Pearce,kwp744@gmail.com,610412929135,empty,empty,1970,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
534526,zcrm_3584690000520542015,2025-01-10 15:24:39,empty,Halie,Johnson,haliebabie1209@gmail.com,612019402400,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false
534527,zcrm_3584690000525736001,2025-02-26 04:14:09,empty,Gary,Charles,garycharles@dominatingkeywords.com,618054002077,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false

In [74]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
28144,zcrm_3584690000006082754,2019-04-02 03:11:29,2015-05-12,empty,empty,test@bali.com,61361254566,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
28145,zcrm_3584690000006082755,2019-04-02 03:11:29,2015-05-12,empty,empty,test@benny.com,61361767767,61361232211,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
28146,zcrm_3584690000006082758,2019-04-02 03:11:29,2015-05-12,Michael,Angus,test@hotmail.com,6666666,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
28147,zcrm_3584690000006082759,2019-04-02 03:11:29,2015-05-12,Hosanna,Hosanna,test@mail.com,6117324567,9718754212356,1989-09-11,1989,...,Other,empty,empty,empty,empty,empty,empty,empty,empty,empty
28148,zcrm_3584690000006082761,2019-04-02 03:11:29,2015-05-12,empty,empty,test@test.net,61361890898,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
28149,zcrm_3584690000006082763,2019-04-02 03:11:29,2015-05-12,empty,empty,test@tests.com,61909090909,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
28150,zcrm_3584690000006082765,2019-04-02 03:11:29,2015-05-12,empty,empty,test@thebaligetaway.com,40556801,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
178855,zcrm_3584690000007514372,2019-04-02 06:05:24,2015-04-14,14rose,Is,test@14rosein.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
178856,zcrm_3584690000007514374,2019-04-02 06:05:24,2015-05-12,empty,empty,test@bte.com,361765675,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
178857,zcrm_3584690000007514375,2019-04-02 06:05:24,2015-05-12,empty,empty,test@chooo.fr,11121456,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
178858,zcrm_3584690000007514378,2019-04-02 06:05:24,2015-05-12,empty,empty,test@test-ramadaencore-email.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
311114,zcrm_3584690000132257487,2019-10-15 16:56:54,empty,eka,suryawan,guseka.dev+test@gmail.com,618123456789,empty,1964-10-01,1964,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
380698,zcrm_3584690000208472763,2020-08-01 09:35:15,empty,Test,Test,test@gmail.com,628123456789,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
443978,zcrm_3584690000346106113,2022-02-17 14:57:37,empty,TEST,test,rizkykyledjaelani@outlook.com,6287777101586,6287777101586,empty,1979,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty
494896,zcrm_3584690000411589404,2022-11-18 14:55:40,empty,Herlina,test,herlina.priscilla29@gmail.com,6281296778870,6281296778870,1998-10-29,empty,...,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty
500140,zcrm_3584690000414409002,2022-11-30 23:04:39,empty,Test,Test,test.test@test.com,6112345,empty,empty,1994,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty
500141,zcrm_3584690000414410041,2022-11-30 22:59:26,empty,Test,Test,test.test@test.com,12345,empty,empty,empty,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty
505210,zcrm_3584690000416977562,2022-12-14 16:07:02,empty,test,test,tetststst@gmail.com,62787777777,62787777777,2022-12-14,2022,...,SEAP,Not Qualified,empty,empty,empty,empty,empty,empty,empty,empty
505642,zcrm_3584690000417318433,2022-12-15 15:41:13,empty,empty,<test lead: dummy data for full_name>,test@fb.com,empty,empty,empty,empty,...,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty

In [75]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [76]:
# dnm_leads = zoho_df.loc[(zoho_df['Do Not Mail'] == 'true') | (zoho_df['Do Not Contact'] == 'true')]
# count_dnm = dnm_leads.shape[0]

In [77]:
# zoho_df.drop(dnm_leads.index, inplace=True)
# zoho_df.reset_index(drop=True, inplace=True)

# count_after_dedup_dnm = zoho_df.shape[0]

In [78]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
938,zcrm_3584690000000657181,2019-01-13 06:55:40,empty,Yohanes Pamungkas,Santoso,yohanes@smailingtour.co.id,8158082392,empty,1981-09-14,1981,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2194,zcrm_3584690000000668331,2019-01-13 15:50:42,empty,Silvia,Utami,glorietourpadang@gmail.com,87877744428,empty,1962-03-25,1962,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2413,zcrm_3584690000000670403,2019-01-13 17:40:08,empty,Moen,Moen,moen.tour@yahoo.com,81219991033,empty,1982-01-01,1982,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2776,zcrm_3584690000000706621,2019-01-17 01:35:43,empty,Anang,Hardiansyah,selebritis.tourtravel@gmail.com,89681821456,empty,1989-01-01,1989,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2892,zcrm_3584690000000708359,2019-01-16 08:48:15,empty,Yulianto,Budi,tours_permata@yahoo.com,6282233295200,empty,1986-01-01,1986,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518796,zcrm_3584690000422787209,2023-01-14 07:30:46,empty,Eny,Cahyani,enyms.tourism28@gmail.com,6282247755757,6282247755757,1990-09-28,1990,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty
520473,zcrm_3584690000423027034,2023-01-16 15:34:11,empty,RISMA,BORU TAMBUN,axltourtravelbatam@gmail.com,6281364723772,6281364723772,1974-10-17,1974,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty
522387,zcrm_3584690000423791301,2023-01-21 09:47:48,empty,Darwin,Witarsa,qtourslombok@gmail.com,6282144304565,6282144304565,1981-06-06,1981,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty
524590,zcrm_3584690000424740220,2023-01-26 09:54:41,empty,empty,Robyn Letourneau,rletourneau@bigpond.com,610402008495,empty,1962-04-23,empty,...,empty,empty,empty,empty,empty,empty,empty,empty,empty,empty
532466,zcrm_3584690000430855268,2023-02-23 07:14:24,empty,Victor,Vabio,pasiartourtravel@yahoo.com,6285358856161,6285358856161,1990-03-30,1990,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty

In [79]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000408007,2019-01-07 13:29:59,empty,Ht Chandra,N Usman,ichan051163@gmail.com,628116190115,8126542115,1963-01-01,1963,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000000408013,2019-01-07 17:22:27,empty,Endah,Haryani,awal.endah83@gmail.com,87888802700,empty,1983-01-01,1983,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000000408020,2019-01-07 18:22:28,empty,Alda Beatrix,Wattimena,aldabeatrix.abw@gmail.com,6285344502233,empty,1986-01-01,1986,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000000408026,2019-01-07 20:07:11,empty,Rini,Siregar,rini.siregar21@gmail.com,87888282359,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000000409019,2019-01-07 15:00:14,empty,Christine Marylin,Effendi,christinemarylin@gmail.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534120,zcrm_3584690000510697002,2024-10-02 14:15:31,empty,Matt,Harrington,matt_lah@yahoo.com.sg,61458827899,empty,empty,2009,...,SEAP,Not Qualified,empty,empty,false,false,false,empty,empty,false
534121,zcrm_3584690000519858011,2025-01-01 14:53:53,empty,scott,atkinson,scottatkinson1979@gmail.com,610419918057,empty,empty,1980,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
534122,zcrm_3584690000520178108,2025-01-08 05:01:29,empty,kat,Pearce,kwp744@gmail.com,610412929135,empty,empty,1970,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
534123,zcrm_3584690000520542015,2025-01-10 15:24:39,empty,Halie,Johnson,haliebabie1209@gmail.com,612019402400,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false
534124,zcrm_3584690000525736001,2025-02-26 04:14:09,empty,Gary,Charles,garycharles@dominatingkeywords.com,618054002077,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false

In [80]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
12587,zcrm_3584690000002492722,2019-02-22 14:51:05,empty,Reza,Bintang Aurora,reza.bintang@thebaligetaway.com,8113961761,empty,empty,1980,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
30350,zcrm_3584690000006087837,2019-04-02 03:11:56,2015-05-12,empty,empty,itdept@royalperspective.com,6235157821,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
47378,zcrm_3584690000006128606,2019-04-02 03:15:42,2015-05-12,empty,empty,bhanu@royalperspective.com,61412123123123,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
63195,zcrm_3584690000006167006,2019-04-02 03:19:20,2015-05-12,empty,empty,lee+baligetawaycomau@ccp.com.au,61400481632,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
70612,zcrm_3584690000006184540,2019-04-02 03:21:02,2017-02-13,Shally,Shally,shally@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
72024,zcrm_3584690000006187636,2019-04-02 03:21:20,2015-03-18,empty,Tom,tom@royalperspective.com,9809854208,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
72037,zcrm_3584690000006187649,2019-04-02 03:21:20,2015-05-12,empty,empty,tom2@royalperspective.com,61143143541,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
83316,zcrm_3584690000006220962,2019-04-02 03:24:41,2015-03-10,Mark,Burkster,mark.burke@thebaligetaway.com,6199999999,12152266666,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
83792,zcrm_3584690000006222148,2019-04-02 03:24:49,2015-05-12,empty,empty,matt@trhebaligetaway.com,81111222333,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
128444,zcrm_3584690000007412007,2019-04-02 05:55:30,2018-11-20,Tes,Tes,arif.alhana@thebaligetaway.com,181727,empty,1986-01-01,1986,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
137286,zcrm_3584690000007429978,2019-04-02 05:57:08,2015-05-12,Alfredo,Pangaribuan,alfredo@thebaligetaway.com,87860581444,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
141194,zcrm_3584690000007437877,2019-04-02 05:57:51,2015-05-12,Antien,Ritonga,antien.ritonga@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
146563,zcrm_3584690000007448810,2019-04-02 05:58:51,2015-08-20,empty,empty,3232@royalperspective.com,361245789,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
146564,zcrm_3584690000007448913,2019-04-02 05:58:53,2015-08-20,empty,empty,323212@royalperspective.com,361245789,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
199827,zcrm_3584690000007557407,2019-04-02 06:09:56,2015-07-29,empty,empty,wayan.wirka@odysseypremier.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
256683,zcrm_3584690000029298161,2019-05-08 09:54:02,empty,empty,Wannee,putrilagi@baligetaway.co.id,0218765432,0218765432,empty,1920,...,SEAP,Not Qualified,empty,empty,empty,empty,empty,empty,empty,empty
274046,zcrm_3584690000071703656,2019-07-15 15:31:05,empty,Sami,Benafia,sam.benafia@hotel.discount,61123456789,empty,1968-07-07,1968,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
276337,zcrm_3584690000079416727,2019-07-22 10:22:05,empty,Sami,benafia,sam.benafia@thebaligetaway.com,61123456789,empty,1968-07-07,1968,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
289436,zcrm_3584690000101159142,2019-08-20 17:19:58,empty,Clinton,Albuquerque,clinton.albuquerque@karmaroyalgroup.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
290163,zcrm_3584690000101304458,2019-08-20 17:20:07,empty,Richard,D,ric.hallam@karmaroyalgroup.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
291849,zcrm_3584690000101307967,2019-08-20 17:20:33,empty,empty,empty,aaron@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
291850,zcrm_3584690000101307968,2019-08-20 17:20:33,empty,empty,empty,daniel@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
291851,zcrm_3584690000101307969,2019-08-20 17:20:33,empty,empty,empty,joyce@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
291852,zcrm_3584690000101307970,2019-08-20 17:20:33,empty,empty,empty,liam@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
291853,zcrm_3584690000101307971,2019-08-20 17:20:33,empty,empty,empty,michael_s@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
291854,zcrm_3584690000101307972,2019-08-20 17:20:33,empty,empty,empty,moses@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
291855,zcrm_3584690000101307973,2019-08-20 17:20:33,empty,empty,empty,rob@thebaligetaway.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
292415,zcrm_3584690000101309140,2019-08-20 17:20:41,empty,empty,empty,matt.heslington@karmaroyalgroup.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
292673,zcrm_3584690000101309601,2019-08-20 17:20:44,empty,Samantha,Pennance,sam@karmaroyalgroup.com,61416928269,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
292738,zcrm_3584690000101309666,2019-08-20 17:20:44,empty,empty,Ponidjan,rdm@karmakandara.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
293085,zcrm_3584690000101310419,2019-08-20 17:20:50,empty,empty,Sean,sean@karmaroyalgroup.com,empty,empty,empty,empty,...,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty,empty
296830,zcrm_3584690000106114375,2019-08-27 12:05:29,empty,Jaykee,Bautista,jaykee.bautista@hotel.discount,639558478015,empty,1988-01-19,1988,...,Other,empty,empty,empty,empty,empty,empty,empty,empty,empty
330512,zcrm_3584690000150395320,2019-10-02 16:14:31,empty,baligetawaydeal.com,baligetawaydeal.com,baligetawaydeal.com@domstat.su,empty,empty,empty,empty,...,UK/Europe,empty,empty,empty,empty,empty,empty,empty,empty,empty
425162,zcrm_3584690000313730122,2021-09-10 19:32:37,empty,Nama Depan,Nama Belakang,email@baligetaway.co.id,628888888888888888,628888888888888888,empty,2011,...,SEAP,Not Qualified,empty,empty,empty,empty,empty,empty,empty,empty
434372,zcrm_3584690000330651573,2021-12-12 01:54:49,empty,depan,belakang,baligetaway@gmail.com,628123456789,628123456789,empty,2007,...,SEAP,Not Qualified,empty,empty,empty,empty,empty,empty,empty,empty
434455,zcrm_3584690000330670624,2021-12-12 01:52:18,empty,Nama depan,Nama belakang,prikitiew@baligetaway.com,6281111111111,6281111111111,empty,2007,...,SEAP,Not Qualified,empty,empty,empty,empty,empty,empty,empty,empty
483568,zcrm_3584690000404712043,2022-10-14 05:14:52,empty,Ilmo,Ott,ilmo.ott+baligetaway@hotmail.com,61450381573,empty,1995-11-02,empty,...,SEAP,Hot Prospect,empty,empty,empty,empty,empty,empty,empty,empty

In [81]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?
0,zcrm_3584690000000408007,2019-01-07 13:29:59,empty,Ht Chandra,N Usman,ichan051163@gmail.com,628116190115,8126542115,1963-01-01,1963,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000000408013,2019-01-07 17:22:27,empty,Endah,Haryani,awal.endah83@gmail.com,87888802700,empty,1983-01-01,1983,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000000408020,2019-01-07 18:22:28,empty,Alda Beatrix,Wattimena,aldabeatrix.abw@gmail.com,6285344502233,empty,1986-01-01,1986,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000000408026,2019-01-07 20:07:11,empty,Rini,Siregar,rini.siregar21@gmail.com,87888282359,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000000409019,2019-01-07 15:00:14,empty,Christine Marylin,Effendi,christinemarylin@gmail.com,empty,empty,empty,empty,...,SEAP,empty,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534083,zcrm_3584690000510697002,2024-10-02 14:15:31,empty,Matt,Harrington,matt_lah@yahoo.com.sg,61458827899,empty,empty,2009,...,SEAP,Not Qualified,empty,empty,false,false,false,empty,empty,false
534084,zcrm_3584690000519858011,2025-01-01 14:53:53,empty,scott,atkinson,scottatkinson1979@gmail.com,610419918057,empty,empty,1980,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
534085,zcrm_3584690000520178108,2025-01-08 05:01:29,empty,kat,Pearce,kwp744@gmail.com,610412929135,empty,empty,1970,...,SEAP,Hot Prospect,empty,empty,false,false,false,empty,empty,false
534086,zcrm_3584690000520542015,2025-01-10 15:24:39,empty,Halie,Johnson,haliebabie1209@gmail.com,612019402400,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false
534087,zcrm_3584690000525736001,2025-02-26 04:14:09,empty,Gary,Charles,garycharles@dominatingkeywords.com,618054002077,empty,empty,empty,...,SEAP,New Lead,empty,empty,false,false,false,empty,empty,false

In [82]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
# find_member_booking.to_csv(r'C:\Users\fajar.fatoni\Documents\Python\Data\booking-member-dedup.csv', index=False)
# find_member_booking.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [83]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [84]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\blank_data.xlsx', index=False)

zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [85]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

66053

In [86]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
# print("Jumlah Lead Do Not Mail : "+str(count_dnm))
# print("Jumlah Setelah Clean Lead Do Not Mail : "+str(count_after_dedup_dnm))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Keseluruhan Master Zoho : 10030861
Jumlah Filter Leads Awal : 600141
Jumlah Format Email Salah : 0
Jumlah Setelah Clean Format Email Salah : 600141
Jumlah Duplicate (Phone, Mobile dan Email) : 65613
Jumlah Setelah Clean Duplicate : 534528
Jumlah Lead Test : 19
Jumlah Setelah Clean Lead Test : 534509
Jumlah Email OTA : 384
Jumlah Setelah Clean Email OTA : 534125
Jumlah Email Karma : 37
Jumlah Setelah Clean Email Karma : 534088
Jumlah Wash Member : 12298
Jumlah Wash Booking : 22000
Jumlah Setelah Wash Member : 499790
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 499790
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 45084
Jumlah Phone Only : 0
Jumlah Email dan Phone : 454706

In [87]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 600141
Jumlah Wash Dedup : 66053
Jumlah Wash Member : 12298
Jumlah Wash Booking : 22000
Jumlah Data Akhir : 499790

# ====================== Akhir Filter Umum ======================

In [88]:
zoho_df.replace('empty', '', inplace=True, regex=True)

zoho_df['First Name'] = zoho_df['First Name'].str.title()
zoho_df['Last Name'] = zoho_df['Last Name'].str.title()

# zoho_df.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\baligateway_all_time.xlsx', index=False)

In [89]:
zoho_df.groupby('Country').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Do you live in Bali?,Contact Type
Country,,,,,,,,,,,,,,,,,,,,,
,13955,13955,13955,13955,13955,13955,13955,13955,13955,13955,...,13955,13955,13955,13955,13955,13955,13955,13955,13955,13955
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Afghanistan,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Albania,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
Algeria,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
raelynn cowan,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
reagan douglas,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
riya li,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
roselyn flowers,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
zackary bruce,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3

In [90]:
# zoho_df['Country'].loc[
#     (zoho_df['Phone'].str.contains('^44|^\+44')) & 
#     (~zoho_df['Country'].str.contains('united kingdom|wales|england|scotland|northern ireland', regex=True, flags=re.I))
# ]